<div class="page-header">
  <h1>Студенты</h1>
</div>

<%= render 'students/filters' %>

<div id="ajax_content" data-href="<%=root_url %>ciot/">
  <%= paginate_with_info @students %>

  <table class="table table-hover">
    <thead>
    <tr>
      <th>#</th>
      <th>Фамилия</th>
      <th>Имя</th>
      <th>Отчество</th>
      <th>Группа</th>
      <th>Логин</th>
      <th>Пароль</th>
      <th></th>
    </tr>
    </thead>
    <tbody id="ciotStudents">
    <% @students.each do |student| %>
      <tr>
        <td><%= student.id %></td>
        <td><%= student.person.last_name %></td>
        <td><%= student.person.first_name %></td>
        <td><%= student.person.patronym %></td>
        <td><%= student.group.name %></td>
        <td><%= student.ciot_login %></td>
        <td><%= student.ciot_password %></td>
        <td>
          <%= link_to "#changeCiot_#{student.id}", class: 'btn btn-default', data: {toggle: 'modal'} do %>
            <span class='glyphicon glyphicon-edit'></span>
          <% end %>
          <%= render(partial: 'modal',
                     locals: { student: student }) %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>