<div class="page-header">
    <h1>Протоколы заседения приёмной комисси</h1>
</div>

<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Конкурсная группа</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
        <td>1</td>
        <td>Протоколы от 7 июля, типа творческие</td>
        <td>
            <%= link_to 'Распечатать протокол допуска к вступительным испытаниям',
                        protocols_entrance_items_path(type: 1),
                        target: :blank, class: 'btn btn-default' %>
        </td>
    </tr>
    <tr>
        <td>2</td>
        <td>Протоколы от 10 июля, типа внутренние</td>
        <td>
            <%= link_to 'Распечатать протокол допуска к вступительным испытаниям',
                        protocols_entrance_items_path( type: 2),
                        target: :blank, class: 'btn btn-default' %>
        </td>
    </tr>
    <tr>
        <td>3</td>
        <td>Протоколы от 25 июля, типа ЕГЭ</td>
        <td>
            <%= link_to 'Распечатать протокол допуска к вступительным испытаниям',
                        protocols_entrance_items_path(type: 3),
                        target: :blank, class: 'btn btn-default' %>
        </td>
    </tr>
    <tr>
        <td>4</td>
        <td>Протоколы от 15 июля (магистратура)</td>
        <td>
            <%= link_to 'Распечатать протокол допуска к вступительным испытаниям',
                        protocols_entrance_items_path(type: 4),
                        target: :blank, class: 'btn btn-default' %>
        </td>
    </tr>
    <tr>
        <td>5</td>
        <td>Протоколы от 7 июля (аспирантура)</td>
        <td>
            <%= link_to 'Распечатать протокол допуска к вступительным испытаниям',
                        protocols_entrance_items_path(type: 5),
                        target: :blank, class: 'btn btn-default' %>
        </td>
    </tr>
    <tr>
        <td>6</td>
        <td>Протоколы от 7 июля</td>
        <td>
            <%= link_to 'Распечатать протокол допуска к вступительным испытаниям',
                        protocols_entrance_items_path(type: 6),
                        target: :blank, class: 'btn btn-default' %>
        </td>
    </tr>
  </tbody>
</table>
