<div class="page-header">
  <h1>Ошибки при вводе</h1>
</div>

<div class='col col-lg-12' style='margin-bottom: 20px; padding: 0;'>
  <form id='filterforanalyse' class='form-inline'>
    <div class='col col-lg-3'>
      <%= select_tag :subject_group, options_from_collection_for_select(Group.all.sort_by{|g| [g.name]}, :id, :name),
                     prompt: 'все группы' %>
    </div>
    <input type='submit' value='Найти' class='btn btn-default'>
  </form>
</div>

<div class='paginator'>
  <%= paginate_with_info @collisions %>
</div>


<table class='table table-hover'>
  <thead>
  <tr>
    <th></th>
    <th></th>
    <th>Студент</th>
    <th>Дисциплина</th>
    <th>Ошибка</th>
    <th></th>
  </tr>
  </thead>
  <tobdy>
    <% @collisions.each do |collision|%>
      <tr>
        <td><%= collision[:students].group.speciality.faculty.abbreviation %></td>
        <td><%= collision[:students].group.name %></td>
        <td><%= collision[:students].person.full_name %></td>
        <td><%= collision[:subject].title %></td>
        <td><%= collision[:error_txt] %></td>
        <td><%= link_to 'Редактировать', edit_study_subject_mark_path(collision[:subject], collision[:mark]) %></td>
      </tr>
    <% end %>
  </tobdy>
</table>