<ul class="breadcrumb">
  <li><a href="#">Успеваемость</a></li>
  <li><a href="/study/disciplines">Дисциплины</a></li>
  <li><a href="<%= study_discipline_checkpoints_path(@discipline) %>"><%= @discipline.name %></a></li>
  <li class="active">Внесение результатов</li>
</ul>

<div class="page-header">
  <h1>
    <%= @discipline.name %> <small><%= @discipline.group.name %></small>
  </h1>
  <h3><%= @checkpoint.date %> <%= @checkpoint.name if @checkpoint.type == 3 %>
    <%= @checkpoint.lessonname %></h3>
</div>

<%= render 'form' %>

 