<%= f.fields_for :main_id_document do |sub_f| %>
  <%= sub_f.hidden_field :main %>

  <div class="form-group">
      <%= sub_f.label :identity_document_type_id, class: 'col-sm-2 control-label' %>
      <div class="col-sm-9">
          <%= sub_f.select :identity_document_type_id,
                           options_from_collection_for_select(
                             IdentityDocumentType.all, :id, :name,
                             sub_f.object.identity_document_type_id ? sub_f.object.identity_document_type_id : 1
                           ), {}, class: 'form-control' %>
      </div>
  </div>

  <div class="form-group">
      <%= sub_f.label :series, class: 'col-sm-2 control-label' %>
      <div class="col-sm-3">
          <%= sub_f.text_field :series, class: 'form-control' %>
      </div>

      <%= sub_f.label :number, class: 'col-sm-3 control-label' %>
      <div class="col-sm-3">
          <%= sub_f.text_field :number, class: 'form-control', required: true %>
      </div>
  </div>

  <div class="form-group">
      <%= sub_f.label :organization, class: 'col-sm-2 control-label' %>
      <div class="col-sm-9">
          <%= sub_f.text_field :organization, class: 'form-control' %>
      </div>
  </div>

  <div class="form-group">
      <%= sub_f.label :date, class: 'col-sm-2 control-label' %>
      <div class="col-sm-3">
          <%= sub_f.text_field :date, class: 'form-control datepicker',
                               value: sub_f.object.date ? l(sub_f.object.date) : '', required: true%>
      </div>

      <%= sub_f.label :subvision_code, class: 'col-sm-3 control-label' %>
      <div class="col-sm-3">
          <%= sub_f.text_field :subvision_code, class: 'form-control'%>
      </div>
  </div>

  <div class="form-group">
      <%= sub_f.label :nationality_type_id, class: 'col-sm-2 control-label' %>
      <div class="col-sm-9">
          <%= sub_f.select :nationality_type_id,
                           options_from_collection_for_select(
                             NationalityType.all, :id, :name,
                             sub_f.object.nationality_type_id ? sub_f.object.nationality_type_id : 1
                           ), {}, class: 'form-control' %>
      </div>
  </div>

  <div class="form-group">
      <%= sub_f.label :birthday, class: 'col-sm-2 control-label' %>
      <div class="col-sm-3">
          <%= sub_f.text_field :birthday, class: 'form-control datepicker',
                               value: sub_f.object.birthday ? l(sub_f.object.birthday) : '', required: true %>
      </div>

      <%= sub_f.label :birthplace, class: 'col-sm-3 control-label' %>
      <div class="col-sm-3">
          <%= sub_f.text_field :birthplace, class: 'form-control' %>
      </div>
  </div>

  <div class="form-group">
      <div class="col-sm-offset-2 col-sm-3">
          <div class="checkbox">
              <label>
                  <%= sub_f.check_box :original %>
                  <strong>получен оригинал</strong>
              </label>
          </div>
      </div>

      <%= sub_f.label :original_date, class: 'col-sm-3 control-label' %>
      <div class="col-sm-3">
          <%= sub_f.text_field :original_date, class: 'form-control datepicker',
                               value: sub_f.object.original_date ? l(sub_f.object.original_date) : ''%>
      </div>
  </div>

  <hr>
<% end %>
