<div class="page-header">
  <h1>
    Абитуриенты
    <small><%= @campaign.name %></small>
  </h1>
</div>

<div class="row">
  <div class="col-sm-12">
    <%= link_to 'Добавить абитуриента',
                new_entrance_campaign_entrant_path(@campaign) %>
  </div>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Фамилия</th>
      <th>Имя</th>
      <th>Отчество</th>
      <th>Паспорт</th>
      <th>Экзамены</th>
      <th>Заявления</th>
      <th></th>
    </tr>
  </thead>
  <% @entrants.each do |entrant| %>
    <tr>
      <td class="text-muted"><%= entrant.id %></td>
      <td><%= entrant.last_name %></td>
      <td><%= entrant.first_name %></td>
      <td><%= entrant.patronym %></td>
      <td><%= [entrant.pseries, entrant.pnumber].join(' ') %></td>
      <td>
        <%= link_to_if false, entrance_campaign_entrant_exam_results_path(@campaign, entrant) do %>
          <%= entrant.exam_results.count %>
          <%= Russian::p(entrant.exam_results.count,
                         'экзамен',
                         'экзамена',
                         'экзаменов') %>
        <% end %>
      </td>

      <td>
        <%= link_to entrance_campaign_entrant_applications_path(@campaign, entrant) do %>
          <%= entrant.applications.count %>
          <%= Russian::p(entrant.applications.count,
                         'заявление',
                         'заявления',
                         'заявлений') %>
        <% end %>
      </td>
      <td>
        <% if can?(:manage, :all) %>
          <%= link_to edit_entrance_campaign_entrant_path(@campaign, entrant),
                      class: 'btn btn-danger' do %>
            <span class="glyphicons pen"></span>
          <% end %>

          <%= link_to entrance_campaign_entrant_path(@campaign, entrant),
                      method: :delete, class: 'btn btn-danger',
                      data: { confirm: 'Вы уверены?' } do %>
            <span class="glyphicons remove_2"></span>
          <% end %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>