<%= nested_form_for @checkpoint, url: study_discipline_checkpoint_path(@discipline, @checkpoint),
                    method: :patch, html: { class: 'form-horizontal marks', role: 'form', id: 'formForMarks' } do |f| %>
  <div class="form-group">
    <%= f.label :group, class: 'control-label col-sm-3' %>
    <div class="col-sm-9">
      <p class="form-control-static"><%= @discipline.group.name %></p>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :discipline, class: 'control-label col-sm-3' %>
    <div class="col-sm-9">
      <p class="form-control-static"><%= @discipline.name %></p>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :date, class: 'control-label col-sm-3' %>
    <div class="col-sm-9">
      <p class="form-control-static"><%= l @checkpoint.date, format: :long %></p>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :type, class: 'control-label col-sm-3' %>
    <div class="col-sm-9">
      <p class="form-control-static"><%= checkpoint_type(@checkpoint) %></p>
    </div>
  </div>

  <% if @checkpoint.is_checkpoint? %>
    <div class="form-group">
      <%= f.label :min, class: 'control-label col-sm-3' %>
      <div class="col-sm-9">
        <p class="form-control-static"><%= @checkpoint.min %></p>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :max, class: 'control-label col-sm-3' %>
      <div class="col-sm-9">
        <p class="form-control-static maxValue"><%= @checkpoint.max %></p>
      </div>
    </div>
  <% end %>

  <div class="alert alert-warning" style="display: none;">
    <p>Проверьте правильность введенных баллов</p>
  </div>

  <table class="table" data-value="<%= @checkpoint.type %>">
    <% @students.each do |student| %>
      <tr>
        <td class="text-muted"><%= student.id %></td>
        <td><%= student.person.full_name %></td>
        <% mark = @checkpoint.marks.by_student(student).last %>
        <% if mark == nil %>
          <td>
          <%= render "study/marks/mark#{@checkpoint.type}_fields",
                        f: f, student: student.id %>
          </td>
        <% else %>
          <td>
            <% if @checkpoint.is_checkpoint? %>
              <span  class="label label-<%= mark.mark < @checkpoint.min ? 'danger' : 'success' %>"><%= mark.mark %> из <%= @checkpoint.max %></span>
            <% else %>
              <span  class="label label-<%= mark.result[:color] %>"><%= mark.result[:mark] %></span>
            <% end %>
            <div class="editMarkField">
              <br>
              <%= render "study/marks/mark#{@checkpoint.type}_fields",
                         f: f, student: student.id %>
            </div>
          </td>
          <td><button class="btn btn-default editMarkButton">Редактировать</button></td>
        <% end %>
      </tr>
    <% end %>
  </table>
  <div class="col-sm-3 col-sm-offset-4">
    <%= f.submit 'Внести результаты', class: 'btn btn-primary' %>
  </div>
<% end %>


<%#=#= form_tag study_discipline_checkpoint_marks_path(@discipline, @checkpoint), class: 'val', id: 'form-for-checkpointmark' do %>

  <!--<table class='table table-striped'>-->
    <!--<thead>-->
    <!--<tr>-->
      <!--<th class='text-muted'>#</th>-->
      <!--<th>Студент</th>-->
      <!--<th>Результаты контроля</th>-->
      <!--<th></th>-->
    <!--</tr>-->
    <!--</thead>-->
    <!--<tbody>-->
    <%#=# @discipline.group.students.each do |student| %>
    <!--<tr>-->
      <!--<td class='text-muted'>-->
        <%#=#= student.id %>
        <%#=#= hidden_field_tag 'checkpointmarks[][student]', student.id %>
        <%#=#= hidden_field_tag 'checkpointmarks[][checkpoint]', @checkpoint.id %>
      <!--</td>-->
      <!--<td><%#=#= student.person.full_name %></td>-->
      <%#=# mark = @checkpointmarks.by_student(student).last %>
      <!--<td>-->
        <%#=# if mark != nil %>
          <%#=# if @checkpoint.is_checkpoint? %>
            <!--<div class='col col-lg-7'>-->
              <!--<p class='text-center'><%#== mark.mark %></p>-->
            <!--</div>-->
          <%#=# else %>
            <!--<div class='col col-lg-10'>-->
              <!--<span class="label label-<%#== mark.result[:color] %>"><%#== mark.result[:mark] %></span>-->
            <!--</div>-->
          <%#=# end %>
        <%#=# end %>
        <!--<div id="check_result_<%#== student.id %>" style="display: <%#== mark!=nil ? 'none' : 'block' %>;">-->
          <%#=# if @checkpoint.lecture? %>
            <%#=#= hidden_field_tag 'checkpointmarks[][mark]', mark == nil ? nil : mark.mark,  id: "#{student.id}_mark" %>
            <!--<ul class='nav nav-pills pill-select' name='pillmark' id='pillmark'>-->
              <!--<li><a data-toggle='pill' data-value='1001' data-input="<%#== student.id %>_mark"  href='#'>Не посетил</a></li>-->
              <!--<li><a data-toggle='pill' data-value='1002' data-input="<%#== student.id %>_mark"  href='#'>Посетил</a></li>-->
            <!--</ul>-->
          <%#=# elsif @checkpoint.seminar? %>
            <%#=#= hidden_field_tag 'checkpointmarks[][mark]',  mark == nil ? nil : mark.mark, id: "#{student.id}_mark" %>
            <!--<ul class='nav nav-pills pill-select' name='pillmark' id='pillmark'>-->
              <!--<li><a data-toggle='pill' data-value='2001' data-input="<%#== student.id %>_mark"  href='#'>Неудовл.</a></li>-->
              <!--<li><a data-toggle='pill' data-value='2004' data-input="<%#== student.id %>_mark"  href='#'>Удовл.</a></li>-->
              <!--<li><a data-toggle='pill' data-value='2002' data-input="<%#== student.id %>_mark"  href='#'>Хорошо</a></li>-->
              <!--<li><a data-toggle='pill' data-value='2003' data-input="<%#== student.id %>_mark"  href='#'>Отлично</a></li>-->
            <!--</ul>-->
          <%#=# else %>
            <!--<div class='col col-lg-7'>-->
              <%#== text_field_tag 'checkpointmarks[][mark]',  mark == nil ? nil : mark.mark, id: "#{student.id}_mark", class: 'form-control' %>
            <!--</div>-->
          <%#=# end %>
        <!--</div>-->
      <!--</td>-->
      <!--<td>-->
        <%#=# if mark != nil %>
          <!--<a class='mark-editor btn btn-default' data-value="<%#=#= student.id %>" title='Редактировать'><span class='glyphicon glyphicon-edit'></span></a>-->
        <%#=# end %>
      <!--</td>-->
    <!--</tr>-->
    <%#=# end %>
    <!--</tbody>-->
  <!--</table>-->


  <%#=#= submit_tag 'Сохранить оценки', class: 'btn btn-default', id: 'submit-req' %>

  <!--или-->
  <%#=#= link_to 'назад', study_discipline_checkpoints_path(@discipline) %>
<%#=# end %>