<%# Поля для отметок о посещении практических (лабораторных) занятий. %>
<% mark = @checkpoint.marks.by_student(student).last ?  @checkpoint.marks.by_student(student).last : @checkpoint.marks.build  %>
<%= f.fields_for :marks, mark  do |marks_form| %>
  <%= marks_form.hidden_field :id, class: 'mark_id' %>
  <%= marks_form.hidden_field :checkpoint_mark_student, value: student %>
  <div class="btn-group<%= @checkpoint.marks.by_student(student).last ? ' btn-group-xs' : '' %>" data-toggle="buttons">
    <label class="btn btn-default<%= ' active' if mark.mark == Study::Mark::MARK_PRACTICAL_BAD %>">
      <%= marks_form.radio_button :mark, Study::Mark::MARK_PRACTICAL_BAD, id: "#{student}_mark_2" %> Неуд.
    </label>
    <label class="btn btn-default<%= ' active' if mark.mark == Study::Mark::MARK_PRACTICAL_FAIR %>">
      <%= marks_form.radio_button :mark, Study::Mark::MARK_PRACTICAL_FAIR, id: "#{student}_mark_3"  %> Удовл.
    </label>
    <label class="btn btn-default<%= ' active' if mark.mark == Study::Mark::MARK_PRACTICAL_GOOD %>">
      <%= marks_form.radio_button :mark, Study::Mark::MARK_PRACTICAL_GOOD, id: "#{student}_mark_4" %> Хорошо
    </label>
    <label class="btn btn-default<%= ' active' if mark.mark == Study::Mark::MARK_PRACTICAL_PERFECT %>">
      <%= marks_form.radio_button :mark, Study::Mark::MARK_PRACTICAL_PERFECT, id: "#{student}_mark_5"  %> Отлично
    </label>
  </div>
<% end %>
