<div class="mage-header">
  <h1>
    <%= @mark.student.person.full_name %>  <small><%= @mark.student.group.name %></small>
    <br>
    <small>
      <%= @mark.subject.title %> (<%= @mark.subject.type %>)
      <br>
      <%= "#{@mark.subject.year}/#{@mark.subject.year + 1}, #{@mark.subject.semester}-й семестр" %>
    </small>
  </h1>
</div>

<% if @results[:marks].size > 1 %>
  <% if @results[:retakes].size > 1 %>
    <div class='alert alert-error'>Оценка и пересдача внесены неверно!</div>
  <% else %>
    <div class='alert alert-error'>Оценка внесена неверно!</div>
  <% end %>
<% else %>
  <% if @results[:retakes].size > 1 %>
    <div class='alert alert-error'>Пересдача внесена неверно!</div>
  <% end %>
<% end %>

<%= form_tag study_subject_mark_path(@subject, @mark), method: :put, class: 'val' do  %>
  <% @marks.each do |m| %>
    <%= hidden_field_tag 'marks[][id]', m.id %>
    <%= hidden_field_tag 'marks[][student_id]', m.student.id %>  
    <div class='row'>
      <%= label_tag 'user', 'Пользователь', class: 'col col-lg-2 control-label' %>
      <div class='col col-lg-6'>
        <%= hidden_field_tag 'marks[][user_id]', m.user.id %>
        <%= text_field_tag 'user', m.user.id, disabled: 'disabled', class: 'form-control' %>
      </div>
    </div>  
    <div class='row'>
      <%= label_tag 'marks[][mark]', 'Оценка', class: 'col col-lg-2 control-label' %>
      <div class="col col-lg-5">
        <% if @mark.subject.test? %>
          <%= hidden_field_tag 'marks[][mark]', m.mark, id: "#{m.id}_mark" %>
            <ul class='nav nav-pills pill-select' name='pillmark' id='pillmark'>
              <li class="<%= 'active' if 0==m.mark %>"><a data-toggle='pill' data-value='0' data-input="<%= m.id %>_mark"  href='#'>Не зачтено</a></li>
              <li class="<%= 'active' if 1==m.mark %>"><a data-toggle='pill' data-value='1' data-input="<%= m.id %>_mark" href='#'>Зачтено</a></li>
            </ul>
          <% else %>
            <%= hidden_field_tag 'marks[][mark]', m.mark, required: 'required', id: "#{m.id}_mark" %>
            <ul class="nav nav-pills pill-select" name='pillmark' id='pillmark'>
              <li class="<%= 'active' if 2==m.mark %>"><a data-toggle='pill' data-value='2' data-input="<%= m.id %>_mark"  href='#'>Неудовл.</a></li>
              <li class="<%= 'active' if 3==m.mark %>"><a data-toggle='pill' data-value='3' data-input="<%= m.id %>_mark"  href='#'>Удовл.</a></li>
              <li class="<%= 'active' if 4==m.mark %>"><a data-toggle='pill' data-value='4' data-input="<%= m.id %>_mark" href='#'>Хорошо</a></li>
              <li class="<%= 'active' if 5==m.mark %>"><a data-toggle='pill' data-value='5' data-input="<%= m.id %>_mark"  href='#'>Отлично</a></li>
            </ul>
          <% end %>
      </div>
    </div>  
    <div class='row'>
      <%= label_tag 'marks[][retake]', 'Пересдача', class: 'col col-lg-2 control-label' %>
      <div class='col col-lg-6'>
        <select class='form-control' id='marks_retake' name='marks[][retake]'>
          <option <%= 'selected' if 0==m.retake %> value='0'>нет</option>
          <option <%= 'selected' if 1==m.retake %> value='1'>1</option>
          <option <%= 'selected' if 2==m.retake %> value='2'>2</option>
          <option <%= 'selected' if 3==m.retake %> value='3'>3</option>
        </select>
      </div>
    </div> 
    <br>
    <br>
    <br>
  <% end %>
  <div class='row'>
    <div class='col col-lg-2'>
      <%= submit_tag 'Сохранить', class: 'btn btn-default', id: 'submit-req'%>
    </div>
  </div>

<% end %>
