<div class="page-header">
  <h1>
    Оценки <%= @subject.group.name %>
    <br>
    <small>
      <%= @subject.title %>
      (<%= "#{@subject.year}/#{@subject.year + 1}, #{@subject.semester}-й семестр" %>)
    </small>
  </h1>
</div>

<%= link_to 'Добавить', new_study_subject_mark_path, class: 'btn btn-default' %>

<div class='row'>
  <table class='table table-hover'>
    <thead>
    <tr>
      <th>#</th>
      <th>Студент</th>
      <th>Результат</th>
      <th>Пересдача</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
      <% @students.each  do |student| %>
        </tr>
          <td><%= student.id %></td>
          <td><%= student.person.full_name %></td>
          <% student_marks = Array.new %>
          <% @m.each do |m| %>
            <% if m.student_id == student.id %>
              <% student_marks.insert(-1,m) %>
            <% end %>
          <% end %>
          <td>
            <% student_marks.each do |mark| %>
              <%= mark.mark %>
            <% end %> 
          </td>
          <% student_retakes = Array.new %>
          <% @r.each do |r| %>
            <% if r.student_id == student.id %>
              <% student_retakes.insert(-1,r) %>
            <% end %>
          <% end %>
          <td>
            <% student_retakes.each do |retake| %>
              <% if retake.retake == nil %>
                <%= 'нет' %>
              <% else %>
                <%= retake.retake %>
              <% end %>
            <% end %> 
          </td>
          <td><%= link_to  'Редактировать', edit_study_subject_mark_path(@subject, student_marks[0]) %></td>
       </tr>
      <% end %> 
    </tbody>
  </table>
 </div> 