<div class="page-header">
  <h1>
    Оценки <%= @subject.group.name %>
    <br>
    <small>
      <%= @subject.title %>
      (<%= "#{@subject.year}/#{@subject.year + 1}, #{@subject.semester}-й семестр" %>)
    </small>
  </h1>
</div>

<div>Всего студентов: <strong><%= @students.count %></strong></div>
<br>

<%= link_to 'Добавить оценки', new_study_subject_mark_path, class: 'btn btn-default' %>
<%= link_to 'Добавить дисциплину', new_study_subject_path(subject: @subject), class: 'btn btn-default' %>
<%= link_to 'Анализ', study_analyse_path, class: 'pull-right btn btn-info' %>

<% if notice=='Сохранено' %>
  <br>
  <br>
  <div class='alert alert-info'><%= notice %></div>
<% end %>


<div class='row'>
  <table class='table table-hover'>
    <thead>
    <tr>
      <th>#</th>
      <th>Студент</th>
      <th>Результат</th>
      <th>Пересдача</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
      <% @subject_students.each  do |stud| %>
        <tr class="<%= stud[:error] %>">
          <td><%= stud[:students].id %></td>
          <td><%= stud[:students].person.full_name %></td>
          <td><%= stud[:marks] %></td>
          <td><%= stud[:retakes] %></td>
          <td>
            <% if stud[:mark] != nil %>
            <%= link_to  'Редактировать', edit_study_subject_mark_path(@subject, stud[:mark]) %>
            <% end %>
          </td>
       </tr>
      <% end %> 
    </tbody>
  </table>
 </div> 