<div class='page-header'>
  <h1>
    Добавить оценки <%= @subject.group.name %>
    <br>
    <small>
      <%= @subject.title %>
      (<%= "#{@subject.year}/#{@subject.year + 1}, #{@subject.semester}-й семестр" %>)
    </small>
  </h1>
</div>

<% if notice %>
  <div class='alert alert-info' id='notice'><%= notice %></div>
<% end %>

<%= render 'form' %>