<% if current_user.is?(:developer) %>
  <div class="row">
    <%= render 'system/stats' %>
  </div>
  <div class="row section">
    <%= render 'system/quality' %>
  </div>
<% end %>

<div class="jumbotron">
  <h2>Рейтинговая оценка деятельности НПР</h2>
  <ul>
    <li>
      <%= link_to '«Положение о рейтинговой оценке деятельности научно-педагогических работников МГУП имени Ивана Федорова» (PDF)',
                  asset_path('brs_npr_polozhenie.pdf', type: :doc) %>
    </li>
    <li>
      <%= link_to 'Приказ №01-03р/186 от 10 декабря 2013 г. «О сборе информации для формирования рейтинга научно-педагогических работников МГУП имени Ивана Федорова» (PDF)',
                  asset_path('brs_npr_prikaz.pdf', type: :doc) %>
    </li>
    <li>
      <%= link_to 'Инструкция по заполнению показателей эффективности НПР (PDF)',
                  asset_path('brs_npr_instrukciya.pdf', type: :doc) %>
    </li>
  </ul>

  <h2>Балльно-рейтинговая система оценки успеваемости студентов</h2>
  <ul>
    <li>
      <%= link_to '«Положение о балльно-рейтинговой системе оценки успеваемости обучающихся Московского государственного университета печати имени Ивана Федорова» (PDF)',
                  asset_path('brs_student_polozhenie.pdf', type: :doc) %>
    </li>
    <li>
      <%= link_to 'Приказ №01-04/428а от 3 сентября 2012 г. «О введении балльно-рейтинговой системы оценки успеваемости обучающихся» (PDF)',
                  asset_path('brs_student_prikaz.pdf', type: :doc) %>
    </li>
    <li>
      <%= link_to 'Технологическая карта дисциплины (PDF)',
                  asset_path('brs_student_instrukciya.pdf', type: :doc) %>
    </li>
  </ul>
</div>