<% if current_user.is?(:developer) %>
  <div class="row">
    <%= render 'system/stats' %>
  </div>
  <div class="row section">
    <%= render 'system/quality' %>
  </div>
<% end %>

<div class="jumbotron">
  <h2 class="navigation_trip" id="supportNPR" data-input="#supportNPR" data-content="Если вы хотите узнать побольше о рейтинговой оценке деятельности НПР почитайте документы из этого раздела." data-position="n">
    Рейтинговая оценка деятельности НПР</h2>
  <ul>
    <li>
      <%= link_to 'Результаты заседания рейтинговой комиссии МГУП имени Ивана Федорова от 16 января 2014 г. (PDF)',
                  asset_path('brs_npr_izmeneniya.pdf', type: :doc), class: 'text-danger' %>
    </li>
    <li>
      <%= link_to 'Пояснения к результатам заседания рейтинговой комиссии МГУП имени Ивана Федорова от 16 января 2014 г. (PDF)',
                  asset_path('brs_npr_izmeneniya_help.pdf', type: :doc), class: 'text-danger' %>
    </li>

    <li>
      <%= link_to '«Положение о рейтинговой оценке деятельности научно-педагогических работников МГУП имени Ивана Федорова» (PDF)',
                  asset_path('brs_npr_polozhenie.pdf', type: :doc) %>
    </li>
    <li>
      <%= link_to 'Приказ №01-03р/186 от 10 декабря 2013 г. «О сборе информации для формирования рейтинга научно-педагогических работников МГУП имени Ивана Федорова» (PDF)',
                  asset_path('brs_npr_prikaz.pdf', type: :doc) %>
    </li>
    <li class="navigation_trip" id="supportTip" data-input="#supportTip" data-content="Ознакомьтесь с инструкцией.<br>После этого нажмите на кнопку «Показатели эффективности» слева" data-position="n">
      <%= link_to 'Инструкция по заполнению показателей эффективности НПР (PDF)',
                  asset_path('brs_npr_instrukciya.pdf', type: :doc) %>
    </li>
  </ul>

  <h2 class="navigation_trip" id="supportBRS" data-input="#supportBRS" data-content="Если вы хотите узнать побольше о балльно-рейтинговой системе, почитайте документы из этого раздела.<br>Чтобы перейти к своим дисциплинам, нажмите на кнопку «Балльно-рейтинговая система» слева" data-position="n">
    Балльно-рейтинговая система оценки успеваемости студентов</h2>
  <ul>
    <li>
      <%= link_to 'Презентация с методического семинара по подготовке к сессии в рамках балльно-рейтинговой системы (PDF)',
                  asset_path('brs_student_session_keynote.pdf', type: :doc), class: 'text-danger' %>
    </li>
    <li>
      <%= link_to 'Регламент действий для подготовки и проведения сессии (PDF)',
                  asset_path('brs_student_session.pdf', type: :doc), class: 'text-danger' %>
    </li>
    <li>
      <%= link_to '«Положение о балльно-рейтинговой системе оценки успеваемости обучающихся Московского государственного университета печати имени Ивана Федорова» (PDF)',
                  asset_path('brs_student_polozhenie.pdf', type: :doc) %>
    </li>
    <li>
      <%= link_to 'Приказ №01-04/428а от 3 сентября 2012 г. «О введении балльно-рейтинговой системы оценки успеваемости обучающихся» (PDF)',
                  asset_path('brs_student_prikaz.pdf', type: :doc) %>
    </li>
    <li>
      <%= link_to 'Технологическая карта дисциплины (PDF)',
                  asset_path('brs_student_instrukciya.pdf', type: :doc) %>
    </li>
  </ul>
</div>