<h2>
  <%= interview201704.employee %>, <%= interview201704.department %>
  <br>
  <small><%= l(interview201704.created_at) %>, <%= interview201704.ip_address %></small>
</h2>

<dl>
  <dt>Используете ли вы в своей работе информационные системы?</dt>
  <dd><%= interview201704.question1 ? 'Да' : 'Нет' %></dd>

  <dt>
    Перечислите наименования используемых в работе информационных систем, 
    включая программы из офисных пакетов.
  </dt>
  <dd><%= interview201704.question2 || '—'  %></dd>

  <dt>
    Что бы вы хотели использовать из информационных систем в своей работе 
    для увеличения её эффективности?
  </dt>
  <dd><%= interview201704.question3 || '—' %></dd>

  <dt>Есть ли в вашем подразделении данные, требующие учёта и контроля?</dt>
  <dd><%= interview201704.question4 ? 'Да' : 'Нет' %></dd>
  
  <dt>Перечислите эти данные.</dt>
  <dd><%= interview201704.question5 || '—' %></dd>
  
  <dt>
    Необходимы ли в вашей работе данные из других подразделений университета?
  </dt>
  <dd><%= interview201704.question6 ? 'Да' : 'Нет' %></dd>
  
  <dt>Перечислите необходимые данные.</dt>
  <dd><%= interview201704.question7 || '—' %></dd>
  
  <dt>В каком виде вы их получаете или хотели бы получать?</dt>
  <dd><%= interview201704.question8 || '—' %></dd>
</dl>

<hr>
