<%= form_for @lineitem, html: { class: 'form-horizontal' } do |p| %>

    <div class="row">
      <%= p.label :good_id,'Товар', class: 'col-sm-2 control-label' %>
      <div class="col col-sm-10">
        <%= p.select :good_id, Purchase::Good.all.collect{ |d|[d.name, d.id] }, {include_blank: true}, class: 'form-control' %>
      </div>
    </div>

    <div class="row">
      <%= p.label :total_price, 'Планируемая сумма' , class: 'col-sm-2 control-label'%>
      <div class="col col-sm-10">
        <%= p.text_field :total_price, placeholder: 'Пример, 400.00', class: 'form-control' %>
      </div>
    </div>

    <div class="row">
      <%= p.label :period, 'Период (срок) осуществления', class: 'col-sm-2 control-label' %>
      <div class="col col-sm-10">
        <% stat = [] %>
        <% [{type: '12 мес', key:  '12 мес'}, {type: '24 мес', key: '24 мес'}, {type: '36 мес', key: '36 мес'}].each do |fin| %>
            <% stat << (OpenStruct.new fin) %>
        <% end %>
        <%= p.select :period, options_from_collection_for_select(stat, :key, :type), {include_blank: false}, class: 'form-control' %>
      </div>
    </div>

    <div class="row">
      <%= p.label :supplier_id, 'Поставщик', class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= p.select :supplier_id, Purchase::Supplier.all.collect{ |d|[d.name, d.id] }, {include_blank: true}, class: 'form-control' %>
        <span class="help-block">
            <p>Если поставщик неопределен, оставить поле пустым</p>
          </span>
      </div>
    </div>

    <div class="panel-heading">
      <h3 class="panel-title">Дополнительные сведения</h3>
    </div>

    <div class="form-group">
      <%= p.label :count, 'Сведения о количестве (объеме)' , class: 'col-sm-2 control-label'%>
      <div class="col-sm-10">
        <%= p.text_field :count, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= p.label :measure, 'Единица измерения', class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <% stat = [] %>
        <% [{type: 'час', key:  'час'}, {type: 'день', key: 'день'},{type: 'месяц', key: 'мес'}, {type: 'шт', key: 'шт'} ].each do |fin| %>
            <% stat << (OpenStruct.new fin) %>
        <% end %>
        <%= p.select :measure, options_from_collection_for_select(stat, :key, :type), {include_blank: true}, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= p.label :start_price, 'Начальная цена закупки' , class: 'col-sm-2 control-label'%>
      <div class="col-sm-10">
        <%= p.text_field :start_price, placeholder: 'Пример, 400.00', class: 'form-control' %>
      </div>
    </div>

    <div class="row">
      <%= p.label :p_start_date, 'Дата начала закупки', class: 'control-label col col-sm-2' %>
      <div class="col col-sm-10">
        <%= p.text_field :p_start_date, value: (), class: 'form-control datepicker' %>
      </div>
    </div>

    <div class="row">
      <%= p.label :p_end_date, 'Дата окончания закупки', class: 'control-label col col-sm-2' %>
      <div class="col col-sm-10">
        <%= p.text_field :p_end_date, value: (), class: 'form-control datepicker' %>
      </div>
    </div>

    <div class="panel-heading">
      <h3 class="panel-title">Статус выполнения заявки на товар, работу, услугу</h3>
    </div>

    <div class="row">
      <%= p.label :published, 'Опубликована', class: 'col-sm-2 control-label' %>
      <div class="col col-sm-10">
        <% stat = [] %>
        <% [{type: 'да', key:  'опубликован'}, {type: 'нет', key: 'не_о'}].each do |fin| %>
            <% stat << (OpenStruct.new fin) %>
        <% end %>
        <%= p.select :published, options_from_collection_for_select(stat, :key, :type), {include_blank: true}, class: 'form-control' %>
      </div>
    </div>

    <div class="row">
      <%= p.label :contracted, 'Законтрактована', class: 'col-sm-2 control-label' %>
      <div class="col col-sm-10">
        <% stat = [] %>
        <% [{type: 'да', key:  'законтрактирован'}, {type: 'нет', key: 'не_з'}].each do |fin| %>
            <% stat << (OpenStruct.new fin) %>
        <% end %>
        <%= p.select :contracted, options_from_collection_for_select(stat, :key, :type), {include_blank: true}, class: 'form-control' %>
      </div>
    </div>

    <div class="row">
      <%= p.label :delivered, 'Поставлена', class: 'col-sm-2 control-label' %>
      <div class="col col-sm-10">
        <% stat = [] %>
        <% [{type: 'да', key:  'поставлен'}, {type: 'нет', key: 'не_п'}].each do |fin| %>
            <% stat << (OpenStruct.new fin) %>
        <% end %>
        <%= p.select :delivered, options_from_collection_for_select(stat, :key, :type), {include_blank: true}, class: 'form-control' %>
      </div>
    </div>

    <div class="row">
      <%= p.label :paid, 'Оплачена', class: 'col-sm-2 control-label' %>
      <div class="col col-sm-10">
        <% stat = [] %>
        <% [{type: 'да', key:  'оплачен'}, {type: 'нет', key: 'не_оп'}].each do |fin| %>
            <% stat << (OpenStruct.new fin) %>
        <% end %>
        <%= p.select :paid, options_from_collection_for_select(stat, :key, :type), {include_blank: true}, class: 'form-control' %>
      </div>
    </div>

    <div class="row">
      <div class="col col-lg-10 col-offset-2">
        <%= p.submit "Сохранить изменения", class: 'btn btn-warning' %>
        или
        <%= link_to 'назад к структуре', purchase_line_items_path, class: 'btn btn-primary' %>
      </div>
    </div>
<%end%>