<div class="page-header">
  <h1>Закупки МГУП</h1>
  <h3>Список закупаемых товаров</h3>
</div>
<div class="row">
  <div class="col col-lg-10">
    <%= link_to 'Новая заявка', new_purchase_purchase_path, class: 'btn btn-primary' %>
  </div>
</div>
<div class="row">
  <div class="col col-lg-10">
    <%= link_to 'Заявки', purchase_purchases_path, class: 'btn btn-primary' %>
    <%= link_to 'Поставщики', purchase_suppliers_path, class: 'btn btn-primary' %>
    <%= link_to 'Товары', purchase_goods_path, class: 'btn btn-primary' %>
    <% if @current_user.is?(:developer) || @current_user.is?(:purchase_manager) || @current_user.is?(:ciot) %>
        <%= link_to 'ДФП', purchase_line_items_path, class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
<div class="row">
    <%= form_tag purchase_search_result_path, method: 'get' do %>
        <div class="col col-sm-4">
          <%= text_field_tag :search_keyword, nil, placeholder: 'Введите запрос', class: 'form-control' %>
        </div>
        <div class="col col-sm-2">
          <%= submit_tag 'Поиск' , class: 'btn btn-primary'%>
        </div>
    <% end %>
</div>
<table class="table table-condensed">
  <thead>
  <tr>
    <th>Товар</th>
    <th>Заявка</th>
    <th>Дата регистрации</th>
    <th>Департамент</th>
    <th>Стоимость</th>
    <th>Поставщик</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
      <%= render partial: 'rows' %>
  </tbody>
</table>
