<%= form_tag session_marks_path(@session) do %>
  <table class='table'>
    <thead>
    <tr>
      <th>#</th>
      <th>Студент</th>
      <th>Результат</th>
      <th>Пересдача</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% @students.each do |student| %>
    <tr>
      <td>
        <%= student.id %>
        <%= hidden_field_tag 'marks[][student_id]', student.id %>
      </td>
      <td><%= student.person.full_name %></td>
      <td>
        <% if @session.exam? %>
          <%= text_field_tag 'marks[][mark]', nil, pattern: '[3-5]' %>
        <% else %>
          <ul class="nav nav-pills">
            <li class="active"><a href="#">Незачет</a></li>
            <li><a href="#">Зачет</a></li>
          </ul>
        <% end %>
      </td>
      <td>
        <%= select_tag 'marks[][retake]', options_for_select(%w(1 2 3)), prompt: 'нет' %>
      </td>
    </tr>
    <% end %>
    </tbody>
  </table>

  <%= submit_tag 'Сохранить оценки', class: 'btn btn-primary' %>
  или
  <%= link_to 'назад ко всем предметам', session_marks_path(@session) %>
<% end %>
