<div class="page-header">
  <h1>Ошибки при вводе</h1>
</div>

<table class='table table-hover'>
  <tr>
    <th>Студент</th>
    <th>Дисциплина</th>
    <th>Ошибка</th>
    <th></th>
  </tr>
  <% @variants.each do |prob|%>
    <% if (prob['marks'].size > 1)&&(prob['retakes'].size > 1)%>
      <tr>
        <% student = Student.find(prob['student']).person.full_name %>
        <% subject = Study::Subject.find(prob['subject']).title %>
        <td><%= student %></td>
        <td><%= subject %></td>
        <td>Оценка и пересдача</td>
        <td><%= link_to 'Редактировать', edit_study_subject_mark_path(prob['subject'], prob['mark']) %></td>
      </tr>
    <% end %>
     <% if (prob['marks'].size > 1)&&(prob['retakes'].size == 1)%>
      <tr>
        <% student = Student.find(prob['student']).person.full_name %>
        <% subject = Study::Subject.find(prob['subject']).title %>
        <td><%= student %></td>
        <td><%= subject %></td>
        <td>Оценка</td>
        <td><%= link_to 'Редактировать', edit_study_subject_mark_path(prob['subject'], prob['mark']) %></td>
      </tr>
    <% end %>
     <% if (prob['marks'].size == 1)&&(prob['retakes'].size > 1)%>
      <tr>
        <% student = Student.find(prob['student']).person.full_name %>
        <% subject = Study::Subject.find(prob['subject']).title %>
        <td><%= student %></td>
        <td><%= subject %></td>
        <td>Пересдача</td>
        <td><%= link_to 'Редактировать', edit_study_subject_mark_path(prob['subject'], prob['mark']) %></td>
      </tr>
    <% end %>      
  <% end %>
</table>
