<%= form_for @session, html: { class: 'form-horizontal' } do |f| %>

	<div class="row">

		<%= f.label :year, 'Год', class: 'col col-lg-1 control-label' %>
		<div class="col col-lg-2">
		 	<%= f.select :year, options_for_select(['2013', '2012', '2011']) %>
		</div>

		<%= f.label :semester, 'Семестр', class: 'col col-lg-2 control-label' %>
		<div class="col col-lg-2">
		 	<%= f.select :semester, options_for_select(['осенний', 'весенний']) %>
		</div>


		<label for="faculty" class="col-lg-2 control-label">Факультет</label>
		<div class="col col-lg-2">
			<%= select_tag :faculty,
            	options_from_collection_for_select(Department.faculties.without(id: 1).without(id: 8), :id, :abbreviation, params[:faculty]),
                    prompt: 'все факультеты', class: 'chzn-select ajax-faculty' %>
    </div>             

		</div>

		<div class="row">
			<label for="course" class="col-lg-1 control-label">Курс</label>
			<div class="col col-lg-2">
				<%= select_tag 'course',
                     options_for_select([1, 2, 3, 4, 5, 6], params[:course]),
                     prompt: 'все курсы', class: 'chzn-select ajax-course' %>
		</div>

			<label for="form" class="col-lg-2 control-label">Форма обучения</label>
			<div class="col col-lg-2">
				<%= select_tag 'form',
                     options_for_select([['очная', 101], ['очно-заочная', 102], ['заочная', 103], ['дистанционная', 105]], params[:form]), 
                     prompt: 'все формы', class: 'chzn-select ajax-form' %>
			</div>
			
			<label for='speciality' class="col-lg-2 control-label">Специальность</label>
			<div class="col col-lg-2">
				<%= select_tag 'speciality',
                options_from_collection_for_select(Speciality.all, :id, :name),
                prompt: 'все специальности', class: 'chzn-select ajax-speciality' %>
			</div>

		</div>

		<div class="row">

			<label for='group' class="col-lg-1 control-label">Группа</label>
			<div class="col col-lg-2">
      <%= select_tag :group,
          			options_from_collection_for_select(Group.all, :id, :name),
                     prompt: 'все группы', class: 'chzn-select ajax-group' %>
      </div>

			<%= f.label :subject, 'Дисциплина', class: 'col col-lg-2 control-label' %>
			<div class="col col-lg-2">
				<%= f.text_field :subject, placeholder: 'Математика' %>
			</div>

			<%= f.label :type, 'Форма отчетности', class: 'col col-lg-2 control-label' %>
			<div class="col col-lg-2">
				<%= f.select :type, options_for_select(['экзамен', 'зачет']), {},multiple: false %>
			</div>

		</div>	
		
		 <input type='button' value='Заполнить' class='btn btn-primary'>

<% end %>