<ul class="breadcrumb">
  <li><a href='/study/group'>Успеваемость</a></li>
  <li><a href="<%= study_group_progress_path(@group, year: @year, term: @term) %>">Группа</a></li>
  <li><a href="/study/group/<%= params[:group_id] %>/student/<%= @student.id %>?year=<%= @year %>&term=<%= @term %>">Студент</a></li>
  <li class="active"><%= @discipline.name %></li>
</ul>
<div class="page-header">
  <h1><%= @student.person.full_name %> <small><%= @group.name %></small></h1>
  <h2><%= @discipline.name %></h2>
</div>

<table class='table table-striped'>
  <thead>
  <tr>
    <th>Дата</th>
    <th style='width: 550px;'>Тип</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @checkpoints.each  do |checkpoint| %>
    <tr>
      <td><%= checkpoint.date.strftime("%d.%m.%Y") %></td>
      <td style='width: 550px;'><span class="glyphicon <%= checkpoint.lesson %>"></span>
        <%= checkpoint.name if checkpoint.type == 3 %>
        <%= checkpoint.lessonname %>
        <span class="help-block"><%= checkpoint.details %></span>
      </td>
      <td>
        <% mark = checkpoint.marks.by_student(@student).last %>
        <% if checkpoint.is_checkpoint? %>
          <div class='col col-lg-7'>
            <% if mark != nil %>
              <span class="label label-<%= mark.mark>=checkpoint.min ? 'success' : 'danger'%>"><%= mark.mark %> из <%= checkpoint.max.round %> баллов</span>
            <% end %>
          </div>
        <% else %>
          <div class='col col-lg-10'>
            <% if mark != nil %>
              <span class="label label-<%= mark.result[:color] %>"><%= mark.result[:mark] %></span>
            <% end %>
          </div>
        <% end %>
        </tr>
  <% end %>
  </tbody>
</table>

<%= link_to "/study/group/#{params[:group_id]}/student/#{@student.id}?year=#{@year}&term=#{@term}", class: 'btn btn-default navigation_trip', id: 'back_to_student',
            data: { input: '#back_to_student', content: 'Вы можете вернуться на страницу с успеваемостью этого студента по всем дисциплинам',
                    position: 's'} do %>
  <span class="glyphicon glyphicon-list-alt"></span> Назад ко всем дисциплинам
<% end %>
<%= link_to study_group_progress_path(@group, year: @year, term: @term), class: 'btn btn-default navigation_trip', id: 'back_to_group',
            data: { input: '#back_to_group', content: 'или посмотреть успеваемость всей группы.',
                    position: 's'} do %>
  <span class="glyphicon glyphicon-backward"></span> Назад к группе
<% end %>