<div class="page-header">
  <h1><%= @student.person.full_name %> <small><%= @group.name %></small></h1>
  <h2>Успеваемость</h2>
</div>
<%= form_tag nil, method: :get, class: 'filter-block' do |f| %>
  <div class='row'>
      <div class="col col-sm-3">
          <%= select_tag :year_term,
                         options_for_select(
                             [['2014/2015, 1-й семестр', '2014-1'],
                              ['2013/2014, 2-й семестр', '2013-2'],
                              ['2013/2014, 1-й семестр', '2013-1']],
                             "#{params[:year]}-#{params[:term]}"),
                         class: 'form-control', data: { group: @group.id, student: @student.id },  #disabled: true,
                         onchange: %q(document.location = '/study/group/' + $(this).data('group') + '/student/' + $(this).data('student') + '?year=' + $(this).val().split('-')[0] + '&term=' + $(this).val().split('-')[1];) %>
      </div>
  </div>
<% end %>

<% unless @rows.empty? %>
<div class='alert alert-info'>Нажмите на название дисциплины, чтобы посмотреть подробную информацию по ней.</div>
<table class='table table-bordered table-condensed'>
  <thead>
    <tr>
      <th>Дата</th>
      <% @student.disciplines_by_term(@year, @term).each do |d| %>
        <th><a href="<%= root_url %>study/group/<%= @group.id %>/student/<%= @student.id %>/discipline/<%= d.id %>?year=<%= @year %>&term=<%= @term %>"><%= d.name %></a></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @rows.each do |row| %>
    <tr>
      <td><%= row[0].strftime("%d.%m.%Y") %></td>
      <% row.shift %>
        <% row.each do |marks|%>
      <td>
        <% marks.shift %>
        <% marks.each do |mark| %>
           <% if mark[:checkpoint].checkpoint_type == 3 %>
            <% if mark[:mark] == nil %>
              <%= circle_tips("#{mark[:checkpoint].name} / нет данных", '#fff', 30, '10', '', class: 'control') %>
            <% else %>
              <%= circle_tips("#{mark[:checkpoint].name} / #{mark[:mark].mark >= mark[:checkpoint].min ? 'прошёл контрольную точку' : 'не прошёл контрольную точку'}",
                              "#{mark[:mark].mark >= mark[:checkpoint].min ? '#62c462' : '#ee5f5b'}",
                              30, "#{mark[:mark].mark < 10 ? 10 : 6}", "#{mark[:mark].mark}", class: 'control') %>
            <% end %>
           <% else %>
             <% if mark[:mark] == nil %>
              <%= circle_tips("#{mark[:checkpoint].lessonname} / нет данных", '#fff', "#{mark[:checkpoint].lecture? ? '10' : '20'}", '0', '', class: 'lesson') %>
             <% else %>
              <%= circle_tips("#{mark[:checkpoint].lessonname} / #{mark[:mark].result[:mark]}",
                              "#{mark[:mark].result[:hue]}", "#{mark[:mark].result[:circle]}",
                              '0', '', class: 'lesson') %>
             <% end %>
           <% end %>
        <% end %>
      </td>
    <% end %>
    </tr>
    <% end %>
  </tbody>
</table>
<% end %>
<a class="btn btn-default" href="<%= study_group_progress_path(@group.id, year: @year, term: @term) %>"><span class='glyphicon glyphicon-backward'></span> Назад к группе</a>