<div class="page-header">
  <h1>
    <%= @graduate_student.student.person.short_name %>
    <small>
      <%= @graduate.group.name %>, <%= @graduate.year %>/<%= @graduate.year + 1 %>
    </small>
  </h1>
</div>

<%= nested_form_for [@graduate, @graduate_student], html: { class: 'form-horizontal' } do |f| %>
  <fieldset>
    <legend>Выпускная квалификационная работа</legend>

    <div class="form-group">
      <%= f.label :thesis, class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= f.text_area :thesis, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :mark, class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= f.select :mark, options_for_select([['отлично', 5], ['хорошо', 4], ['удовлетворительно', 3]]),
                     { prompt: 'оценка' }, class: 'form-control' %>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>Дополнительная информация</legend>

    <div class="form-group">
      <%= f.label :registration, class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= f.text_field :registration, class: 'form-control', disabled: true %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :diploma, class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= f.text_field :diploma, class: 'form-control', disabled: true %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :education, class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= f.text_field :education, class: 'form-control' %>
        <p class="help-block">
          диплом бакалавра Московского государственного университета печати имени Ивана Федорова по направлению «Менеджмент» 2011 год
        </p>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>Оценки</legend>

    <%= f.fields_for :graduate_marks do |sf| %>
      <%= sf.hidden_field :graduate_subject_id %>

      <div class="form-group">
        <label class="col-sm-2 control-label" style="font-weight: normal;">
          <%= sf.object.graduate_subject.text_kind %>
        </label>
        <% if sf.object.graduate_subject.choosingly %>
          <% subj = sf.object.graduate_subject.choice_students.from_student(@graduate_student).last %>
          <% subj = sf.object.graduate_subject.choice_students.build if !subj %>
          <%= f.fields_for :choice_students, subj do |cs| %>
            <%= cs.hidden_field :id %>
            <div class="col-sm-7">
            <%= cs.select :graduate_choice_subject_id, options_from_collection_for_select(sf.object.graduate_subject.choices, :id, :name, selected: cs.object.graduate_choice_subject_id),
                { prompt: 'выберите дисциплину по выбору' }, class: 'form-control input-sm' %>
            </div>
          <% end %>
        <% else %>
        <label class="col-sm-7 control-label" style="text-align: left;">
          <%= sf.object.graduate_subject.name %>
        </label>
        <% end %>
        <div class="col-sm-3">
          <%= sf.select :mark, options_for_select([['отлично', 5], ['хорошо', 4], ['удовлетворительно', 3], ['зачтено', 6]], selected: sf.object.mark),
                        { prompt: 'оценка' }, class: 'form-control input-sm' %>
        </div>
      </div>
    <% end %>
  </fieldset>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit 'Сохранить изменения', class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>