<div class="page-header">
    <h1>Библиотека <small>Создание читательских билетов</small></h1>
</div>

<%= form_tag nil, method: :get, class: 'filter-block', id: 'reader-choice' do |f| %>
    <div class='row'>
        <div class='col col-sm-offset-4 col-sm-6'>
            <%= hidden_field_tag :reader, params[:reader],  class: 'hidden-pill-values-no-change' %>
            <%= pill_tabs('reader', [[1, 'Студент'], [2, 'Сотрудник']], 'reader') %>
        </div>
    </div>
<% end %>

<% if params[:reader] == '1' %>
    <%= form_tag nil, method: :get, class: 'filter-block' do |f| %>
        <%= hidden_field_tag :reader, 1 %>
        <div class="row">
            <%= label_tag :type_of_search, 'Найти студента', class: 'col col-sm-2' %>
            <div class="col col-sm-2">
                <%= select_tag :type_of_search,
                               options_for_select(
                                       [['по группе', 1],
                                        ['по ФИО', 2]],
                                       params[:type_of_search]),
                               class: 'form-control',
                               onchange: %q(document.location = '/library/cards?reader=1&type_of_search=' + $(this).val();) %>
            </div>
        </div>
        <% if params[:type_of_search] == '2' %>
            <div class="row">
                <div class="col-sm-12">
                    <%= text_field_tag :student_name, params[:student_name], placeholder: 'Фамилия, имя, отчество', class: 'form-control' %>
                </div>
            </div>
        <% else %>
        <div class='row'>
            <div class='col col-sm-6'>
                <%= hidden_field_tag :faculty, params[:faculty],
                                     class: 'ajax-faculty hidden-pill-values' %>
                <%= pill_tabs('faculty', Department.faculties.collect { |f| [f.id, f.abbreviation] },
                              'faculty') %>
            </div>
            <div class='col col-sm-6'>
                <%= select_tag 'speciality',
                               options_from_collection_for_select(@student ? Department.find(params[:faculty]).specialities : Speciality.all,
                                                                  :id, :full_name, params[:speciality]),
                               prompt: 'все специальности', class: 'ajax-speciality form-control' %>
            </div>
        </div>

        <div class='row'>
            <div class='col col-sm-2'>
                <%= select_tag :course,
                               options_for_select((1..6).map { |i| ["#{i} курс", i] }, params[:course]),
                               class: 'ajax-course form-control' %>
            </div>

            <div class='col col-sm-2'>
                <%= select_tag :form,
                               options_for_select([%w(очная 101), %w(очно-заочная 102),
                                                   %w(заочная 103), %w(дистанционная 105)], params[:form]),
                               class: 'ajax-form form-control' %>
            </div>

            <div class="col-sm-2">
                <%= select_tag :group,
                               options_from_collection_for_select(
                                       @student ? Group.filter(course: params[:course],
                                                             speciality: params[:speciality],
                                                             form: @student.group.number_form) : Group.all,
                                       :id, :name, params[:group]
                               ), prompt: 'все группы', class: 'ajax-group form-control' %>
            </div>
            <div class='col col-sm-6'>
                <%= select_tag 'student',
                               (@student ? options_from_collection_for_select(@student.group.students.valid_student, :id, :full_name, params[:student]) : nil),
                                prompt: 'все студенты', class: 'ajax-student form-control' %>
            </div>
        </div>
        <% end %>

        <div class="row">
            <div class="col-sm-12">
                <%= submit_tag 'Найти студента', class: 'btn btn-primary pull-right' %>
            </div>
        </div>
    <% end %>

    <% if @student %>
        <div class="thumbnail">
            <div class="caption">
                <h3><%= @student.full_name %> <small><%= @student.id %></small></h3>
                <% if @client.execute(@query).collect{|x| x}.length > 0 %>
                  <% if @student.admission_year < 2012 %>
                    <p>Возможно, у студента уже есть читательский билет:</p>
                    <ul>
                    <% @client.execute(@query).each_with_index do |row, index| %>
                        <li><strong><%= row['RDR_ID'] %></strong> - <%= link_to 'Распечатать читательский билет', library_print_student_card_path(student: @student.id, index: index), class: 'btn btn-primary btn-sm' %></li>
                    <% end %>
                    </ul>
                  <% else %>
                    <p> У студента уже есть читательский билет: <strong><%= @client.execute(@query).each{|x| x}.first['RDR_ID'] %></strong></p>
                    <p><%= link_to 'Распечатать читательский билет', library_print_student_card_path(student: @student.id), class: 'btn btn-primary' %></p>
                  <% end %>
                <% else %>
                  <p>Чтобы создать читательский билет нажмите на кнопку</p>
                  <p><a href="<%= library_create_student_card_path(student: @student.id) %>" class="btn btn-success" role="button">Создать читательский билет</a></p>
                <% end %>
            </div>
        </div>
    <% elsif @students %>
        <% unless @students.empty? %>
            <% @students.each do |student| %>
            <div class="thumbnail">
                <div class="caption">
                    <h3><%= student[:name] %> <small><%= student[:id] %></small></h3>
                    <h4><%= student[:group] %></h4>
                    <% if student[:variants].length > 0 %>
                        <p>Возможно, у студента уже есть читательский билет:</p>
                        <ul>
                            <% student[:variants].each_with_index do |rdr_id, index| %>
                                <li><strong><%= rdr_id %></strong> - <%= link_to 'Распечатать читательский билет', library_print_student_card_path(student: student[:id], index: index), class: 'btn btn-primary btn-sm' %></li>
                            <% end %>
                        </ul>
                    <% else %>
                        <p>Чтобы создать читательский билет нажмите на кнопку</p>
                        <p><a href="<%= library_create_student_card_path(student: student[:id]) %>" class="btn btn-success" role="button">Создать читательский билет</a></p>
                    <% end %>
                </div>
            </div>
            <% end %>
        <% else %>
            <p class="lead">Ни одного студента не было найдено - попробуйте изменить параметры поиска.</p>
        <% end %>
    <% end %>
<% elsif params[:reader] == '2' %>
    <%= form_tag nil, method: :get do %>
        <div class="row">
            <%= hidden_field_tag :reader, 2 %>
            <div class="col-sm-8">
                <%= text_field_tag :user_name, params[:user_name], placeholder: 'Фамилия, имя, отчество', class: 'form-control' %>
            </div>
            <div class="col col-sm-2">
                <%= submit_tag 'Искать', class: 'btn btn-primary' %>
            </div>
        </div>
    <% end %>
    <% if @users %>
        <% unless @users.empty? %>
            <% @users.each do |user| %>
            <div class="thumbnail">
                <div class="caption">
                    <h3><%= user[:name] %> <small><%= user[:id] %></small></h3>
                    <h4><%= user[:department] %></h4>
                    <% if user[:variants].length > 0 %>
                        <p>Возможно, у сотрудника уже есть читательский билет:</p>
                        <ul>
                            <% user[:variants].each_with_index do |rdr_id, index| %>
                                <li><strong><%= rdr_id %></strong> - <%= link_to 'Распечатать читательский билет', library_print_user_card_path(user: user[:id], index: index), class: 'btn btn-primary btn-sm' %></li>
                            <% end %>
                        </ul>
                    <% else %>
                        <p>Чтобы создать читательский билет нажмите на кнопку</p>
                        <p><a href="<%= library_create_user_card_path(user: user[:id]) %>" class="btn btn-success" role="button">Создать читательский билет</a></p>
                    <% end %>
                </div>
            </div>
            <% end %>
        <% else %>
            <p class="lead">Ни одного пользователя не было найдено - попробуйте изменить параметры поиска.</p>
        <% end %>
    <% end %>
<% end %>

<script>
    $('#reader-choice #reader').change(function(){
        $('#reader-choice').submit();
    });
</script>

