<%= form_for @subject, html: { class: 'form-horizontal' } do |f| %>
  <%= f.hidden_field :user_id, value: current_user.id %>

	<div class='row'>
		<%= f.label :year, class: 'control-label col-lg-2' %>
    <div class='col col-lg-10'>
      <%= f.hidden_field 'year', value: @session? @session.year : 2012, required: 'required' %>
      <ul class='nav nav-pills pill-select' name='pillyear' id='pillyear'>
        <li class="<%= 'active' if 2012==(@session? @session.year : 2012) %>"><a  data-toggle='pill' data-value="2012" data-input='study_subject_year' href='#'>2012-2013</a></li>
        <li class="<%= 'active' if 2011==(@session? @session.year : 2012) %>"><a  data-toggle='pill' data-value="2011" data-input='study_subject_year' href='#'>2011-2012</a></li>
        <li class="<%= 'active' if 2010==(@session? @session.year : 2012) %>"><a  data-toggle='pill' data-value="2010" data-input='study_subject_year' href='#'>2010-2011</a></li>
      </ul>
    </div>
  </div>
		
	<div class='row'>
		<%= f.label :semester, class: 'control-label col-lg-2' %>
    <div class='col col-lg-10'>
      <div class='col col-lg-2'>
        <%= text_field_tag 'semester_count'%>
      </div>
      <%= f.hidden_field :semester, value: @session? @session.semester : 1, required: 'required' %>
      <ul class='nav nav-pills pill-select' name='pillsemester' id='pillsemester'>
        <li class="<%= 'active' if 1==(@session? @session.semester : 1) %>"><a  data-toggle='pill' data-value='1' data-input='study_subject_semester' href='#'>осенний</a></li>
        <li class="<%= 'active' if 2==(@session? @session.semester : 1) %>"><a  data-toggle='pill' data-value='2' data-input='study_subject_semester' href='#'>весенний</a></li>
      </ul>
    </div>
	</div>


	<div class='row'>
		<%= label_tag :faculty, 'Факультет', class: 'control-label col-lg-2' %>
    <div class='col col-lg-10'>
      <%= hidden_field_tag :faculty, (@session.group.speciality.speciality_faculty if @session )%>
      <ul class='nav nav-pills pill-select ajax-faculty' name='pillfaculty' id='pillfaculty'>
        <% Department.faculties.each do |faculty| %>
          <li class="<%= 'active' if faculty.id==(@session? @session.group.speciality.speciality_faculty : 0) %>"><a data-toggle='pill' data-value="<%=faculty.id%>" data-input='faculty' href='#'><%= faculty.abbreviation %></a></li>
        <% end %>
      </ul>
    </div>
  </div>             

  <div class='row'>
    <%= label_tag :course, 'Курс', class: 'control-label col-lg-2' %>
    <div class='col col-lg-10'>
      <%= hidden_field_tag :course, (@session.group.course if @session ) %>
      <ul class='nav nav-pills ajax-course pill-select' name='pillcourse' id='pillcourse'>
        <li class="<%= 'active' if 1==(@session? @session.group.course : 0) %>"><a  data-toggle='pill' data-value="1" data-input='course' href='#'>1</a></li>
        <li class="<%= 'active' if 2==(@session? @session.group.course : 0) %>"><a  data-toggle='pill' data-value="2" data-input='course' href='#'>2</a></li>
        <li class="<%= 'active' if 3==(@session? @session.group.course : 0) %>"><a  data-toggle='pill' data-value="3" data-input='course' href='#'>3</a></li>
        <li class="<%= 'active' if 4==(@session? @session.group.course : 0) %>"><a  data-toggle='pill' data-value="4" data-input='course' href='#'>4</a></li>
        <li class="<%= 'active' if 5==(@session? @session.group.course : 0) %>"><a  data-toggle='pill' data-value="5" data-input='course' href='#'>5</a></li>
        <li class="<%= 'active' if 6==(@session? @session.group.course : 0) %>"><a  data-toggle='pill' data-value="6" data-input='course' href='#'>6</a></li>
      </ul>
    </div>
  </div>

  <div class='row'>
    <%= label_tag :form, 'Форма обучения', class: 'control-label col-lg-2' %>
    <%= hidden_field_tag :form, (@session.group.form if @session ) %>
    <div class='col col-lg-10'>
			<ul class='nav nav-pills ajax-form pill-select' name='pillform' id='pillform'>
	        <li class="<%= 'active' if 101==(@session? @session.group.form : 0) %>"><a  data-toggle='pill' data-value="101" data-input='form' href='#'>очная</a></li>
	        <li class="<%= 'active' if 102==(@session? @session.group.form : 0) %>"><a  data-toggle='pill' data-value="102" data-input='form' href='#'>очно-заочная</a></li>
	        <li class="<%= 'active' if 103==(@session? @session.group.form : 0) %>"><a  data-toggle='pill' data-value="103" data-input='form' href='#'>заочная</a></li>
	        <li class="<%= 'active' if 105==(@session? @session.group.form : 0) %>"><a  data-toggle='pill' data-value="105" data-input='form' href='#'>дистанционная</a></li>
	    </ul>
		</div>
  </div>

  <div class='row'>
    <%= label_tag :speciality, 'Специальность', class: 'control-label col-lg-2' %>
    <div class='col col-lg-10'>
			<%= select_tag 'speciality',
                     options_from_collection_for_select(Speciality.all, :id, :full_name, (@session.group.speciality.id if @session)),
                     prompt: 'все специальности', class: 'ajax-speciality' %>
		</div>
  </div>

  <div class='row'>
    <%= f.label :group_id, class: 'control-label col-lg-2' %>
    <div class='col col-lg-10'>
			<%= f.select :group_id, options_from_collection_for_select(Group.all, :id, :name, (@session.group.id if @session)),
                   {include_blank: 'все группы'}, 
                   { class: 'ajax-group_id', required: 'required' } %>
    </div>
  </div>
      
  <div class='row'>
    <%= f.label :title, class: 'control-label col-lg-2' %>
    <div class='col col-lg-10'>
			<%= f.text_field :title, placeholder: 'Математика', required: 'required' %>
		</div>
  </div>

   <div class='row'>
     <%= f.label :kind, class: 'control-label col-lg-2' %>
     <div class="col col-lg-10">
        <%= f.hidden_field :kind, required: 'required' %>
        <ul class='nav nav-pills pill-select' name='pillkind' id='pillkind'>
          <li><a data-toggle='pill' data-value='1' data-input='study_subject_kind' href='#'>экзамен</a></li>
          <li><a data-toggle='pill' data-value='0' data-input='study_subject_kind' href='#'>зачет</a></li>
          <li><a data-toggle='pill' data-value='2' data-input='study_subject_kind' href='#'>курсовая работа</a></li>
        </ul>
      </div>
    </div>

  <div class='row'>
    <div class='col col-lg-10 col-offset-2'>
      <%= f.submit class: 'btn btn-default' %>
    </div>
  </div>
<% end %>