<%= form_for @subject, html: { class: 'form-horizontal' } do |f| %>
  <%= f.hidden_field :user_id, value: current_user.id %>

	<div class='row'>
		<%= f.label :subject_year, class: 'control-label col-lg-2' %>
    <div class='col col-lg-10'>
      <%= f.hidden_field :subject_year, value: @session? @session.year : 2012, required: 'required' %>
      <%= pill_tabs('year', [[2012, '2012-2013'], [2011, '2011-2012'], [2010, '2010-2011']], 'study_subject_year') %>
    </div>
  </div>
		
	<div class='row'>
		<%= f.label :subject_semester, class: 'control-label col-lg-2' %>
    <div class='col col-lg-10'>
      <div class='col col-lg-2'>
        <%= text_field_tag 'semester_count', nil, class: 'form-control'%>
      </div>
      <%= f.hidden_field :subject_semester, value: @session? @session.semester : 1, required: 'required' %>
      <%= pill_tabs('semester', [[1, 'осенний'], [2, 'весенний']], 'study_subject_semester') %>
    </div>
	</div>


	<div class='row'>
		<%= label_tag :faculty, 'Факультет', class: 'control-label col-lg-2' %>
    <div class='col col-lg-10'>
      <%= hidden_field_tag :faculty, (@session.group.speciality.speciality_faculty if @session )%>
      <%= pill_tabs('faculty', Department.faculties.collect {|f| [f.id, f.abbreviation ]}, 'faculty', class: 'ajax-faculty') %>
    </div>
  </div>             

  <div class='row'>
    <%= label_tag 'course_study', 'Курс', class: 'control-label col-lg-2' %>
    <div class='col col-lg-10'>
      <%= hidden_field_tag 'course_study', (@session.group.course if @session ) %>
      <%= pill_tabs('course', [1,2,3,4,5,6], 'course_study', class: 'ajax-course') %>
    </div>
  </div>

  <div class='row'>
    <%= label_tag :form, 'Форма обучения', class: 'control-label col-lg-2' %>
    <%= hidden_field_tag :form, (@session.group.form if @session ) %>
    <div class='col col-lg-10'>
      <%= pill_tabs('form', [['101', 'очная'], ['102', 'очно-заочная'], ['103', 'заочная'],
                             ['105', 'дистанционная']], 'form', class: 'ajax-form') %>
		</div>
  </div>

  <div class='row'>
    <%= label_tag :speciality, 'Специальность', class: 'control-label col-lg-2' %>
    <div class='col col-lg-10'>
			<%= select_tag 'speciality',
                     options_from_collection_for_select(Speciality.includes(:faculty), :id, :full_name, (@session.group.speciality.id if @session)),
                     prompt: 'все специальности', class: 'ajax-speciality form-control' %>
		</div>
  </div>

  <div class='row'>
    <%= f.label :group_id, class: 'control-label col-lg-2' %>
    <div class='col col-lg-10'>
      <%= hidden_field_tag 'subject_group', (@session.group.id if @session)  %>
			<%= f.select :group_id, options_from_collection_for_select(Group.includes(:speciality), :id, :name, (@session.group.id if @session)),
                   {include_blank: 'все группы'},
                   { class: 'ajax-group_id form-control', required: 'required' } %>
    </div>
  </div>
      
  <div class='row'>
    <%= f.label :subject_name, class: 'control-label col-lg-2' %>
    <div class='col col-lg-10'>
			<%= f.text_field :subject_name, placeholder: 'Математика', required: 'required', class: 'form-control' %>
		</div>
  </div>

   <div class='row'>
     <%= f.label :kind, class: 'control-label col-lg-2' %>
     <div class="col col-lg-10">
        <%= f.hidden_field :kind, required: 'required' %>
        <%= pill_tabs('kind', [['1', 'экзамен'], ['0', 'зачёт'], ['2', 'курсовая работа'],
           ['3', 'курсовой проект'], ['4', 'практика'], ['5', 'преддипломная практика'],
           ['9', 'дифференцированный зачёт'], ['6', 'ГАК']], 'study_subject_kind') %>
      </div>
    </div>

  <div class='row'>
    <div class='col col-lg-10 col-offset-2'>
      <%= f.submit class: 'btn btn-default' %>
    </div>
  </div>
<% end %>