<div class="page-header">
  <h1>Все результаты</h1>
</div>

<div class='row'>
  <div class='col col-lg-2'>
    <%= link_to 'Добавить', new_study_subject_path, class: 'btn btn-primary' %>
  </div>
  <% if !current_user.is?(:typer) %>
    <div class='col col-lg-2 pull-right'>
      <%= link_to 'Анализ', study_analyse_path, class: 'btn btn-info btn-block' %>
      <%= link_to 'Активность', study_chase_path, class: 'btn btn-info btn-block' %>
    </div>
  <% end %>
</div>

<table class="table table-hover">
  <thead>
  <tr>
    <th>#</th>
    <th>Год</th>
    <th>Семестр</th>
    <th>Группа</th>
    <th>Дисциплина</th>
    <th>Форма отчетности</th>
    <th>Оценки</th>
  </tr>
  </thead>
  <tbody>
  <% @subjects.each do |subject| %>
    <tr class='subj'>
      <td><%= subject.id %></td>
      <td><%= "#{subject.year}/#{subject.year + 1}" %></td>
      <td><%= subject.semester %></td>
      <td><%= subject.group.name %></td>
      <td><%= subject.title %></td>
      <td><%= subject.type %></td>
      <td><%= link_to 'Посмотреть', study_subject_marks_path(subject) %></td>
    </tr>
  <% end %>
  </tbody>
</table>