<div class="page-header">
  <h1>Все результаты</h1>
</div>

<div class='col col-lg-12' style='margin-bottom: 20px; padding: 0;'>
  <form id='filterforsubjects' class='form-inline'>
    <div class='col col-lg-6'>
      <input type='text' name='subject_name' id='subject_name' class='form-control' placeholder='Поиск по названию дисциплины'>
    </div>
    <div class='col col-lg-3'>
      <%= select_tag :subject_group, options_from_collection_for_select(Group.includes(:speciality).sort_by{|g| [g.name]}, :id, :name),
                 prompt: 'все группы', class: 'form-control' %>
    </div>
    <input type='submit' value='Найти' class='btn btn-default'>
  </form>
</div>

<div class='row'>
  <div class='col col-lg-2'>
    <%= link_to 'Добавить', new_study_subject_path, class: 'btn btn-primary' %>
  </div>
  <% if !current_user.is?(:typer) %>
    <div class='col col-lg-2 pull-right'>
      <%= link_to 'Активность', study_chase_path, class: 'btn btn-info btn-block' %>
    </div>
    <div class='col col-lg-2 pull-right'>
      <%= link_to 'Анализ', study_analyse_path, class: 'btn btn-info btn-block' %>
    </div>
  <% end %>
</div>



<div class='paginator'>
  <%= paginate_with_info @subjects %>
</div>


<table id='subjects' class="table table-hover">
  <thead>
  <tr>
    <th>#</th>
    <th>Год</th>
    <th>Семестр</th>
    <th>Группа</th>
    <th>Дисциплина</th>
    <th>Форма отчетности</th>
    <th>Оценки</th>
  </tr>
  </thead>
  <tbody>
  <% @subjects.each do |subject| %>
    <tr class='subj'>
      <td><%= subject.id %></td>
      <td><%= "#{subject.year}/#{subject.year + 1}" %></td>
      <td><%= subject.semester %></td>
      <td class="nowrap"><%= subject.group.name %></td>
      <td><%= subject.title %></td>
      <td><%= subject.type %></td>
      <td><%= link_to 'Посмотреть', study_subject_marks_path(subject) %></td>
    </tr>
  <% end %>
  </tbody>
</table>