<div class="page-header">
  <h1>
    Оценки <%= @subject.group.name %>
    <br>
    <small>
      <%= @subject.title %>
      (<%= "#{@subject.year}/#{@subject.year + 1}, #{@subject.semester}-й семестр" %>)
    </small>
  </h1>
</div>

<%= link_to  'Все оценки, введенные по данной дисциплине', study_subject_marks_path(@subject) %>
<br>
<br>

  <table class='table table-hover'>
    <thead>
    <tr>
      <th>#</th>
      <th>Студент</th>
      <th>Результат</th>
      <th>Пересдача</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
      <% @subject.marks.each  do |mark| %>
        <tr>
          <td><%= mark.student.id %></td>
          <td><%= mark.student.person.full_name %></td>
          <td>
            <% if mark.subject.exam? %>
              <%= mark.mark %>
            <% else %>
              <%= mark.test %>
            <% end %>
          </td>
          <td>
            <% if mark.retake == nil %>
              <%= 'нет' %>
            <% else %>
              <%= mark.retake %>
            <% end %> 
          </td>
          <td><%= link_to  'Редактировать', study_subject_mark_path(@subject, mark) %></td>
       </tr>
      <% end %> 
    </tbody>
  </table>

  <%= link_to 'Добавить', new_study_subject_mark_path(@subject), class: 'btn btn-default' %>
