<h1>Заявки</h1>

<%= form_tag nil, method: :get, class: 'form-horizontal claims-filters' do %>
  <div class="form-group">
    <div class="col-sm-4">
      <div class="checkbox">
        <label>
          <%= check_box_tag :accepted, '1', '1' == params[:accepted], class: 'updateListOfClaims' %> Показать только принятые заявки
        </label>
      </div>
    </div>
  </div>
<% end %>

<table class="table">
<thead>
<tr>
  <th>#</th>
  <th>ФИО</th>
  <th>Группа</th>
  <th>Телефон</th>
  <th>Электронная почта</th>
  <th>Комментарий</th>
  <th></th>
</tr>
</thead>
<tbody>
  <% @events.each do |event, index| %>
    <% next if event.claims.empty? %>
    <tr><td colspan="6" class="text-center"><%= event.name %></td></tr>
    <% claims = params[:accepted] == '1' ? event.claims.accepted : event.claims %>
    <% claims.each_with_index do |claim, index| %>
    <tr class="<%= 'success' if claim.accepted? %> ">
      <td><%= index + 1 %></td>
      <td><%= claim.fname %> <%= claim.iname %> <%= claim.oname %></td>
      <td><%= claim.group.name if claim.group %></td>
      <td><%= claim.phone %></td>
      <td><%= claim.email %></td>
      <td><%= claim.comment %></td>
      <td>
        <% unless claim.accepted? %>
          <%= form_for claim, url: event_claim_path(event, claim) do |f| %>
            <%= f.hidden_field :status, value: 2 %>
            <button type="submit" class="btn btn-success pull-right" title="Подтвердить">
              <span class="glyphicon glyphicon-ok"></span>
            </button>
          <% end %>
          <br><br>
        <% end %>
        <%= link_to event_claim_path(event, claim), method: :delete, class: 'btn btn-danger pull-right', title: 'Удалить', confirm: 'Вы уверены?' do %>
          <span class="glyphicon glyphicon-remove"></span>
        <% end %>
      </td>
    </tr>
    <% end %>
  <% end %>
</tbody>
</table>
