<%= render_navigation context: :student %>
<br>
<div class="page-header">
  <h1><%= @student.person.full_name %> <small><%= @student.group.name %></small></h1>
</div>

<div class="row">
  <% if @student.is_valid? %>
  <div class="thumbnail col-lg-5">
    <div class="caption">
      <h3>Справка</h3>
      <p>Справка о том, что студент действительно обучается в МГУПечати имени Ивана Фёдорова</p>
      <p><%= link_to '#referenceModal', class: 'btn btn-default pull-right', data: {toggle: 'modal'} do %>
            Распечатать
         <% end %>
    </div>
  </div>
  <% end %>
  <div class="thumbnail col-lg-offset-1 col-lg-5">
    <div class="caption">
      <h3>Справка-ходатайство</h3>
      <p>Справка для предоставления в Отделение ОУФМС для регистрации.</p>
      <p><%#= link_to petition_student_path(@student), class: 'btn btn-default pull-right' do %>
        <%= link_to '#petitionModal', class: 'btn btn-default pull-right', data: {toggle: 'modal'} do %>
          Распечатать
        <% end %>
      </p>
    </div>
  </div>
</div>

<%= render partial: 'reference_modal', locals: {student: @student} %>
<%= render partial: 'petition_modal', locals: {student: @student} %>