<div class="page-header">
  <h1>Студенты</h1>
  <h2 style="height: 8px;"><small class="pull-right"><%= link_to 'Создать студента', new_person_path %></small></h2>
</div>

<%= render 'filters' %>

<div id="ajax_content" data-href="<%= students_path %>/list/">

  <%= paginate_with_info @students %>

  <table class="table table-hover">
    <thead>
    <tr>
      <th>#</th>
      <th>Фамилия</th>
      <th>Имя</th>
      <th>Отчество</th>
      <th>Группа</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% @students.each do |student| %>
    <tr>
      <td><%= student.id %></td>
      <td><%= student.person.last_name %></td>
      <td><%= student.person.first_name %></td>
      <td><%= student.person.patronym %></td>
      <td><%= student.group.name %></td>
      <td>
        <%= link_to 'Информация', student %>
      </td>
    </tr>
    <% end %>
    </tbody>
  </table>
</div>