<%= render_navigation context: :student %>
<br>
<div class="page-header">
  <h1><%= @person.full_name %> <small><%= @student.group.name %></small></h1>
  <% if current_user.is?(:developer) || can?(:manage, Student) %>
    <button style="margin-top: -25px;" data-type="<%= @student.id ? 'edit' : 'new' %>" data-value="<%= @student.id %>" class="pull-right btn btn-sm btn-info edit-student-person">Редактировать</button>
  <% end %>
</div>

<%= render 'form' %>