<table class='table'>
  <tr>
    <th>#</th>
    <th>Студент</th>
    <th>Результат</th>
    <th>Пересдача</th>
    <th> 
    </th>
  </tr>


    <% time = Time.new((@session.year + 1), 06, 01) %>
    <% Student.in_group_at_date(@session.group_id, time).each do |student| %>
      <tr>
        <%= form_for @session_mark, url:  { action: "create" }, html: { class: 'form-horizontal' } do |f| %>
          <%= f.hidden_field :user_id, value: current_user.id %>
          <%= f.hidden_field :student_id, value: student.id %>
          <td><%= student.id %></td>
          <td><%= student.person.last_name %> <%= student.person.first_name %> <%= student.person.patronym %>
          </td>
          <td>
            <% SessionMark.all.each do |sm| %>
            <% if  student.id == sm.student_id %>
              <%= sm.mark %>
            <% end %>
            <% end %>
            <% if !(SessionMark.find_by student_id: student.id) %>
                <% if 1 == @kind %>
                  <%= f.text_field :mark, pattern: "[3-5]" %>
                <% else %>
                  <ul class="nav nav-pills">
                    <li class="active"><a href="#">Незачет</a></li>
                    <li><a href="#">Зачет</a></li>
                  </ul>
                <% end %>
              <% end %>
          </td>
          <td>
              <%= f.select :retake, options_for_select(['0', '1', '2', '3']), { include_blank: 'нет данных' } %>
          </td>
          <td>
           <%= f.submit 'Сохранить', class: 'btn btn-primary' %>
          </td>
          <% end %>
       </tr>
    <% end %>
</table>

<%= link_to 'Назад', session_session_marks_path(@session), class: 'btn btn-default' %>

