<table class='table'>
  <% type= '0' %>
  <tr>
    <th>#</th>
    <th>Студент</th>
    <th>Результат</th>
    <th>Пересдача</th>
    <th></th>
  </tr>

  <!-- убрать фильтр! -->

    <% Student.filter( group: @session.group_id ).each do |student| %>
      <tr>
        <%= form_for @session.session_mark, html: { class: 'form-horizontal' } do |f| %>
          <%= hidden_field_tag 'session_mark[user_id]', current_user %>
          <td><%= student.id %></td>
          <%= hidden_field_tag 'session_mark[student_id]', student.id %>
          <td><%= student.person.last_name %> <%= student.person.first_name %> <%= student.person.patronym %>
          </td>
          <td>
            <% if type == '1' %>
              <%= f.text_field :mark %>
            <% else %>
              <ul class="nav nav-pills">
                <li class="active"><a href="#">Незачет</a></li>
                <li><a href="#">Зачет</a></li>
              </ul>
            <% end %>
          </td>
          <td>
              <%= f.select :retake, options_for_select(['0', '1', '2', '3']), { include_blank: 'нет данных' } %>
          </td>
          <td>
            <%= f.submit 'Сохранить',  class: 'btn btn-primary' %>
            <%= link_to 'Назад', session_session_marks_path, class: 'btn btn-default' %>
          </td>
          <% end %>
       </tr>
    <% end %>
</table>

