<%= form_tag my_progress_path, method: 'get', html: { class: 'form-horizontal' } do %>

  <div class='row'>
    <%= label_tag :faculty, 'Факультет', class: 'control-label col-lg-2' %>
    <div class='col col-lg-10'>
      <%= hidden_field_tag :faculty %>
      <ul class='nav nav-pills pill-select ajax-faculty' name='pillfaculty' id='pillfaculty'>
        <% Department.faculties.each do |faculty| %>
          <li><a data-toggle='pill' data-value="<%=faculty.id%>" data-input='faculty' href='#'><%= faculty.abbreviation %></a></li>
        <% end %>
      </ul>
    </div>
  </div>             

  <div class='row'>
    <%= label_tag :course, 'Курс', class: 'control-label col-lg-2' %>
    <div class='col col-lg-10'>
      <%= hidden_field_tag 'course' %>
      <ul class='nav nav-pills ajax-course pill-select' name='pillcourse' id='pillcourse'>
        <li><a  data-toggle='pill' data-value="1" data-input='course' href='#'>1</a></li>
        <li><a  data-toggle='pill' data-value="2" data-input='course' href='#'>2</a></li>
        <li><a  data-toggle='pill' data-value="3" data-input='course' href='#'>3</a></li>
        <li><a  data-toggle='pill' data-value="4" data-input='course' href='#'>4</a></li>
        <li><a  data-toggle='pill' data-value="5" data-input='course' href='#'>5</a></li>
        <li><a  data-toggle='pill' data-value="6" data-input='course' href='#'>6</a></li>
      </ul>
    </div>
  </div>

  <div class='row'>
    <%= label_tag :form, 'Форма обучения', class: 'control-label col-lg-2' %>
    <%= hidden_field_tag :form %>
    <div class='col col-lg-10'>
      <ul class='nav nav-pills ajax-form pill-select' name='pillform' id='pillform'>
          <li><a  data-toggle='pill' data-value="101" data-input='form' href='#'>очная</a></li>
          <li><a  data-toggle='pill' data-value="102" data-input='form' href='#'>очно-заочная</a></li>
          <li><a  data-toggle='pill' data-value="103" data-input='form' href='#'>заочная</a></li>
          <li><a  data-toggle='pill' data-value="105" data-input='form' href='#'>дистанционная</a></li>
      </ul>
    </div>
  </div>

  <div class='row'>
    <%= label_tag :speciality, 'Специальность', class: 'control-label col-lg-2' %>
    <div class='col col-lg-10'>
      <%= select_tag 'speciality',
                     options_from_collection_for_select(Speciality.all, :id, :full_name),
                     prompt: 'все специальности', class: 'ajax-speciality' %>
    </div>
  </div>

  <div class='row'>
    <%= label_tag :group, 'Группа', class: 'control-label col-lg-2' %>
    <div class='col col-lg-10'>
      <%= select_tag :group, content_tag(:option,'все группы', value: '') +options_from_collection_for_select(Group.all, :id, :name), { class: 'ajax-group_id', required: 'required'} %>
    </div>
  </div>

  <div class='row'>
    <div class='col col-lg-10 col-offset-2'>
      <%= submit_tag 'Посмотреть рейтинги группы',class: 'btn btn-default' %>
    </div>
  </div>
<% end %>