<td class="nowrap"><%= a.number %></td>
<td><%= a.entrant.full_name %></td>
<% a.abitexams.each do |exam| %>
  <td><%= exam.score %></td>
<% end %>
<td><%= a.abitachievements %></td>
<td><%= a.abitpoints %></td>

<% if a.is_payed && can?(:manage, Entrance::Application) %>
 <td class="nowrap">
   <% if a.contract %>
     № <%= a.contract.number %>

     <% if a.contract.paid? %>
      <strong class="text-danger">ОПЛАЧЕНО</strong>
     <% end %>
   <% else %>
     <% c = a.entrant.applications.collect{|app| app.contract}.compact %>
     <% unless c.empty? %>
      <% c.each do |contract| %>
         Был заключён<br>договор № <%= contract.number %><br>
         по заявлению<br><%= contract.application.number %>
      <% end %>
     <% end %>
   <% end %>
 </td>
<% else %>
  <td>
    <% if a.original? %>
      <span class="glyphicons ok_2"></span>
    <% end %>

    <% if can?(:manage, Entrance::Application) %>
      <% c = a.entrant.applications.collect{|app| app.contract}.compact %>
      <% unless c.empty? %>
        <% c.each do |contract| %>
          Был заключён<br>договор № <%= contract.number %><br>
          по заявлению<br><%= contract.application.number %>
        <% end %>
      <% end %>
    <% end %>
  </td>
<% end %>

<% if can?(:manage, Entrance::Application) %>
  <td>
      <%= link_to entrance_campaign_entrant_applications_path(@campaign, a.entrant),
                  class: 'btn btn-default',
                  title: 'Заявления',
                  target: :blank do %>
        <span class="glyphicons notes"></span>
      <% end %>
  </td>
<% end %>
<% if can?(:reject, :entrance_applications) %>
  <td>
      <%= link_to reject_entrance_campaign_entrant_application_path(@campaign, a.entrant, a),
                  class: 'btn btn-danger',
                  title: 'Отклонить заявление',
                  remote: true,
                  data: { confirm: 'ВЫ ТОЧНО ПОНИМАЕТЕ ЧТО И ЗАЧЕМ ВЫ ДЕЛАЕТЕ???!!!' } do %>
        <span class="glyphicons remove_2"></span>
      <% end %>
  </td>
<% end %>
<td>
  <% if a.order && a.order.signing_date %>
    № <%= a.order.number %> от <%= l a.order.signing_date.to_date %>
  <% elsif can?(:create, :entrance_orders) && !a.order && a.packed %>
    <%= image_tag asset_path('loader.gif'), class: 'loader', style: 'display: none;' %>
    <% if (a.original? && !a.is_payed) || (a.is_payed && a.contract && a.contract.paid?) %>
      <%= link_to 'Зачислить', enroll_entrance_campaign_entrant_application_path(@campaign.id, a.entrant.id, a.id), class: 'btn btn-success enroll-link',
                  data: {question: "Вы уверены, что хотите зачислить абитуриента #{a.entrant.full_name}?"}, remote: true %>
    <% end %>
  <% elsif can?(:create, :entrance_orders) && a.order %>
    формируется приказ о зачислении
  <% end %>
</td>
