<div class="page-header">
  <h1>Информация о платном приёме</h1>
</div>

<table class="table table-hover">
  <thead>
  <tr>
    <th>Факультет</th>
    <th>Студент (Плательщик)</th>
    <th>Договор</th>
    <th>Общая сумма</th>
    <th>Поступило</th>
  </tr>
  </thead>
  <tobdy>
    <% @students.each do |student|%>
      <tr>
        <td>
          <%= l student[:student].contract.date.to_date %>
          <br>
          <%=  student[:student].faculty.abbreviation %>
        </td>
        <td>
          <%=  student[:student].person.full_name %>
          <br>
          (<%= student[:student].contract.payer %>)
        </td>
        <td class="nowrap"><%= '№ ' + student[:student].contract.number %></td>
        <td>
          <% i = 1 %>
          <% sum = 0 %>
          <% even_indexes, odd_indexes = (0..(student[:cost].size - 1)).partition  {|x| x % 2 == 0} %>
          <% student[:cost].values_at(*even_indexes).each do |price| %>
            <%= i %>-й год: <%= number_to_currency(price, precision: 0)  %>
            <% i+=1 %>
            <% sum+=price %>
            <br>
          <% end %>
          <% if sum != 0 %>
            <span class='label' style='font-size: 1em;'><span class='glyphicon glyphicon-exclamation-sign'></span> Итого за <strong><%= i-1 %></strong> <%= i < 6 ? 'года' : 'лет' %> обучения: <strong><%= number_to_currency(sum, precision: 0) %> руб.</strong></span>
          <% end %>
        </td>
        <td></td>
      </tr>
    <% end %>
  </tobdy>
</table>