<div class="page-header">
  <h1>Информация о платном приёме</h1>
</div>

<table class="table table-hover">
  <thead>
  <tr>
    <th></th>
    <th>
      Студент
      <br>
      Плательщик
    </th>
    <th>Общая сумма</th>
    <th>Поступило</th>
  </tr>
  </thead>
  <tobdy>
    <% @students.each do |student|%>
      <tr>
        <td>
          <%= l student.contract.date.to_date %>
          <br>
          <%=  student.faculty.abbreviation %>
        </td>
        <td>
          <%= '№ ' + student.contract.number %>
          <br>
          <%=  student.person.full_name %>
          <br>
          <em><%= student.contract.payer %></em>
        </td>
        <td class="text-right nowrap">
          <table>
            <% student.tuition_fee[:by_year].each do |year, sum| %>
              <tr>
                <td><%= year %> :</td>
                <td class="text-right"><%= number_to_currency(sum) %></td>
              </tr>
            <% end %>
          </table>

          <div class="text-right" style="border-top: 1px solid gray;">
            <strong><%= number_to_currency(student.tuition_fee[:total]) %></strong>
          </div>
        </td>
        <td></td>
      </tr>
    <% end %>
  </tobdy>
</table>