<div class="page-header">
  <h1>Информация о платном приёме</h1>
</div>

<%= render 'stats' %>

<%= paginate_with_info @students %>

<table class="table table-hover">
  <thead>
  <tr>
    <th></th>
    <th>
      Студент
      <br>
      Плательщик
    </th>
    <th>Общая сумма</th>
    <th>Платежи</th>
  </tr>
  </thead>
  <tobdy>
    <% @students.each do |student|%>
      <tr>
        <td>
          <%= l student.contract.date.to_date %>
          <br>
          <%=  student.faculty.abbreviation %>
        </td>
        <td>
          <%= '№ ' + student.contract.number %>
          <br><br>
          Студент: <%=  student.person.full_name %>
          <br><br>
          Плательщик: <em><%= student.contract.payer %></em>
        </td>
        <td>
          <table>
            <% student.tuition_fee[:by_year].each do |year, sum| %>
              <tr>
                <td><%= year %></td>
                <td class="text-right nowrap"><%= number_to_currency(sum) %></td>
              </tr>
            <% end %>
            <tr>
              <td class="text-right nowrap" colspan="2">
                <strong><%= number_to_currency(student.tuition_fee[:total]) %></strong>
              </td>
            </tr>
          </table>
        </td>
        <td>
          <table>
            <% student.payments.each do |payment| %>
              <tr>
                <td class="nowrap"><%= l(payment.date, format: :short) %></td>
                <td class="text-right nowrap"><%= number_to_currency(payment.sum) %></td>
              </tr>
            <% end %>
            <tr>
              <td class="text-right nowrap" colspan="2">
                <strong><%= number_to_currency(student.total_payments) %></strong>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    <% end %>
  </tobdy>
</table>

<%= paginate @students %>
