<div class="page-header">
  <h1>Информация о платном приёме</h1>
</div>




<table class='table table-hover'>
  <thead>
  <tr>
    <th class='text-muted'>#</th>
    <th>Факультет</th>
    <th style='width: 210px;'>Студент</th>
    <th style='width: 290px;'>Информация об оплате</th>
    <th style='width: 120px;'></th>
    <th>Заказчик</th>
  </tr>
  </thead>
  <tobdy>
    <% @students.each do |student|%>
      <tr>
        <td class='text-muted' rowspan='2'><%= student[:student].id %></td>
        <td rowspan='2'><%=  student[:student].group.speciality.faculty.abbreviation %></td>
        <td rowspan='2' style='width: 210px;'><%=  student[:student].person.full_name %></td>
        <td rowspan='2' class='text-center' style='width: 290px;'>
          <% i = 1 %>
          <% sum = 0 %>
          <% even_indexes, odd_indexes = (0..(student[:cost].size - 1)).partition  {|x| x % 2 == 0} %>
          <% student[:cost].values_at(*even_indexes).each do |price| %>
            За обучение на <%= i %>-м курсе: <%=  price  %> руб.
            <% i+=1 %>
            <% sum+=price %>
            <br>
          <% end %>
          <% if sum != 0 %>
            <span class='label' style='font-size: 1em;'><span class='glyphicon glyphicon-exclamation-sign'></span> Итого за <strong><%= i-1 %></strong> <%= i < 6 ? 'года' : 'лет' %> обучения: <strong><%= sum %> руб.</strong></span>
          <% end %>
        </td>
        <td style='width: 120px;'><strong><%= student[:date] %></strong></td>
        <td rowspan='2'><%= student[:payer] %></td>
      </tr>
      <tr>
        <td style='width: 120px;'><%= '#' + student[:document] if student[:document] %></td>
      </tr>
    <% end %>
  </tobdy>
</table>