<div class="discipline_exams_fields">
  <%= f.hidden_field :id %>
  <%= f.hidden_field :exam_type,
                     value:( f.object.exam_type ? f.object.exam_type : nil),
                     class: 'exam-type', data: {parent: f.object.exam_parent ? f.object.exam_parent : '0' } %>
  <div class="exam-weight row" style="display: none;">
    <%= f.label :exam_weight, class: 'col-sm-1 control-label' %>
    <div class="col-sm-5">
    <%= f.text_field :exam_weight,
                       value:( f.object.weight ? f.object.weight : nil),
                       class: 'form-control' %>
    </div>
  </div>
  <%= f.link_to_remove 'Удалить экзамен',
                     style: 'display: none;' %>

</div>