<div id="<%= dom_id(discipline) %>" class="panel panel-default">
  <div class="panel-heading">
    <%= link_to manage_study_discipline_path(discipline), class: 'pull-right',
                data: {
                    toggle: 'modal',
                    target: '#' + dom_id(discipline, 'edit_modal'),
                    remote: manage_study_discipline_path(discipline)
                } do %>
      <span class="glyphicon glyphicon-edit"></span> Редактировать
    <% end %>
    <%= modal_placeholder(dom_id(discipline, 'edit_modal')) %>

    <h3 class="panel-title">
      <%= discipline.name %>
      <br>
      <small><%= discipline.lead_teacher.full_name if discipline.lead_teacher %></small>
    </h3>
  </div>
  <table class="table">
    <% discipline.exams.originals.each do |exam| %>
      <tr>
        <td>
          <div class="row">
            <div class="col-sm-<%= (exam.exam? && exam.date) ? '3' : '4' %>">
              <strong><%= exam.id %></strong>
              <%= exam.name %>
            </div>

            <div class="col-sm-3">
              <%= form_for exam, url: study_discipline_exam_path(discipline, exam),
                           remote: true, html: { class: 'form-inline' } do |f| %>
                <div class="form-group">
                  <%= f.text_field :exam_date, value: (exam.date ? l(exam.date) : nil),
                                   pattern: '\d{1,2}.\d{1,2}.\d{4}',
                                   class: 'form-control datepicker',
                                   style: 'width: 80px;' %>
                </div>

                <%= f.button type: :submit, class: 'btn btn-default',
                             title: 'Сохранить дату формы контроля' do %>
                  <span class="glyphicon glyphicon-floppy-disk"></span>
                <% end %>
              <% end %>
            </div>

            <div class="col-sm-2">
              <%= render partial: 'study/plans/validation', locals: { exam: exam } %>
            </div>
			
			<% if exam.exam? && exam.date %>
			<div class="col-sm-1">
				<%= link_to study_group_discipline_path(discipline.group, discipline), class: 'btn btn-sm btn-info', title: 'Посмотреть результаты' do %>
				  <span class='glyphicon glyphicon-eye-open'></span>
				<% end %>
			</div>
			<% end %>

            <div class="col-sm-1">
              <% if exam.can_print_register? %>
                <%= link_to print_study_discipline_exam_path(discipline, exam),
                            class: 'btn btn-default', title: 'Распечатать ведомость' do %>
                  <span class="glyphicon glyphicon-print"></span>
                <% end %>
              <% end %>
            </div>

            <div class="col-sm-1">
              <%= link_to study_discipline_exam_repeats_path(discipline, exam),
                          class: 'btn btn-default',
                          title: 'Дополнительные ведомости',
                          data: { toggle: 'modal',
                                  target: '#' + dom_id(exam, 'repeats'),
                                  remote: study_discipline_exam_repeats_path(discipline, exam) } do %>
                <span class="glyphicons more_items"></span>
              <% end %>
              <%= modal_placeholder(dom_id(exam, 'repeats'), size: 'modal-lg') %>
            </div>

            <div class="col-sm-1">
              <% if can?(:manage, :all) or discipline.not_brs? %>
                <%= link_to study_discipline_exam_path(discipline, exam), method: :delete,
                            class: 'delete btn btn-danger', confirm: 'Вы уверены?',
                            title: 'Удалить предмет из учебного плана' do %>
                  <span class='glyphicon glyphicon-remove'></span>
                <% end %>
              <% end %>
            </div>
          </div>
        </td>
      </tr>
    <% end %>
  </table>
</div>