<div class="modal fade" id="addDisciplineModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Добавить дисциплину для группы <%= group.name %></h4>
      </div>
      <div class="modal-body">
        <%= nested_form_for discipline, class: 'form-horizontal' do |f| %>
          <%= hidden_field_tag :plans, 1 %>
          <%= f.hidden_field :subject_year, value: Study::Discipline::CURRENT_STUDY_YEAR %>
          <%= f.hidden_field :subject_semester, value: Study::Discipline::CURRENT_STUDY_TERM %>
          <%= f.hidden_field :subject_group, value: group.id %>
          <%= f.label :subject_name %>
          <%= f.text_field :subject_name, placeholder: 'например, "Компьютерная обработка изображений"', class: 'form-control' %>
          <br>
          <label>Кафедра и преподаватель</label>
          <%= select_tag :subdepartment,
                       options_from_collection_for_select(Department.faculties.collect{|faculty| faculty.subdepartments.academic}.sum, :id, :name), { class: 'form-control ajax-subdepartment' } %>
          <br>
          <%= f.select :subject_teacher,
                       options_from_collection_for_select(User.teachers, :id, :full_name), {}, { class: 'form-control ajax-teacher' } %>
          <br>
          <% discipline.build_final_exam %>
          <%= f.fields_for :final_exam do |exam| %>
            <%= exam.hidden_field :id %>
            <div class="row">
              <%= exam.label :exam_type, 'Форма испытания',class: 'control-label col-sm-3' %>
              <div class="col-sm-9">
                <%= exam.select :exam_type, options_for_select(Study::Exam::EXAMS_TYPES, exam.object.exam_type), { prompt: 'выберите форму итогового контроля' }, { class: 'form-control' } %>
              </div>
            </div>
            <div class="row">
              <%= exam.hidden_field :exam_weight, value: 60, class: 'form-control' %>
            </div>
          <% end %>
          <br>
          <label>Дополнительные испытания</label>
          <br>
          <div class="checkbox">
              <label>
                  <%= hidden_field_tag :has_semester_work %>
                  <%= check_box_tag :has_semester_work, 1 %> Курсовая работа
              </label>
          </div>

          <div class="checkbox">
              <label>
                  <%= hidden_field_tag :has_semester_project %>
                  <%= check_box_tag :has_semester_project, 1 %> Курсовой проект
              </label>
          </div>
      </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
            <%= f.submit 'Добавить испытание в учебный план', class: 'btn btn-primary' %>
        <% end %>
        </div>
        </div>
  </div>
</div>
<script>
  $(document).ready(function(){
    updateTeachers = function(teachers, select){
      $(select).empty();
       $(teachers).each(function(){
            $(select).append('<option value="' + this.id + '">' +  this.name + '</option>');
       })
       $(select).trigger("liszt:updated");
    }
    $('.ajax-subdepartment').change(function(){
      select = $(this).closest('form').find('.ajax-teacher')
      $.getJSON ($('#matrixHQ').attr('href')+'ajax/teachers', {
        'subdepartment':  $(this).val()
      }, function(teachers){
          updateTeachers(teachers, select);
      })
    })
    $('.ajax-subdepartment').change()
  })
</script>