<div class="modal fade" id="<%= dom_id(discipline, 'modal') %>">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Редактирование дисциплины</h4>
      </div>

      <div class="modal-body">
        <%= nested_form_for discipline, html: { class: 'form-horizontal' } do |f| %>
          <%= hidden_field_tag :plan, 1 %>
          <%= f.hidden_field :subject_group %>

          <% discipline.build_final_exam unless discipline.final_exam %>
          <%= f.fields_for :final_exam do |exam| %>
            <%= exam.hidden_field :id %>

            <div class="form-group">
              <%= exam.label :exam_type, class: 'control-label col-sm-3' %>
              <div class="col-sm-9">
                <%= exam.select :exam_type,
                                options_for_select(Study::Exam::EXAMS_TYPES,
                                                   selected: exam.object.exam_type),
                                { prompt: 'выберите форму итогового контроля',
                                  include_blank: 'выберите форму итогового контроля' },
                                { class: 'form-control' } %>
              </div>
            </div>
          <% end %>

          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">
              Отмена
            </button>

            <%= f.submit 'Сохранить изменения',
                         class: 'submit-plan-discipline btn btn-primary' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function(){
    function updateTeachers(teachers, select) {
      $(select).empty();
      $(teachers).each(function(){
        $(select).append('<option value="' + this.id + '">' +  this.name + '</option>');
      });
      $(select).trigger("liszt:updated");
    };

    $('.ajax-subdepartment').click(function(){
      $('.ajax-subdepartment').change(function(){
        var select = $(this).closest('form').find('.ajax-teacher')
        $.getJSON ($('#matrixHQ').attr('href')+'ajax/teachers', {
          'subdepartment':  $(this).val()
        }, function(teachers){
          updateTeachers(teachers, select);
        })
      })
    });
  })
</script>