<div class="modal fade" id="repeatModal<%= parent_exam.id %>" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title"><%= group.name %> — <%= discipline.name %> <small><%= parent_exam.name %></small></h4>
      </div>
      <div class="modal-body">
        <div>
          <h4>Групповые ведомости</h4>
        <%= nested_form_for exam, url: study_discipline_exams_path(discipline), class: 'form-horizontal' do |f| %>
          <%= f.hidden_field :exam_subject, value: discipline.id %>
          <%= f.hidden_field :parent, value: parent_exam.id %>
          <%= f.hidden_field :exam_type, value: parent_exam.type %>
          <%= f.hidden_field :exam_weight, value: parent_exam.weight %>
          <%= f.hidden_field :exam_group, value: group.id %>
          <div class="row">
            <div class="col-sm-5">
              <%= f.select :repeat, options_for_select([['Первичный', 2], ['Повторный', 3],
                                                        ['Комиссия', 4], ['Досрочный', 1],
                                                        ['Уважительная', 5]]), {}, class: 'form-control'%>
            </div>
            <div class="col-sm-4">
              <%= f.text_field :date, value: (l Date.today), class: 'form-control datepicker', required: true %>
            </div>
            <div class="col-sm-2">
              <%= link_to 'Добавить', '#', class: 'btn btn-default add-repeat-students' %>
            </div>
          </div>
          <div class="row students-for-repeat" style="display: none;">
            <div class="col-sm-offset-1">
              <label>Добавьте студентов в ведомость</label>
              <br>
              <% group.students.each do |student| %>
                <label><%= check_box_tag 'students[]', student.id, (exam.students.include? student), class: 'repeat_exam_students', data: {person: student.person.id} %> <%= student.person.full_name %></label>
                <div class="for-student"></div>
              <% end %>
              <%= f.fields_for :students do |student_form| %>
                <%= render 'students_fields', f: student_form %>
              <% end %>
              <%= f.link_to_add 'Добавить студента',
                                :students, style: 'display: none;' %>
            </div>
              <div class="col-sm-offset-2">
                <%= f.submit 'Сохранить', class: 'btn btn-primary' %>
              </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
            <% mass_repeats = parent_exam.repeats.mass %>
            <% unless mass_repeats==[] %>
              <p><strong>Назначены групповые пересдачи</strong></p>
              <table class="table table-striped">
              <% mass_repeats.each do |r| %>
                <tr>
                  <td><%= r.id %></td>
                  <td><%= r.repeat_type %></td>
                  <td><%= l r.date %></td>
                  <td><%= link_to study_discipline_exam_print_path(discipline, r), class: "btn btn-default#{ ' disabled' if r.date.past? }", title: 'Распечатать ведомость' do %>
                        <span class="glyphicon glyphicon-print"></span>
                      <% end %>
                      <% if false %>
                      <%= link_to  study_discipline_exam_path(discipline, r), method: :delete,
                                     class: 'delete btn btn-danger', title: 'Удалить пересдачу из учебного плана',
                                     confirm: 'Вы уверены?' do %>
                        <span class='glyphicon glyphicon-remove'></span>
                      <% end %>
                      <% end %>
                  </td>
                  <% if r.date.past? %>
                  <td>Прошёл</td>
                  <% end %>
                </tr>
              <% end %>
              </table>
            <% end %>
            </div>
          </div>
        <% end %>
        </div>
          <br>
        <div>
          <h4>Индивидуальные ведомости</h4>
          <% group.students.each do |student| %>
            <p class="text-center"><strong><%= student.person.full_name %></strong></p>
            <%= form_for exam, url: study_discipline_exams_path(parent_exam.discipline), class: 'form-horizontal' do |f| %>
              <%= f.hidden_field :exam_subject, value: parent_exam.discipline.id %>
              <%= f.hidden_field :parent, value: parent_exam.id %>
              <%= f.hidden_field :exam_type, value: parent_exam.type %>
              <%= f.hidden_field :weight, value: parent_exam.weight %>
              <%= f.hidden_field :exam_student, value: student.person.id %>
              <%= f.hidden_field :exam_student_group, value: student.id %>
              <div class="row">
                <div class="col-sm-5">
                  <%= f.select :repeat, options_for_select([['Первичный', 2], ['Повторный', 3],
                                                            ['Комиссия', 4], ['Досрочный', 1],
                                                            ['Уважительная', 5]]), {}, class: 'form-control'%>
                </div>
                <div class="col-sm-4">
                  <%= f.text_field :date, value: (l Date.today), class: 'form-control datepicker', required: true %>
                </div>
                <div class="col-sm-2">
                  <%= f.submit 'Добавить', class: 'btn btn-primary' %>
                </div>
              </div>
            <% end %>
            <div class="row">
              <div class="col-sm-12">
                <% individual_repeats = parent_exam.repeats.individual.by_student(student) %>
                <% unless individual_repeats==[] %>
                  <p>Назначены пересдачи</p>
                  <table class="table table-striped">
                    <% individual_repeats.each do |r| %>
                      <tr>
                        <td><%= r.id %></td>
                        <td><%= r.repeat_type %></td>
                        <td><%= l r.date %></td>
                        <td><%= link_to study_discipline_exam_print_path(discipline, r), class: "btn btn-default#{ ' disabled' if r.date.past? }", title: 'Распечатать ведомость' do %>
                              <span class="glyphicon glyphicon-print"></span>
                            <% end %>
                        </td>
                        <% if r.date.past? %>
                          <td>Прошёл</td>
                        <% end %>
                      </tr>
                    <% end %>
                  </table>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>