<div class="page-header">
  <h1>Учебные планы</h1>
</div>

<%= render 'filters' %>

<% if @group %>
  <%= render partial: 'discipline',
             collection: @group.disciplines.includes(:lead_teacher)
                             .by_term(params[:year], params[:term]) %>

  <button class="btn btn-default" data-toggle="modal" data-target="#new_discipline_modal">
    <span class="glyphicon glyphicon-plus"></span> Добавить ещё одну дисциплину
  </button>
  <%= modal_placeholder('new_discipline_modal') do %>
    <%= render partial: 'study/disciplines/manage', layout: 'layouts/modal',
               locals: { discipline: @new_discipline } %>
  <% end %>

  <h2>Документы</h2>
    <% unless @group.fulltime? %>
      <%= link_to '#session_call_modal', class: 'btn btn-primary',
                                         data: { toggle: 'modal' } do %>
        <span class="glyphicon glyphicon-print"></span>
        Распечатать справки-вызов
      <% end %>

      <%= render partial: 'study/plans/modals/session_call' %>
    <% end %>
<% end %>

<script>
  $(function() {
    $(document).on('matrix.study.discipline.create', function() {
      document.location = document.location;
    });

    $(document).on('matrix.study.discipline.update', function() {
      $('.modal-backdrop').remove();
      $(document.body).removeClass('modal-open');
    });

    var updateTeachers = function(teachers, select){
      $(select).empty();
      $(teachers).each(function() {
        $(select).append('<option value="' + this.id + '">' +  this.name + '</option>');
      });
      $(select).trigger("liszt:updated");
    };

    $(document).on('change', '.ajax-subdepartment', function() {
      var select = $(this).closest('form').find('.ajax-teacher');

      $.getJSON ($('#matrixHQ').attr('href')+'ajax/teachers', {
        'subdepartment':  $(this).val()
      }, function(teachers){
        updateTeachers(teachers, select);
      })
    })
  });
</script>
