<%= nested_form_for @exam, url: study_discipline_exam_path(@discipline, @exam),
                    method: :patch, html: { class: 'form-horizontal marks', role: 'form'} do |f| %>
  <div class="form-group">
    <%= f.label :group, class: 'control-label col-sm-3' %>
    <div class="col-sm-9">
      <p class="form-control-static"><%= @discipline.group.name %></p>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :discipline, class: 'control-label col-sm-3' %>
    <div class="col-sm-9">
      <p class="form-control-static"><%= @discipline.name %></p>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :date, class: 'control-label col-sm-3' %>
    <div class="col-sm-9">
      <p class="form-control-static"><%= l @exam.date %></p>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :type, class: 'control-label col-sm-3' %>
    <div class="col-sm-9">
      <p class="form-control-static"><%= @exam.name %></p>
    </div>
  </div>

  <%= hidden_field_tag :new_results, (@exam.marks.empty? ? 1 : 0) %>

  <table class="table table-hover">
    <tr>
      <th class="text-muted">#</th>
      <th>Студент</th>
      <th>Итоговый балл</th>
      <th colspan="2">Результат</th>
    </tr>
  <% @students.each do |student| %>
    <tr>
      <td class="text-muted"><%= student.id %></td>
      <td><%= student.person.full_name %></td>

      <% final_mark = @exam.final_marks.by_student(student).last %>
      <% rating_mark = @exam.rating_marks.by_student(student).last %>
      <% if rating_mark == nil %>
        <td><%= render 'rating_marks_fields',
                        f: f, student: student %>
        </td>

      <% else %>
        <td>
          <ul class="list-unstyled">
            <li>за семестр — <%= student.ball(@exam.discipline) %></li>
            <li>за экзамен — <span id="exam_mark_li_<%= student.id %>"><%= rating_mark.value %></span></li>
          </ul>

          <div class="editFinalMarkField" style="display: none;">
            <br>
            <%= render 'rating_marks_fields',
                       f: f, student: student %>
          </div>
        </td>
      <% end %>

      <% if final_mark == nil %>
        <td colspan="2">
          <%= render 'final_marks_fields',
                     f: f, student: student.id %>
          <%= image_tag 'loader.gif', id: "loader#{student.id}"  %>
          <div id="finalMark<%= student.id %>"></div>
        </td>
      <% else %>
        <td>
          <%= image_tag 'loader.gif', id: "loader#{student.id}"  %>
          <div id="finalMark<%= student.id %>"></div>
          <div class="editFinalMarkField" style="display: none;">
            <br>
            <%= render 'final_marks_fields',
                       f: f, student: student.id %>
          </div>
        </td>
        <td><button class="btn btn-default editFinalMarkButton">Редактировать</button></td>
      <% end %>
    </tr>
  <% end %>
  </table>
  <div class="col-sm-3 col-sm-offset-4">
    <%= f.submit 'Внести результаты', class: 'btn btn-primary', confirm: 'Вы уверены, что внесли все оценки?' %>
  </div>

<% end %>