<% mark = @exam.exammarks.by_student(student).last ?  @exam.exammarks.by_student(student).last : @exam.exammarks.build %>
<%= f.fields_for :exammarks, mark do |marks_form| %>
  <%= marks_form.hidden_field :id, class: 'mark_id' %>
  <%= marks_form.hidden_field :mark_student_group, value: student %>
  <div class="btn-group btn-group-xs" data-toggle="buttons">
  <% if @exam.test? %>
      <label class="btn btn-default<%= ' active' if mark.value == Study::ExamMark::VALUE_ZACHET %>">
        <%= marks_form.radio_button :mark_value, Study::ExamMark::VALUE_ZACHET, id: "#{student}_mark_6"  %> Зачтено
      </label>
      <label class="btn btn-default<%= ' active' if mark.value = Study::ExamMark::VALUE_NEZACHET %>">
        <%= marks_form.radio_button :mark_value, Study::ExamMark::VALUE_NEZACHET, id: "#{student}_mark_7" %> Не зачтено
      </label>
  <% else %>
      <% [[5, 'Отлично'], [4, 'Хорошо'], [3, 'Удовл.'], [2, 'Неуд.']].each do |result| %>
        <label class="btn btn-default<%= ' active' if mark.value == "Study::ExamMark::VALUE_#{result[0]}" %>">
          <%= marks_form.radio_button :mark_value, "Study::ExamMark::VALUE_#{result[0]}", id: "#{student}_mark_#{result[0]}"  %> <%= result[1] %>
        </label>
      <% end %>
  <% end %>
    <label class="btn btn-default<%= ' active' if mark.value == Study::ExamMark::VALUE_NEDOPUSCHEN %>">
      <%= marks_form.radio_button :mark_value, Study::ExamMark::VALUE_NEDOPUSCHEN, id: "#{student}_mark_9" %> Недопущ.
    </label>
    <label class="btn btn-default<%= ' active' if mark.value == Study::ExamMark::VALUE_NEYAVKA %>">
      <%= marks_form.radio_button :mark_value, Study::ExamMark::VALUE_NEYAVKA, id: "#{student}_mark_1" %> Неявка
    </label>
  </div>
<% end %>