<% mark = @exam.rating_marks.by_student(student).last ?  @exam.rating_marks.by_student(student).last : @exam.final_marks.build %>
<% final_mark = @exam.final_marks.by_student(student).last %>
<%= f.fields_for :rating_marks, mark do |marks_form| %>
  <%= marks_form.hidden_field :id, class: 'rating_mark_id' %>
  <%= marks_form.hidden_field :mark_date, value: (l Date.today) %>
  <%= marks_form.hidden_field :mark_rating, value: true %>
  <%= marks_form.hidden_field :mark_student_group, value: student.id %>
  <% if final_mark %>
    <% condition = 0 %>
    <% condition = 1 if final_mark.value == 1 %>
    <% condition = 9 if final_mark.value == 9 %>
  <% else %>
    <% condition = student.ball(@exam.discipline) < 55 ? 9 : 0 %>
  <% end %>
  <p><label><%=radio_button_tag "exam_result#{student.id}", 0, condition == 0, class: 'results' %> <span class="currentBall"><strong><%= student.ball(@exam.discipline) %></strong> * <%= 1.0 - @exam.weight/100.0 %></span> + <%= @exam.weight/100.0 %> * <%= number_field_tag :mark, (mark ? mark.value : nil), class: 'form-control examBall', min: 0, max: 100,
                                                                                                                                                                       style: 'width: 150px', data: {value: @exam.discipline.id, student: student.id}%></label></p>
  <label><%=radio_button_tag "exam_result#{student.id}", 1, condition == 1, class: 'results', data: {value: @exam.discipline.id, student: student.id} %> Неявка</label>
  <br>
  <label><%=radio_button_tag "exam_result#{student.id}", 9, condition == 9, class: 'results', data: {value: @exam.discipline.id, student: student.id} %> Недопущен</label>
  <%= marks_form.hidden_field :mark_value, id: "finalSumBall#{student.id}" %>
  <%= marks_form.hidden_field :mark_final, value: 0 %>
<% end %>
