<% mark = @exam.rating_marks.by_student(student).last ?  @exam.rating_marks.by_student(student).last : @exam.final_marks.build %>
<%= f.fields_for :rating_marks, mark do |marks_form| %>
  <%= marks_form.hidden_field :id, class: 'mark_id' %>
  <%= marks_form.hidden_field :mark_date, value: Date.today %>
  <%= marks_form.hidden_field :mark_rating, value: true %>
  <%= marks_form.hidden_field :mark_student_group, value: student.id %>
  <p><span class="currentBall"><strong><%= student.ball(@exam.discipline) %></strong> * <%= 1.0 - @exam.weight/100.0 %></span> + <%= @exam.weight/100.0 %> * <%= number_field_tag :mark, nil, class: 'form-control examBall', min: 0, max: 100, style: 'width: 120px' %></p>
  <%= marks_form.hidden_field :mark_value, class: 'finalSumBall' %>
<% end %>