<div class="page-header">
    <h1>Контроль ведомостей - необработанные ведомости</h1>
</div>

<p class="help-block">Результаты этих ведомостей не обработаны в Матрице. Возможно, их еще не отсканировали или не распознали и не передали в Матрицу. Необходимо уточнить где они, что с ними и после этого передать их роботу обработки ведомостей.</p>

<%= form_tag nil, method: :get, class: 'filter-block' do |f| %>
    <div class='row'>
        <div class="col col-sm-6">
            <%= select_tag :year_term,
                           options_for_select(
                                   [['2013/2014, 2-й семестр', '2013-2'],
                                    ['2013/2014, 1-й семестр', '2013-1']],
                                   "#{params[:year]}-#{params[:term]}"),
                           class: 'form-control',
                           onchange: %q(document.location = '/study/' + $(this).val() + '/control';) %>
        </div>
    </div>
<% end %>

<h2>Сводные данные по необработанным ведомостям</h2>
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>Базовые ведомости</th>
            <th>Групповые пересдачи</th>
            <th>Индивидуальные пересдачи</th>
            <th>Всего необработано</th>
        </tr>
    </thead>
    <tbody>
        <% @exams_without_form.each do |faculty| %>
        <tr>
            <th><%= faculty[:faculty].abbreviation %></th>
            <td><%= faculty[:control][:basic] %> из <%= faculty[:all][:basic] %></td>
            <td><%= faculty[:control][:mass] %> из <%= faculty[:all][:mass] %></td>
            <td><%= faculty[:control][:individual] %> из <%= faculty[:all][:individual] %></td>
            <td><%= (faculty[:all][:basic]+faculty[:all][:mass]+faculty[:all][:individual]) == 0 ? 0 : 100*(faculty[:control][:basic]+faculty[:control][:mass]+faculty[:control][:individual])/(faculty[:all][:basic]+faculty[:all][:mass]+faculty[:all][:individual]) %>%</td>
        </tr>
        <% end %>
    </tbody>
</table>
<br><br>
<div class="panel-group" id="examsWithoutFormreader">
<% @exams_without_form.each do |faculty| %>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#examsWithoutFormreader" href="#faculty_<%= faculty[:faculty].id%>"><%= faculty[:faculty].abbreviation %></a>
            </h4>
        </div>
        <div id="faculty_<%= faculty[:faculty].id%>" class="panel-collapse collapse">
            <div class="panel-body">
                <% faculty[:groups].each do |group| %>
                    <h3><%= group[:group].name %></h3>
                    <ul>
                    <% group[:exams].each do |exam| %>
                        <li><%= l exam.date %> — <%= exam.id %> — <%= exam.discipline.name %> <%= exam.is_individual_repeat? ? "(#{exam.student ? exam.student.person.full_name : exam.students.first.student.person.full_name})" : (exam.is_mass_repeat? ? '<span style="color: red;">(ведомость на несколько человек)</span>'.html_safe : '') %> </li>
                    <% end %>
                    </ul>
                <% end %>
            </div>
        </div>
    </div>
<% end %>
</div>

