<div class="page-header">
  <h1>
    <%= @graduate.group.name %>, <%= @graduate.year %>/<%= @graduate.year + 1 %>
    <small>информация о выпуске</small>
  </h1>
</div>

<%= nested_form_for @graduate, html: { class: 'form-horizontal' } do |f| %>
  <fieldset>
    <legend>Государственная аттестационная комиссия</legend>

    <div class="form-group">
      <%= f.label :chairman, class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= f.text_field :chairman, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :secretary, class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= f.text_field :secretary, class: 'form-control' %>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>Дисциплины</legend>

    <div class="form-group">
      <div class="col-sm-2">
        <label>Вид</label>
      </div>
      <div class="col-sm-5">
        <label>Название</label>
      </div>
      <div class="col-sm-2">
        <label>Часы</label>
      </div>
      <div class="col-sm-2">
        <label>ЗЕТ</label>
      </div>
    </div>

    <%= f.fields_for :graduate_subjects do |sf| %>
      <div class="form-group">
        <div class="col-sm-2">
          <%= sf.select :kind, options_for_select(
              [
                ['предмет', GraduateSubject::TYPE_SUBJECT],
                ['курсовая', GraduateSubject::TYPE_PAPER],
                ['научно-исследовательская практика', GraduateSubject::TYPE_WORK3],
                ['научно-производственная практика', GraduateSubject::TYPE_WORK4],
                ['педагогическая практика', GraduateSubject::TYPE_WORK5],
                ['преддипломная практика', GraduateSubject::TYPE_WORK6],
                ['производственная практика', GraduateSubject::TYPE_WORK7],
                ['производственная практика (пленэр)', GraduateSubject::TYPE_WORK8],
                ['производственно-технологическая практика', GraduateSubject::TYPE_WORK9],
                ['технологическая практика', GraduateSubject::TYPE_WORK10],
                ['научно-исследовательская работа', GraduateSubject::TYPE_WORK11],
                ['учебная ознакомительная практика', GraduateSubject::TYPE_WORK12],
                ['учебная практика', GraduateSubject::TYPE_WORK13],
                ['учебная практика (мастерство)', GraduateSubject::TYPE_WORK14],
                ['учебная художественно-технологическая практика', GraduateSubject::TYPE_WORK15]
              ], selected: sf.object.kind), {}, class: 'form-control input-sm' %>
        </div>
        <div class="col-sm-5">
          <%= sf.text_field :name, class: 'form-control input-sm' %>
        </div>
        <div class="col-sm-2">
          <%= sf.text_field :hours, class: 'form-control input-sm' %>
        </div>
        <div class="col-sm-2">
          <%= sf.text_field :zet, class: 'form-control input-sm' %>
        </div>
        <div class="col-sm-1">
          <%= sf.link_to_remove class: 'btn btn-danger btn-sm' do %>
            <span class="glyphicon glyphicon-remove"></span>
          <% end %>
        </div>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.link_to_add 'Добавить дисциплину или курсовую', :graduate_subjects, class: 'btn btn-default' %>
    </div>
  </fieldset>

  <div class="form-group">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>