<div class="page-header">
  <h1>
    <%= @graduate.group.name %>, <%= @graduate.year %> / <%= @graduate.year + 1 %>
    <small>список студентов</small>
  </h1>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>№</th>
      <th>#</th>
      <th>Студент</th>
      <th></th>
    </tr>
  </thead>
  <% @students.each_with_index do |student, i| %>
    <tr>
      <td><%= i %></td>
      <td><%= student.id %></td>
      <td><%= student.person.full_name %></td>
      <td></td>
    </tr>
  <% end %>
</table>