<div class="page-header">
  <h1>
    <%= @graduate.group.name %>, <%= @graduate.year %> / <%= @graduate.year + 1 %>
    <small>список студентов</small>
  </h1>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>№</th>
      <th>#</th>
      <th>Студент</th>
      <th></th>
    </tr>
  </thead>
  <% @students.each_with_index do |student, i| %>
    <tr>
      <td><%= i + 1 %></td>
      <td><%= student.id %></td>
      <td><%= student.person.full_name %></td>
      <td>
        <% if student.graduate_student %>
          <%= link_to 'Редактировать', edit_graduate_graduate_student_path(student.graduate_student) %>
        <% else %>
          <%= link_to 'Добавить информацию', graduate_graduate_students_path(@graduate, student_id: student.id), method: :post %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>