<div class="page-header">
  <h1><%= @event.name %></h1>
</div>

<% unless @event.description.empty? %>
  <p class="help-block"><%= @event.description %></p>
<% end %>

<% condition = @current.dates.where(id: @dates.collect{|i| i.id}).empty? %>
<% unless condition %>
  <% book = @current.dates.where(id: @dates.collect{|i| i.id}).last %>
  <%= hidden_field_tag :current_book, (l book.date) %>
  <div class="alert-info alert">Вы уже забронировали дату на это мероприятие:
    <strong><%= l book.date, format: :long %> (<%= l book.time_start, format: '%H:%M' %><%= " - #{ l book.time_end, format: '%H:%M' }" if book.time_end %>)</strong></div>
<% end %>

<div class="panel-group" id="accordionHelper">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordionHelper" href="#answer">
            Как пользоваться календарём?
          </a>
        </h4>
      </div>
      <div id="answer" class="panel-collapse collapse">
        <div class="panel-body">
          <ul class="list-unstyled">
            <li>
              <div style="width: 50px; height: 20px; margin-right: 10px" class="col-sm-1 success"></div> — есть свободные места
              <br><br>
            </li>
            <li>
              <div style="width: 50px; height: 20px; margin-right: 10px" class="col-sm-1 warning"></div> — есть свободные места, но их количество меньше 10% или равно 1
              <br><br>
            </li>
            <li>
              <div style="width: 50px; height: 20px; margin-right: 10px" class="col-sm-1 danger"></div> — свободных мест нет
              <br><br>
            </li>
            <li>
              <div style="width: 50px; height: 20px; margin-right: 10px" class="col-sm-1 selected"></div> — ваш выбор
              <br><br>
            </li>
          </ul>
          <p>Чтобы забронировать время, нажмите на удобную вам дату в календаре. Обратите внимание, что изменить сделанный выбор самостоятельно вы не можете, для этого вы должны будете обратиться в Центр социальной поддержки и воспитательной работы (каб. 1222).</p>
        </div>
      </div>
    </div>
</div>
<br>


<div class="col-sm-12 events">
  <%= render_dates_calendar(@event.dates.order(:date).first.date, @event.dates.order(:date).last.date) %>
</div>

<div class="event_dates">
  <% @event.dates.order(:date).each_with_index do |date, index| %>
    <%= render partial: 'book_date', locals: {event: @event, index: index+1, book: book,
                                              date: date, condition: condition} %>
  <% end %>
</div>
