<div class="modal fade" id="changeDate" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Изменить дату проведения занятия</h4>
      </div>
      <div class="modal-body">
        <%= form_for checkpoint, url: update_date_study_discipline_checkpoint_path(checkpoint.discipline, checkpoint),
                     class: 'form-horizontal' do |f| %>
          <%= f.hidden_field :id %>
          <label class="control-label">Занятие</label>
          <%= text_field_tag :lesson, checkpoint.is_checkpoint? ? checkpoint.name : checkpoint.lessonname,
                             class: 'form-control', disabled: true %>
            <div class="form-group">
              <%= f.label :date, class: 'control-label' %>
              <%= f.text_field :date, value: (l checkpoint.date), class: 'form-control datepick', required: true %>
            </div>
            <%= submit_tag 'Сохранить изменения', class: 'btn btn-primary' %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>

        <% end %>
        </div>
        </div>
  </div>
</div>

<script>
  $(function(){
    $('.edit_study_checkpoint').submit(function(e){
      var data = $(this).serialize();
      var str = $(this).find('.datepick').val();
      if (str != ''){
        var m = str.match(/(\d{2}).(\d{2}).(\d{4})/);
        if ( m ){
          $.ajax({
            url: $(this).attr('action'),
            data: data
          });
        } else $(this).find('.datepick').parent().addClass('has-error');
      } else $(this).find('.datepick').parent().addClass('has-error');
      e.preventDefault();
    })
  })
</script>