<script>
  $(function() {
    var sidebar = $('.container > .row > .col-sm-3')[0];
    $(sidebar).removeClass('col-sm-3').addClass('col-sm-12');

    var content = $('.container > .row > .col-sm-9')[0]
    $(content).removeClass('col-sm-9').addClass('col-sm-12');
  });
</script>

<%= render partial: 'study/checkpoints/create', locals: {discipline: @discipline, checkpoint: Study::Checkpoint.new} %>

<%= nested_form_for @discipline, url: study_discipline_path(@discipline), method: :patch, html: { class: 'form-horizontal', role: 'form' } do |f| %>
  <div class="form-group">
    <%= f.label :group, class: 'control-label col-sm-3' %>
    <div class="col-sm-9">
      <p class="form-control-static"><%= @discipline.group.name %></p>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :name, class: 'control-label col-sm-3' %>
    <div class="col-sm-9">
      <p class="form-control-static"><%= @discipline.name %></p>
    </div>
  </div>

  <%= link_to '#createClass', class: 'btn btn-info pull-right', id: 'createClassButton',
              data: {toggle: 'modal'} do %>
    <span class="glyphicon glyphicon-plus"></span> Добавить занятие
  <% end %>


  <div class="row">
    <div class="col-md-4 lectures">
      <h3 class="navigation_trip" id="lecturesHead" data-input="#lecturesHead" data-content="Заполните каждый кадендарь своими лекциями," data-position="n">
      Лекции</h3>
      <%= render_checkpoints_calendar @discipline %>

      <%= f.fields_for :lectures do |lectures_form| %>
        <%= render 'study/checkpoints/lecture_fields', f: lectures_form %>
      <% end %>
      <%= f.link_to_add 'Добавить лекцию', :lectures, style: 'display: none;' %>
    </div>
    <div class="col-md-4 seminars">
      <h3 class="navigation_trip" id="seminarsHead" data-input="#seminarsHead" data-content="лабораторными (практическими) занятиями" data-position="n">
        <abbr title="Практические и лабораторные занятия">
          Практ. и&nbsp;лаб.
        </abbr>
      </h3>
      <%= render_checkpoints_calendar @discipline %>

      <%= f.fields_for :seminars do |seminars_form| %>
        <%= render 'study/checkpoints/seminar_fields', f: seminars_form %>
      <% end %>
      <%= f.link_to_add 'Добавить практическое или лабораторное занятие',
                        :seminars, style: 'display: none;' %>
    </div>
    <div class="col-md-4 checkpoints">
      <h3 class="navigation_trip" id="checkpointsHead" data-input="#checkpointsHead" data-content="и контрольными точками." data-position="n">
        Контрольные точки</h3>
      <%= render_checkpoints_calendar @discipline  %>
    </div>
  </div>

  <%= f.fields_for :checkpoints do |checkpoints_form| %>
    <%= render 'study/checkpoints/checkpoint_fields', f: checkpoints_form %>
  <% end %>
  <%= f.link_to_add 'Добавить контрольную точку', :checkpoints, style: 'display: none;' %>

  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
      <%= f.submit 'Сохранить информацию о контрольных точках', class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>

<span class="navigation_trip" data-input="#createClassButton"
data-content="Если у вас есть занятия одного типа в один день, вы можете добавить занятие вручную."
data-position="n"></span>