<div class="page-header">
  <h1>
    <%= @discipline.name %> <small><%= @discipline.group.name %></small>
  </h1>
</div>

<%= link_to new_study_discipline_checkpoint_path(@discipline),
            class: 'btn btn-default' do %>
  <span class="glyphicon glyphicon-calendar"></span>
  Редактировать расписание
<% end %>

<%= link_to edit_study_discipline_path(@discipline), class: 'btn btn-default' do %>
  <span class="glyphicon glyphicon-edit"></span> Редактировать дисциплину
<% end %>

<%= link_to study_discipline_print_group_path(@discipline), class: 'btn btn-default' do %>
  <span class='glyphicon glyphicon-print'></span> Студенты
<% end %>

<% unless @discipline.checkpoints.not_full(@discipline) == []%>
  <br><br>
  <div class="alert alert-danger">
    <p>В некоторых занятиях не введены результаты оценки студентов.</p>
    <ul>
    <% @discipline.classes.not_full(@discipline).each do |c| %>
      <li><%= link_to "Занятие #{c.id} (внести данные)", study_discipline_checkpoint_marks_path(@discipline, c) %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<div class="row">
  <table class="table table-striped">
    <thead>
    <tr>
      <th class="text-muted">#</th>
      <th>Дата</th>
      <th>Тип занятия</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
      <% @discipline.classes.each  do |checkpoint| %>
        <tr>
          <td class="text-muted"><%= checkpoint.id %></td>
          <td><%= l checkpoint.date %></td>
          <td class="full-width">
            <%= '<strong>'.html_safe if checkpoint.is_checkpoint? %>

            <span class="glyphicon <%= checkpoint.lesson %>"></span>
            <%= checkpoint.name if checkpoint.type == 3 %>
            <%= checkpoint.lessonname %>

            <%= '</strong>'.html_safe if checkpoint.is_checkpoint? %>
          </td>
          <td>
            <div class="pull-right">
              <% unless checkpoint.date.future? %>
                <%= link_to study_discipline_checkpoint_marks_path(@discipline, checkpoint), class: 'btn btn-default' do %>
                  <span class="glyphicon glyphicon-pencil"></span> Внести результаты
                <% end %>
              <% else %>
                <%= link_to study_discipline_checkpoint_path(@discipline, checkpoint), method: :delete, confirm: 'Вы уверены?', class: 'btn btn-danger', title: 'Удалить' do %>
                  <span class="glyphicon glyphicon-remove"></span>
                <% end %>
              <% end %>
            </div>
          </td>
       </tr>
      <% end %> 
    </tbody>
  </table>
 </div>
