<div class="page-header">
  <h1>
    <%= @discipline.name %> <small><%= @discipline.group.name %></small>
  </h1>
</div>

<%= link_to study_disciplines_path, class: 'btn btn-default btn-sm' do %>
  <span class="glyphicon glyphicon-list"></span>
  Назад ко всем дисциплинам
<% end %>

<%= link_to new_study_discipline_checkpoint_path(@discipline),
            class: 'btn btn-sm btn-default navigation_trip hidden-print', id: 'edit_checkpoints_button',
            data: { input: '#edit_checkpoints_button', content: 'Вы можете отредактировать своё расписание
                        <br>или информацию по контрольным точкам, пройдя по данной ссылке.',
                    position: 's'}  do %>
  <span class="glyphicon glyphicon-calendar"></span>
  Расписание
<% end %>

<%= link_to edit_study_discipline_path(@discipline), class: 'btn btn-sm btn-default navigation_trip hidden-print',
            id: 'edit_discipline_button', data: { input: '#edit_discipline_button',
            content: 'Вы можете редактировать карту дисциплины. Для этого пройдите по данной ссылке.',
            position: 's'} do %>
  <span class="glyphicon glyphicon-edit"></span> Редактировать дисциплину
<% end %>

<%= link_to study_discipline_print_group_path(@discipline), class: 'btn btn-sm btn-default navigation_trip hidden-print',
            id: 'print_students_list', data: { input: '#print_students_list',
            content: 'Чтобы распечатать список студентов группы, нажмите на эту кнопку.',
            position: 's'} do %>
  <span class='glyphicon glyphicon-print'></span> Студенты
<% end %>

<%= link_to study_group_discipline_path(@discipline.group, @discipline), class: 'btn btn-sm btn-info pull-right navigation_trip hidden-print',
            id: 'show_progress', data: { input: '#show_progress',
            content: 'Вы можете перейти на страницу с успеваемостью по этой дисциплине.',
            position: 'w'} do %>
  <span class='glyphicon glyphicon-eye-open'></span> Успеваемость
<% end %>

<% if @students.empty? %>
  <br><br>
  <div class="alert alert-info">
      <p class="lead">В выбранной вами группе не найдено ни одного студента, возможно, вам необходимо перейти к странице редактирования карты дисциплины. Проверьте номер направления.</p>
      <%= link_to edit_study_discipline_path(@discipline), class: 'btn btn-info' do %>
        <span class="glyphicon glyphicon-edit"></span> Редактировать дисциплину
      <% end %>
  </div>
<% elsif false #@discipline.year == Study::Discipline::CURRENT_STUDY_YEAR && @discipline.semester == 2 && Study::Discipline::CURRENT_STUDY_TERM == 1 %>
    <br><br>
    <div class="alert alert-info">
      <p class="lead">Данная дисциплина относится к следующему семестру, вы не можете вносить результаты студентов по ней, возможно, вам необходимо перейти к странице редактирования карты дисциплины.</p>
      <%= link_to edit_study_discipline_path(@discipline), class: 'btn btn-info' do %>
          <span class="glyphicon glyphicon-edit"></span> Редактировать дисциплину
      <% end %>
    </div>
<% else %>
<div id="not-full-classes">
  <%= render partial: 'not_full', locals: {classes: @classes, discipline: @discipline} %>
</div>
<div class="row">
  <table class="table table-striped">
    <thead>
    <tr>
      <th class="text-muted">#</th>
      <th>Дата</th>
      <th>Тип занятия</th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody id="classes_rows">
      <%= render partial: 'classes', locals: {discipline: @discipline} %>
    </tbody>
  </table>
  <div id="forModalChange"></div>
  <a data-toggle="modal" href="#changeDate"  class="hidden" id="changeDateModalBtn"></a>
</div>
<% end %>