<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @notification.user_id %>
</p>

<p>
  <strong>Text:</strong>
  <%= @notification.content %>
</p>

<p>
  <strong>Visible:</strong>
  <%= @notification.visible %>
</p>

<%= link_to 'Edit', edit_notification_path(@notification) %> |
<%= link_to 'Back', notifications_path %>
