<div class="page-header">
  <h1>Распределение студентов по группам</h1>
</div>

<form class='form-horizontal' action='' method='post' id='formpullgroupstudents'>

  <div class='row'>
    <div class='col col-lg-10'>
      <%= hidden_field_tag :faculty, nil,  class: 'ajax-faculty' %>
      <%= pill_tabs('faculty', Department.faculties.collect {|f| [f.id, f.abbreviation ]}, 'faculty') %>
    </div>
  </div>

  <div class='row'>
    <div class='col col-lg-6'>
      <%= select_tag 'speciality',
                     options_from_collection_for_select(Speciality.includes(:faculty), :id, :full_name),
                     prompt: 'все специальности', class: 'ajax-speciality form-control' %>
    </div>

    <div class='col col-lg-2'>
      <%= select_tag :course, options_for_select([1,2,3,4,5,6]), class: 'form-control' %>
    </div>

    <div class='col col-lg-4'>
      <%= select_tag :form, options_for_select([['очная', '101'], ['очно-заочная', '102'], ['заочная', '103'],
                             ['дистанционная', '105']]), class: 'form-control' %>
    </div>
  </div>

  </div>
</form>

<table id="studentsByGroups">
  <tr>
  </tr>
</table>