<% if application.contract %>
    <p>
      Договор № <%= application.contract.number %>
      от <%= l application.contract.created_at %>.
    </p>
    <%= link_to 'Распечатать',
                entrance_campaign_entrant_application_contract_path(@campaign, application.entrant, application, format: :pdf), target: :blank %>

  <%= content_for :modal_save do %>
    <%= link_to entrance_campaign_entrant_application_contract_path(@campaign, application.entrant, application), method: :delete, class: 'btn btn-danger', data: { confirm: 'Вы уверены?' } do %>
      Удалить договор
    <% end %>
  <% end %>
<% else %>
  <%= form_for application.build_contract,
               url: entrance_campaign_entrant_application_contract_path(@campaign, application.entrant, application),
               html: { class: 'form-horizontal form_for_contract' } do |f| %>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <div class="radio">
            <label>
              <%= f.radio_button :sides, :bilateral %>
              Договор с совершеннолетним абитуриентом
            </label>
          </div>
          <div class="radio">
            <label>
              <%= f.radio_button :sides, :trilateral %>
              Договор с родителем/представителем абитуриента
            </label>
          </div>
        </div>
      </div>
      <div class="delegate_information" style="display: none;">
        <div class="form-group">
          <h4 class="col-sm-offset-1">Информация о родителе/представителе абитуриента</h4>
          <div class="col-sm-12">
            <%= f.label :delegate_last_name, class: 'control-label col-sm-3' %>
            <div class="col-sm-9">
              <%= f.text_field :delegate_last_name, class: 'form-control', disabled: true %>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-12">
            <%= f.label :delegate_first_name, class: 'control-label col-sm-3' %>
            <div class="col-sm-9">
              <%= f.text_field :delegate_first_name, class: 'form-control', disabled: true %>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-12">
            <%= f.label :delegate_patronym, class: 'control-label col-sm-3' %>
            <div class="col-sm-9">
              <%= f.text_field :delegate_patronym, class: 'form-control', disabled: true %>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-12">
            <%= f.label :delegate_address, class: 'control-label col-sm-3' %>
            <div class="col-sm-9">
              <%= f.text_field :delegate_address, class: 'form-control', disabled: true %>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-12">
            <%= f.label :delegate_phone, class: 'control-label col-sm-3' %>
            <div class="col-sm-9">
              <%= f.text_field :delegate_phone, pattern: '([\+]\d+)($|([\,] [\+]\d+)+$)',
                               class: 'form-control', disabled: true %>
            </div>
          </div>
        </div>
        <div class="form-group">
          <h5 class="col-sm-offset-1">Паспорт</h5>
          <div class="col-sm-12">
            <%= f.label :delegate_pseries, class: 'control-label col-sm-3' %>
            <div class="col-sm-9">
              <%= f.text_field :delegate_pseries, class: 'form-control', disabled: true %>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-12">
            <%= f.label :delegate_pnumber, class: 'control-label col-sm-3' %>
            <div class="col-sm-9">
              <%= f.text_field :delegate_pnumber, class: 'form-control', disabled: true %>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-12">
            <%= f.label :delegate_pdate, class: 'control-label col-sm-3' %>
            <div class="col-sm-9">
              <%= f.text_field :delegate_pdate, value: f.object.delegate_pdate ? l(f.object.delegate_pdate) : '', class: 'form-control datepicker', disabled: true %>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-12">
            <%= f.label :delegate_pdepartment, class: 'control-label col-sm-3' %>
            <div class="col-sm-9">
              <%= f.text_field :delegate_pdepartment, class: 'form-control', disabled: true %>
            </div>
          </div>
        </div>
      </div>

    <%= content_for :modal_save do %>
      <%= f.submit 'Сформировать контракт',
                     class: 'btn btn-primary submit_contract' %>
    <% end %>

  <% end %>
<% end %>
