<%= nested_form_for application,
             url: entrance_campaign_entrant_applications_path(@campaign, @entrant),
             html: { class: 'form-horizontal' } do |f| %>
  <% if @applications.without_called_back.empty? %>
    <%= f.hidden_field :packed, value: '1' %>
  <% end %>

  <%= f.hidden_field :entrant_id %>
  <!--<%#= f.hidden_field :need_hostel %>-->
  <%= f.hidden_field :status_id %>
  <%= f.hidden_field :campaign_id %>
  <%= f.hidden_field :is_payed %>
  <%= f.hidden_field :education_form_id %>
  <%= f.hidden_field :competitive_group_item_id %>

  <% unless @has_original %>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <div class="checkbox">
          <label>
            <%= f.check_box :original %> Оригинал документа об образовании
          </label>
        </div>
      </div>
    </div>
  <% end %>

  <% if [223, 437, 1036, 1277].include?(current_user.id) %>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <div class="checkbox">
          <label>
            <%= f.check_box :status_id, {}, 5, 4 %> Заявление отклонено
          </label>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">
        Время создания заявления
      </label>
      <div class="col-sm-10">
        <%= f.datetime_select :created_at, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">
        Время последней работы с заявлением
      </label>
      <div class="col-sm-10">
        <%= f.datetime_select :updated_at, class: 'form-control' %>
      </div>
    </div>
  <% end %>

  <% if application.direction.id == 430 %>
     <div class="col-sm-offset-1 col-sm-10">
        <p class="text-danger">Необходимо наличие справки 086/у</p>
     </div>
  <% end %>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit 'Создать заявление', class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
