<div class="page-header">
  <h1>
    Заявления
    <small class="nowrap"><%= @entrant.full_name %></small>
  </h1>
</div>

<%= link_to print_all_entrance_campaign_entrant_applications_path(@campaign, @entrant),
            class: 'btn btn-info' do %>
    <span class="glyphicon glyphicon-print"></span> Распечатать все заявления
<% end %>

<% @entrant.applications.sort_by { |a|
     a.competitive_group_item.competitive_group.name }.each do |a| %>
  <h4><%= a.competitive_group_item.competitive_group.name %></h4>

  <div id="<%= dom_id(a.competitive_group_item.competitive_group) %>">
    <% if a.id %>
      <%= render partial: 'application', locals: { application: a } %>
    <% else %>
      <%= render partial: 'form', locals: { application: a } %>
    <% end %>
  </div>
<% end %>
