

<div class="page-header">
  <h1>
    Заявления
    <small class="nowrap"><%= @entrant.full_name %></small>
  </h1>
</div>

<h2>Оформленные заявления</h2>

<% if flash[:notice] %>
    <br>
    <div class="alert alert-info"><%= flash[:notice] %></div>
    <br>
<% end %>

<table class="table table-striped table-condensed">
  <thead>
    <tr>
      <th class="text-muted">#</th>
      <th>Номер</th>
      <th>Направление</th>
      <th></th>
      <th>
        <%= link_to print_all_entrance_campaign_entrant_applications_path(@campaign, @entrant),
                    class: 'btn btn-info' do %>
          <span class="glyphicons print"></span>
        <% end %>
      </th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <% @applications.each do |a| %>
    <tr class="appl<%= a.id %>">
      <td class="text-muted"><%= a.id %></td>
      <td class="nowrap"><%= a.number %></td>
      <td>
        <%= a.direction.new_code %>
        <%= a.direction.name %>
      </td>
      <td>
        <% if a.packed? %>
          <button class="btn btn-<%= a.original? ? 'success' : 'default' %>"
                  title="<%= a.original? ? 'Оригинал' : 'Копия' %> аттестата"
                  data-toggle="modal" data-target="#documents_packed">
            <% if a.original? %>
              <span class="glyphicons folder_flag"></span>
            <% else %>
              <span class="glyphicons folder_open"></span>
            <% end %>
          </button>

          <%= render partial: 'move_documents',
                     locals: {
                       from_application: a,
                       to_applications: @applications.reject { |x| x.id == a.id }
                     } %>
        <% end %>
      </td>
      <% if a.called_back? %>
        <td colspan="3">
          Отозвано.
        </td>
      <% else %>
        <td>
          <%= link_to print_entrance_campaign_entrant_application_path(@campaign, @entrant, a),
                      class: 'btn btn-default', title: 'Распечатать' do %>
            <span class="glyphicons print"></span>
          <% end %>
        </td>
        <td> 
          <div class="entrant_contract_buttons" id="contract_for_<%= a.id %>">
          <% if a.is_payed == true %>
              <%= render partial: 'entrance/contracts/contract_button', locals: {a: a} %>
          <% end %>
          </div>

        </td>

        <% if a.order && a.order.signing_date %>
          <td colspan="2">
            приказ № <%= a.order.number %> от <%= l a.order.signing_date.to_date %>
          </td>
        <% else %>
          <% if 5 == a.status_id %>
            <td colspan="2">Отклонено</td>
          <% elsif 6 == a.status_id %>
            <td colspan="2">Отозвано</td>
          <% else %>
            <td>
              <%= link_to entrance_campaign_entrant_application_path(@campaign, @entrant, a),
                          method: :delete, class: 'btn btn-danger',
                          title: 'Отозвать', data: { confirm: 'Вы уверены?' } do %>
                <span class="glyphicons remove_2"></span> Отозвать
              <% end %>
            </td>
            <td>
              <%= link_to reject_entrance_campaign_entrant_application_path(@campaign, a.entrant, a),
                          class: 'btn btn-danger',
                          title: 'Отклонить заявление',
                          remote: true,
                          data: { confirm: 'ВЫ ТОЧНО ПОНИМАЕТЕ ЧТО И ЗАЧЕМ ВЫ ДЕЛАЕТЕ???!!!' } do %>
                <span class="glyphicons remove_2"></span> Отклонить
              <% end %>
            </td>
          <% end %>
        <% end %>
      <% end %>
    </tr>
  <% end %>
</table>

<% if Entrance::DocumentMovement.for_applications(@applications).any? %>
  <h2>Движение документов</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th class="text-muted">#</th>
        <th>Дата</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <% Entrance::DocumentMovement.for_applications(@applications).each do |m| %>
      <tr>
        <td class="text-muted"><%= m.id %></td>
        <td><%= l m.created_at %></td>
        <td><%= m.description %></td>
        <td>
          <%= link_to entrance_document_movement_path(m, format: :pdf),
                      class: 'btn btn-default', target: :blank do %>
            <span class="glyphicons print"></span> Заявление
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>

<hr>

<% @new_applications.sort_by { |a|
     a.competitive_group_item.competitive_group.name }.each do |a| %>
    <% if a.entrant.ioo %>
        <% next unless a.competitive_group_item.distance? %>
    <% end %>
  <h4><%= a.competitive_group_item.competitive_group.name %>, <%= a.is_payed ? 'по договорам' : 'бюджет' %>,
  <%= a.education_form_id == 10 ? 'заочка' : (a.education_form_id == 11 ? 'очка' : 'вечерка') %>
  </h4>

  <div id="<%= dom_id(a.competitive_group_item.competitive_group) %>">
    <% if a.id %>
      <%= render partial: 'application', locals: { application: a } %>
    <% else %>
      <%= render partial: 'form', locals: { application: a } %>
    <% end %>
  </div>
<% end %>
