<%= form_for Position.new, html: { class: 'form-horizontal' }  do |f| %>
  <%= hidden_field_tag 'position[user]', @user.id %>

 	<div class="row">
    <div class="col col-lg-3" style="margin-left: 30px">
      <%= f.text_field :title, { placeholder: 'Старший преподаватель', class: 'form-control'} %>
    </div>
    <div class="col col-lg-2">
      <%= f.collection_select :role, Role.all, :id, :title, { label: false }, { style: 'width: 145px;', class: 'form-control' }  %>
    </div>
    <div class="col col-lg-2">
      <%= f.collection_select :department, Department.all, :id, :abbreviation, { label: false }, { style: 'width: 130px;' , class: 'form-control'}  %>
    </div>
    <div class="col col-lg-2">
      <%= text_field_tag 'position[appointment]', Date.today, class: 'datepicker form-control' %>
    </div>
  </div>



  
<% end %>