<%= form_tag nil, method: :get, class: 'filter-block', id: 'filterforusers' do %>
  <div class="row">
    <div class="col col-lg-2 pull-right">
      <button type="submit" class="btn btn-info">
        <span class="glyphicon glyphicon-search"></span>
      </button>

      <%= link_to users_path, class: 'btn btn-danger pull-right' do %>
        <span class="glyphicon glyphicon-remove"></span>
      <% end %>
    </div>
    <div class="col col-lg-3">
      <%= text_field_tag 'name', params[:name], placeholder: 'Фамилия, имя, отчество', class: 'form-control' %>
    </div>
    <div class="col col-lg-4">
      <%= text_field_tag 'position', params[:position], placeholder: 'Должность / учёная степень', class: 'form-control' %>
    </div>
    <div class="col col-lg-3">
      <%= select_tag 'department',
                     options_from_collection_for_select(Department.all, :id, :abbreviation),
                     prompt: 'все департаменты', class: 'form-control' %>
    </div>
  </div>
<% end %>