<%= form_tag nil, method: :get, class: 'filter-block', id: 'filterforusers' do %>
  <div class="row">
    <div class="col col-lg-2 pull-right">
      <button type="submit" class="btn btn-info">
        <span class="glyphicon glyphicon-search"></span>
      </button>

      <%= link_to users_path, class: 'btn btn-danger pull-right' do %>
        <span class="glyphicon glyphicon-remove"></span>
      <% end %>
    </div>
    <div class="col col-lg-3">
      <%= text_field_tag 'name', params[:name], placeholder: 'Фамилия, имя, отчество', class: 'form-control navigation_trip',
                         data: { input: '#name', content: 'Вы можете найти нужного сотрудника по имени,',
                                 position: 's'}%>
    </div>
    <div class="col col-lg-4">
      <%= text_field_tag 'position', params[:position], placeholder: 'Должность / учёная степень', class: 'form-control navigation_trip',
                         data: { input: '#position', content: 'по должности',
                                 position: 's'}%>
    </div>
    <div class="col col-lg-3">
      <%= select_tag 'department',
                     options_from_collection_for_select(Department.all, :id, :abbreviation, params[:department]),
                     multiple: true, class: 'form-control chzn-select navigation_trip', data: { placeholder: 'все департаменты',
                         input: '#department', content: 'или департаменту'} %>
    </div>
  </div>
<% end %>