<%= nested_form_for @user, html: { class: 'form-horizontal', autocomplete: 'off' } do |f| %>
  <div class="row">
  <div class="col col-sm-6">
    <div class="btn-group" data-toggle="buttons">
      <label class="btn btn-success active">
        <span class="glyphicon glyphicon-heart"></span>
        <input type="radio" name="user[active]" value="true" checked> Жив-здоров 
      </label>
      <label class="btn btn-danger">
        <span class="glyphicon glyphicon-fire"></span>
        <input type="radio" name="user[active]" value="false"> Пал смертью храбрых 
      </label>
    </div>
    </div>
  </div>
  <fieldset>
    <legend>Фамилия, имя, отчество во всех падежах</legend>
    <div class="form-group">
      <%= f.label :user_name, class: 'col col-lg-2 control-label' %>
      <div class="col col-lg-10">
        <%= f.text_field :user_name, disabled: true, class: 'form-control' %>
      </div>
    </div>

    <div class="row">
      <div class="col col-lg-10 col-lg-offset-2">
        <div class="form-group">
          <div class="col col-lg-4 text-center">
            <label class="control-label" for="user_last_name_ip">Фамилия</label>
          </div>
          <div class="col col-lg-4 text-center">
            <label class="control-label" for="user_first_name_ip">Имя</label>
          </div>
          <div class="col col-lg-4 text-center">
            <label class="control-label" for="user_patronym_ip">Отчество</label>
          </div>
        </div>
      </div>
    </div>

    <div id="form-fio">
    <% [[:ip, 'Кто? Что?'], [:rp, 'Кого? Чего?'], [:dp, 'Кому? Чему?'],
        [:vp, 'Кого? Что?'], [:tp, 'Кем? Чем?'], [:pp, 'О ком? О чём?']].each do |p| %>
      <div class="form-group">
        <label class="col col-lg-2 control-label" for="user_last_name_<%= p[0] %>"><%= p[1] %></label>
        <div class="col col-lg-10">
          <div class="form-group">
            <% [:fname, :iname, :oname].each do |name| %>
              <div class="col col-lg-4 <%= 'has-error' if @user.errors.include?(name) %>">
                <%= f.fields_for name do |sub_f| %>
                  <%= sub_f.text_field p[0], required: true, class: 'form-control' %>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
    </div>
    <span class="help-block">Поля заполняются автоматически при вводе фамилии, имени и отчества в именительном падеже. Пожалуйста, проверяйте правильность сгенерированных данных.</span>
  </fieldset>

  <fieldset>
    <legend>Персональная информация</legend>
    <div class="form-group">
      <%= f.label :username, class: 'col col-lg-2 control-label' %>
      <div class="col col-lg-10">
        <%= f.text_field :username, class: "form-control #{'has-error' if @user.errors.include?(:username)}" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :email, class: 'col col-lg-2 control-label' %>
      <div class="col col-lg-10">
        <%= f.email_field :email, class: 'form-control' %>
      </div>
    </div>

    <% if @user.id == nil or current_user.is?(:developer) %>
      <div class="form-group">
        <%= f.label :password, class: 'col col-lg-2 control-label' %>
        <div class="col col-lg-10">
          <%= f.password_field :password, class: "form-control #{'has-error' if @user.errors.include?(:password)}"%>
        </div>
        <% if @user.id != nil %>
          <div class='col-lg-10 col-lg-offset-2'>
            <span class='help-block'>Указывается только в случае смены текущего пароля на новый.</span>
          </div>
        <% end %>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.label :phone, class: 'col col-lg-2 control-label' %>
      <div class="col col-lg-10">
        <%= f.phone_field :phone, pattern: '[\+]\d{1} \d{3} \d{3}[\-]\d{2}[\-]\d{2}', class: 'form-control'%>
        <span class="help-block">Телефонный номер в формате +7 926 123-45-67.</span>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :workphone, 'Рабочий телефон', class: 'col col-lg-2 control-label' %>
      <div class="col col-lg-10">
        <%= f.phone_field :workphone, pattern: '[\+]\d{1} \d{3} \d{3}[\-]\d{2}[\-]\d{2}', class: 'form-control'%>
        <span class="help-block">Телефонный номер в формате +7 499 123-45-67.</span>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>Назначения</legend>

    <div id="positions">
      <%= render partial: 'positions_fields', locals: {f: f} %>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <%= f.link_to_add 'Добавить сотруднику ещё одну должность', :positions, class: 'btn btn-default', data: { target: '#positions' } %>
      </div>
    </div>
  </fieldset>

  <hr>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit class: 'btn btn-primary' %>
      или
      <%= link_to 'назад ко всем пользователям', users_path %>
    </div>
  </div>
<% end %>
