<%= nested_form_for @user, html: { class: 'form-horizontal', autocomplete: 'off' } do |f| %>
  <fieldset>
    <legend>Фамилия, имя, отчество во всех падежах</legend>
    <div class="form-group">
      <%= f.label :user_name, class: 'col col-lg-2 control-label' %>
      <div class="col col-lg-10">
        <%= f.text_field :user_name, disabled: true, class: 'form-control' %>
      </div>
    </div>

    <div class="row">
      <div class="col col-lg-10 col-lg-offset-2">
        <div class="form-group">
          <div class="col col-lg-4 text-center">
            <label class="control-label" for="user_last_name_ip">Фамилия</label>
          </div>
          <div class="col col-lg-4 text-center">
            <label class="control-label" for="user_first_name_ip">Имя</label>
          </div>
          <div class="col col-lg-4 text-center">
            <label class="control-label" for="user_patronym_ip">Отчество</label>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="col col-lg-2 control-label" for="user_last_name_ip">Кто? Что?</label>
      <div class="col col-lg-10">
        <div class="form-group">
          <div class="col col-lg-4">
            <%= f.fields_for :fname do |sub_f| %>
              <%= sub_f.text_field :ip, required: true, class: 'form-control' %>
            <% end %>
          </div>
          <div class="col col-lg-4">
            <%= f.fields_for :iname do |sub_f| %>
              <%= sub_f.text_field :ip, required: true, class: 'form-control' %>
            <% end %>
          </div>
          <div class="col col-lg-4">
            <%= f.fields_for :oname do |sub_f| %>
              <%= sub_f.text_field :ip, required: true, class: 'form-control' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="col col-lg-2 control-label" for="user_last_name_rp">Кого? Чего?</label>
      <div class="col col-lg-10">
        <div class="form-group">
          <div class="col col-lg-4">
            <%= f.fields_for :fname do |sub_f| %>
              <%= sub_f.text_field :rp, required: true, class: 'form-control' %>
            <% end %>
          </div>
          <div class="col col-lg-4">
            <%= f.fields_for :iname do |sub_f| %>
              <%= sub_f.text_field :rp, required: true, class: 'form-control' %>
            <% end %>
          </div>
          <div class="col col-lg-4">
            <%= f.fields_for :oname do |sub_f| %>
              <%= sub_f.text_field :rp, required: true, class: 'form-control' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="col col-lg-2 control-label" for="user_last_name_dp">Кому? Чему?</label>
      <div class="col col-lg-10">
        <div class="form-group">
          <div class="col col-lg-4">
            <%= f.fields_for :fname do |sub_f| %>
              <%= sub_f.text_field :dp, required: true, class: 'form-control' %>
            <% end %>
          </div>
          <div class="col col-lg-4">
            <%= f.fields_for :iname do |sub_f| %>
              <%= sub_f.text_field :dp, required: true, class: 'form-control' %>
            <% end %>
          </div>
          <div class="col col-lg-4">
            <%= f.fields_for :oname do |sub_f| %>
              <%= sub_f.text_field :dp, required: true, class: 'form-control' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="col col-lg-2 control-label" for="user_last_name_vp">Кого? Что?</label>
      <div class="col col-lg-10">
        <div class="form-group">
          <div class="col col-lg-4">
            <%= f.fields_for :fname do |sub_f| %>
              <%= sub_f.text_field :vp, required: true, class: 'form-control' %>
            <% end %>
          </div>
          <div class="col col-lg-4">
            <%= f.fields_for :iname do |sub_f| %>
              <%= sub_f.text_field :vp, required: true, class: 'form-control' %>
            <% end %>
          </div>
          <div class="col col-lg-4">
            <%= f.fields_for :oname do |sub_f| %>
              <%= sub_f.text_field :vp, required: true, class: 'form-control' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="col col-lg-2 control-label" for="user_last_name_tp">Кем? Чем?</label>
      <div class="col col-lg-10">
        <div class="form-group">
          <div class="col col-lg-4">
            <%= f.fields_for :fname do |sub_f| %>
              <%= sub_f.text_field :tp, required: true, class: 'form-control' %>
            <% end %>
          </div>
          <div class="col col-lg-4">
            <%= f.fields_for :iname do |sub_f| %>
              <%= sub_f.text_field :tp, required: true, class: 'form-control' %>
            <% end %>
          </div>
          <div class="col col-lg-4">
            <%= f.fields_for :oname do |sub_f| %>
              <%= sub_f.text_field :tp, required: true, class: 'form-control' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="col col-lg-2 control-label" for="user_last_name_pp">О ком? О чём?</label>
      <div class="col col-lg-10">
        <div class="form-group">
          <div class="col col-lg-4">
            <%= f.fields_for :fname do |sub_f| %>
              <%= sub_f.text_field :pp, required: true, class: 'form-control' %>
            <% end %>
          </div>
          <div class="col col-lg-4">
            <%= f.fields_for :iname do |sub_f| %>
              <%= sub_f.text_field :pp, required: true, class: 'form-control' %>
            <% end %>
          </div>
          <div class="col col-lg-4">
            <%= f.fields_for :oname do |sub_f| %>
              <%= sub_f.text_field :pp, required: true, class: 'form-control' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>Персональная информация</legend>
    <div class="form-group">
      <%= f.label :username, class: 'col col-lg-2 control-label' %>
      <div class="col col-lg-10">
        <%= f.text_field :username, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :email, class: 'col col-lg-2 control-label' %>
      <div class="col col-lg-10">
        <%= f.email_field :email, class: 'form-control' %>
      </div>
    </div>
    <% if @user.id != nil %>
      <div class="form-group">
        <%= f.label :password, class: 'col col-lg-2 control-label' %>
        <div class="col col-lg-10">
          <%= f.password_field :password, class: 'form-control'%>
        </div>
      </div>
    <% end %>
    <div class="form-group">
      <%= f.label :phone, class: 'col col-lg-2 control-label' %>
      <div class="col col-lg-10">
        <%= f.phone_field :phone, pattern: '[\+]\d{1} \d{3} \d{3}[\-]\d{2}[\-]\d{2}', class: 'form-control'%>
        <span class="help-block">Телефонный номер в формате +7 926 123-45-67.</span>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>Назначения</legend>
    <div id="positions">
      <%= render partial: 'positions_fields', locals: {f: f} %>
    </div>
    <div class="form-group">
      <div id='positions-div'></div>
    </div>
    <div class="form-group">
        <%= f.link_to_add 'Назначить сотрудника на новую должность', :positions, class: 'btn btn-default', data: { target: '#positions' } %>
    </div>

  </fieldset>


  <div class="form-group">
    <div class="col col-lg-10 col-offset-2">
      <%= f.submit class: 'btn btn-primary' %>
      или
      <%= link_to 'назад ко всем пользователям', users_path %>
    </div>
  </div>
<% end %>
