<%= f.fields_for :positions do |p| %>
  <%= p.hidden_field :id %>

  <div class="form-group">
    <%= p.label :title, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= p.text_field :title, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <% #= p.label :appointment_id, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <% #= p.select :appointment_id, options_from_collection_for_select(Appointment.all, :id, :title), { include_blank: true }, class: 'form-control' %>
    </div>
  </div>

  <!--<br><br><br>-->
  <div class="row fields">
    <div class="col col-lg-3" style="margin-left: 30px">
    </div>
    <div class="col col-lg-2">
      <%= p.select :acl_position_role, Role.all.collect{|r|[ r.title, r.id]}, {}, { class: 'form-control' }  %>
    </div>
    <div class="col col-lg-2">
      <%= p.select :acl_position_department, Department.all.collect{|r|[ r.abbreviation, r.id]}, {}, { class: 'form-control'}  %>
    </div>
    <div class="col col-lg-2 input-append date">
      <%= p.text_field :appointment, {class: 'form-control'} %>
    </div>
    <div><%= p.link_to_remove 'Удалить' %></div>
  </div>
<% end %>
