<form>
  <%= hidden_field_tag :id, @user.id %>
  <fieldset>
    <legend>Персональная информация</legend>
    <div class='row'>
      <div class='col-lg-2'>
        <%= label_tag :name, 'Ф.И.О' %>
      </div>
      <div class='col-lg-8'>
        <a data-toggle="modal" data-target="#nameModal" class="btn btn-default"><%= @user.full_name %></a>
      </div>
    </div>
    <div class='row'>
      <div class='col-lg-2'>
        <%= label_tag :email, 'Электронная почта' %>
      </div>
      <div class='col-lg-8'>
        <%= text_field_tag :email, @user.email %>
      </div>
    </div>
    <div class='row'>
      <div class='col-lg-2'>
        <%= label_tag :phone, 'Мобильный телефон' %>
      </div>
      <div class='col-lg-8'>
        <%= text_field_tag :phone, @user.phone %>
      </div>
      <div class='col-lg-8'>
        <span class='help-block'>Номер телефона нужен для того, чтобы иметь возможность оперативно связаться с сотрудником. Он не доступен никому, кроме руководства.</span>
      </div>
    </div>
  </fieldset>
  <fieldset>
    <legend>Контроль доступа</legend>
    <div class='row'>
      <div class='col-lg-2'>
        <%= label_tag :login, 'Логин' %>
      </div>
      <div class='col-lg-8'>
        <%= text_field_tag :login, @user.username %>
      </div>
      <div class='col-lg-8'>
        <span class='help-block'>Обратите внимание на рекомендуемый формат, «iiivanov» — первая буква имени, первая буква отчества и фамилия полностью.</span>
      </div>
    </div>
    <div class='row'>
      <div class='col-lg-2'>
        <%= label_tag :password, 'Пароль' %>
      </div>
      <div class='col-lg-8'>
        <%= text_field_tag :password %>
      </div>
      <div class='col-lg-8'>
        <span class='help-block'>Указывается только в случае смены текущего пароля на новый.</span>
      </div>
    </div>
  </fieldset>

  <!-- Modal -->
  <div class="modal fade in" id="nameModal">
    <div class="modal-dialog">
      <div class="modal-content" style='width: 700px; padding: 20px; right: 14%;'>
        <div class="modal-header">
          <button type="button" class="close btn btn-default" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">ФИО</h4>
        </div>
        <div class="row">
          <div class="col col-lg-10 col-offset-2">
            <div class="row">
              <div class="col col-lg-4 text-center">
                <label class="control-label" for="user_last_name_ip">Фамилия</label>
              </div>
              <div class="col col-lg-4 text-center">
                <label class="control-label" for="user_first_name_ip">Имя</label>
              </div>
              <div class="col col-lg-4 text-center">
                <label class="control-label" for="user_patronym_ip">Отчество</label>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <label class="col col-lg-2 control-label" for="user_last_name_ip">Кто? Что?</label>
          <div class="col col-lg-10">
            <div class="row">
              <div class="col col-lg-4">
                <%= text_field :user, :last_name_ip, required: true %>
              </div>
              <div class="col col-lg-4">
                <%= text_field :user, :first_name_ip, required: true %>
              </div>
              <div class="col col-lg-4">
                <%= text_field :user, :patronym_ip, required: true %>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <label class="col col-lg-2 control-label" for="user_last_name_rp">Кого? Чего?</label>
          <div class="col col-lg-10">
            <div class="row">
              <div class="col col-lg-4">
                <%= text_field :user, :last_name_rp, required: true %>
              </div>
              <div class="col col-lg-4">
                <%= text_field :user, :first_name_rp, required: true %>
              </div>
              <div class="col col-lg-4">
                <%= text_field :user, :patronym_rp, required: true %>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <label class="col col-lg-2 control-label" for="user_last_name_dp">Кому? Чему?</label>
          <div class="col col-lg-10">
            <div class="row">
              <div class="col col-lg-4">
                <%= text_field :user, :last_name_dp, required: true %>
              </div>
              <div class="col col-lg-4">
                <%= text_field :user, :first_name_dp, required: true %>
              </div>
              <div class="col col-lg-4">
                <%= text_field :user, :patronym_dp, required: true %>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <label class="col col-lg-2 control-label" for="user_last_name_vp">Кого? Что?</label>
          <div class="col col-lg-10">
            <div class="row">
              <div class="col col-lg-4">
                <%= text_field :user, :last_name_vp, required: true %>
              </div>
              <div class="col col-lg-4">
                <%= text_field :user, :first_name_vp, required: true %>
              </div>
              <div class="col col-lg-4">
                <%= text_field :user, :patronym_vp, required: true %>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <label class="col col-lg-2 control-label" for="user_last_name_tp">Кем? Чем?</label>
          <div class="col col-lg-10">
            <div class="row">
              <div class="col col-lg-4">
                <%= text_field :user, :last_name_tp, required: true %>
              </div>
              <div class="col col-lg-4">
                <%= text_field :user, :first_name_tp, required: true %>
              </div>
              <div class="col col-lg-4">
                <%= text_field :user, :patronym_tp, required: true %>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <label class="col col-lg-2 control-label" for="user_last_name_pp">О ком? О чём?</label>
          <div class="col col-lg-10">
            <div class="row">
              <div class="col col-lg-4">
                <%= text_field :user, :last_name_pp, required: true %>
              </div>
              <div class="col col-lg-4">
                <%= text_field :user, :first_name_pp, required: true %>
              </div>
              <div class="col col-lg-4">
                <%= text_field :user, :patronym_pp, required: true %>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <%= submit_tag 'Сохранить', class: 'btn btn-primary', id: 'modalForName' %>
          <a href="#" class="btn btn-default" data-dismiss="modal">Закрыть</a>
        </div>
      </div>
    </div>
  </div>
</form>