<div class="row">
  <div class="col-sm-5">
    Описание достижения
  </div>
  <div class="col-sm-2">
    Балл
  </div>
  <div class="col-sm-2">
    Статус
  </div>
  <div class="col-sm-3">
    Макс. возможный балл за&nbsp;1&nbsp;отчётную единицу
  </div>
</div>

<% achievements.group_by { |a| a.activity.group }.each do |group, as| %>
  <div class="row">
    <div class="col-sm-12">
      <strong><%= group.name %></strong>
    </div>
  </div>
  <% as.each do |a| %>
    <div class="row <%= 'danger' if a.refused? || a.new? %>
                    <%= 'success' if a.accepted? || a.accepted_final? %>">
      <div class="col-sm-5">
        <span class="fake-link" data-toggle="tooltip" data-placemenet="top"
              title="<%= a.activity.name %>">
          <%= a.description %>
        </span>
      </div>
      <div class="col-sm-2">
        <%= a.cost %>
      </div>
      <div class="col-sm-2">
        <%= achievement_status(a) %>
      </div>
      <div class="col-sm-3">
        <small><%= a.activity.credit %></small>
      </div>
    </div>
  <% end %>
  <hr>
<% end %>

<div class="row">
  <div class="col-sm-5 text-right lead">
    Итого за отчётный период:
  </div>
  <div class="col-sm-2 lead">
    <%= achievements.find_all { |a| a.accepted? || a.accepted_final? }.inject(0) {
        |res, a| res += a.cost ; res } %>
  </div>
  <div class="col-sm-5">
    Из них:
    <ul>
      <li>
        основные показатели — <%= achievements.find_all { |a|
          (a.accepted? || a.accepted_final?) && a.activity.group.id != 8 }.inject(0) {
          |res, a| res += a.cost ; res } %>
      </li>
      <li>
        дополнительные показатели — <%= achievements.find_all { |a|
          (a.accepted? || a.accepted_final?) && a.activity.group.id == 8 }.inject(0) {
          |res, a| res += a.cost ; res } %>
      </li>
    </ul>
  </div>
</div>
