<ul class="breadcrumb">
  <li class="active">Сотрудники</li>
</ul>

<div class="page-header">
  <h1>Пользователи системы</h1>
</div>

<%= link_to 'Добавить нового пользователя', new_user_path, class: 'btn btn-default' %>
<br><br><br>
<%= render 'filter' %>

<div class="row">
  <table id="users" class="table table-hover">
    <thead>
    <tr>
      <th>#</th>
      <th>Имя</th>
      <th>Должность / учёная степень</th>
      <th>Департамент</th>
      <th>Имя для входа</th>
      <th>Телефон</th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.full_name %></td>
        <td>
          <%= user.positions.collect{|position| position.title}.join(', ') %>
        </td>
        <td><%= user.departments.collect{|department| department.abbreviation}.join(', ') %></td>
        <td><%= user.username %></td>
        <td class="nowrap"><%= user.phone %></td>
        <td>
          <%= link_to 'Назначения', user %>
        </td>
        <td>
          <%= link_to 'Редактировать', edit_user_path(user) %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
 </div> 