<div class="page-header">
  <h1>Пользователи системы</h1>
</div>

<%= render 'filters' %>

<%= link_to new_user_path, class: 'btn btn-primary' do %>
  <span class='glyphicon glyphicon-plus'></span> Добавить нового пользователя
<% end %>

<div id='user-paginator'>
  <%= paginate_with_info @users %>
</div>

<table class="table table-hover table-condensed">
  <thead>
  <tr>
    <th>#</th>
    <th>Имя</th>
    <th>Должности</th>
    <th>Логин</th>
    <th>Телефон</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @users.includes(:positions, :departments).each do |user| %>
    <tr>
      <td><%= user.id %></td>
      <td><%= user.full_name %></td>
      <td>
        <ul class="list-unstyled">
          <% user.positions.each do |p| %>
            <li><%= p.info %></li>
          <% end %>
        </ul>
      </td>
      <td><%= user.username %></td>
      <td class="nowrap"><%= user.phone %></td>
      <td>
        <%= link_to edit_user_path(user), title: 'Редактировать', class: 'btn btn-default' do %>
          <span class="glyphicon glyphicon-edit"></span>
        <% end %>
        <%= link_to user_see_with_eyes_path(user), class: 'btn btn-default', title: 'Авторизоваться как пользователь' do %>
          <span class="glyphicon glyphicon-eye-open"></span>
        <% end %>
        <% if current_user.is?(:developer) %>
              <%= link_to user_path(user), title: 'Удалить', method: :delete, data: { confirm: 'Вы уверены?' },
                             class: 'btn btn-danger' do %>
                  <span class="glyphicon glyphicon-remove"></span>
              <% end %>
        <% end %>
        <% if user.is?(:curator) && current_user.is?(:developer) %>
           <strong><%= user.current_groups.collect{|g| g.group.name}.join(', ') if !user.current_groups.empty? %></strong>
           <%= render partial: 'curator_modal', locals: {user: user, curator_group: Curator::Group.new} %>
           <%= link_to "#createCuratorGroup_#{user.id}", class: 'btn btn-info',
                        data: {toggle: 'modal'}, title: 'Добавить куратору группу'  do %>
            <span class="glyphicon glyphicon-link"></span>
          <% end %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>