<ul class="breadcrumb">
  <li class="active">Сотрудники</li>
</ul>

<div class="page-header">
  <h1>Пользователи системы</h1>
</div>

<%= link_to new_user_path, class: 'btn btn-primary' do%>
  <span class='glyphicon glyphicon-plus'></span> Добавить нового пользователя
<% end %>
<br><br><br>
<%= render 'filter' %>

<div id='user-paginator'>
  <%= paginate @users %>
</div>

<div class="row">
  <table id="users" class="table table-hover table-condensed">
    <thead>
    <tr>
      <th>#</th>
      <th>Имя</th>
      <th>Должность / учёная степень</th>
      <th>Департамент</th>
      <th>Имя для входа</th>
      <th>Телефон</th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% @users.includes(:positions, :departments).each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.full_name %></td>
        <td>
          <%= user.positions.collect{|position| position.title}.join(', ') +
                    (user.positions == [] ? '' : ', ') +
                    (user.user_position == nil ? '' : user.user_position) %>
        </td>
        <% department = (Department.exists?(user.user_department) ? Department.find(user.user_department).abbreviation : '') %>
        <td><%= user.departments.collect{|department| department.abbreviation}.join(', ') + department %></td>
        <td><%= user.username %></td>
        <td class="nowrap"><%= user.phone %></td>
        <td>
          <%= link_to 'Назначения', user %>
        </td>
        <td>
          <%= link_to 'Редактировать', edit_user_path(user) %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
 </div> 