<div class="page-header">
  <h1>Отчёт об эффективности</h1>
</div>

<% if @user.is?(:subdepartment) && @user == current_user %>
  <p>
    Так как вы являетесь заведующим кафедрой, то ваш итоговый балл является средним между
    вашим фактическим баллом (см.&nbsp;ниже) и средним баллов остальных НПР кафедры.
  </p>
<% end %>

<% if @user != current_user %>
  <p class="lead"><%= @user.full_name %></p>
<% end %>

<div id="accordion" class="panel-group">
  <% AchievementPeriod.all.each_with_index do |period, i| %>
    <div class="panel panel-default" style="margin-bottom: 50px;">
      <div class="panel-heading">
        <h4 class="panel-title">
          <%= period.description %> (коэффициент <%= period.ratio %>)
        </h4>
      </div>
      <div id="collapse<%= period.id %>"
           class="panel-collapse collapse in <%#= 'in' if i.zero? %>">
        <div class="panel-body">
          <%= render partial: 'rating_achievements',
                     locals: { achievements: Achievement.by(@user).for(period) } %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<h2>Итоговый расчёт рейтинга</h2>

<% sum = 0 %>
<ul>
  <% AchievementPeriod.all.each do |period| %>
    <% asum = Achievement.by(@user).for(period).inject(0) { |r, a| r += a.cost ; r } %>
    <li>
      <%= period.description %>: <%= period.ratio %> &times; <%= asum %>
      = <strong><%= period.ratio * asum %></strong>
    </li>

    <% sum += period.ratio * asum %>
  <% end %>

  <li class="list-unstyled lead">
    Итого: <strong><%= sum %></strong>
  </li>
</ul>
