<div class="page-header">
  <h1><%= @user.full_name %> <small>Назначения</small></h1>
</div>

<div class="table-filters">
  <%= render 'add_position_form' %>
</div>

<% if @user.positions.any? %>
  <table class="table table-hover">
    <thead>
    <tr>
      <th>#</th>
      <th><span class="line"></span>Должность</th>
      <th><span class="line"></span>Роль</th>
      <th><span class="line"></span>Подразделение</th>
      <th><span class="line"></span>Дата назначения</th>
      <th><span class="line"></span>Увольнение</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% @user.positions.each do |position| %>
      <tr>
        <td><%= position.id %></td>
        <td><%= position.title %></td>
        <td><%= position.role.title %></td>
        <td><%= position.department.abbreviation %></td>
        <td>с <%= l position.started_at.to_date %></td>
        <td>
          <%= position.dismission.nil? ? 'по настоящее время' : "по #{l position.dismission.to_date}" %>
        </td>
        <td></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% else %>
  <br>
  <p class="lead">
    Сотрудник ещё не назначен ни на одну должность. Воспользуйтесь формой
    выше, чтобы произвести назначение.
  </p>
<% end %>
