<%= form_for @department, html: { class: 'form-horizontal' } do |f| %>
  <div class="row">
    <%= f.label :name, class: 'col col-lg-2 control-label' %>
    <div class="col col-lg-10">
      <%= f.text_field :name, class: 'form-control' %>
      <span class="help-block">
     
    </span>
    </div>
  </div>

  <div class="row">
    <%= f.label :abbreviation, class: 'col col-lg-2 control-label' %>
    <div class="col col-lg-10">
      <%= f.text_field :abbreviation, class: 'form-control' %>
      <span class="help-block">
       
      </span>
    </div>
  </div>

  <div class="row">
    <%= f.label :parent, 'Главное подразделение', class: 'col col-lg-2 control-label' %>
    <div class="col col-lg-10">
      <%= f.select :parent, Department.without(id: @department.id).collect { |d| [d.name, d.id.to_s] }, { include_blank: 'главное подразделение отсутствует' }, class: 'form-control' %>
    </div>
  </div>

    <div class="row">
      <%= f.label :phone, 'Телефон', class: 'col col-lg-2 control-label'%>
      <div class="col col-lg-10">
        <%= f.text_field :phone,  class: 'form-control', placeholder: '+7 499 123-45-67',  pattern: '[\+]\d{1} \d{3} \d{3}[\-]\d{2}[\-]\d{2}' %>
        <span class="help-block">

        </span>
      </div>
    </div>

  <div class="row">
    <div class="col col-lg-10 col-offset-2">
      <%= f.submit class: 'btn btn-primary' %>
      или
      <%= link_to 'назад к структуре', departments_path %>
    </div>
  </div>

<% end %>

<script>
  $('form').validate({
    messages: {
        "department[phone]": {pattern: 'Неверный формат. Введите телефон в формате: +7 499 123-45-67' }
    }
    });
</script>