<% departments.each do |department| %>
  <tr>
    <td><%= department.id %></td>
    <td style="padding-left: <%= 15 * (level - 1) %>px;">
      <%= '&lfloor;'.html_safe if level > 1 %>
      <%= department.name %>
    </td>
    <td><%= department.abbreviation %></td>
    <td>
      <%=department.phone %>
    </td>
    <td>
      <%= link_to 'Редактировать', edit_department_path(department) %>
    </td>
    <td>
        <%= link_to 'Удалить', department, method: :delete, data: { confirm: 'Вы уверены? Удаление может иметь серьёзные последствия!' } %>
      </td>
  </tr>
  <% if department.subdepartments.any? %>
    <%= render partial: 'departments/rows',
               locals: { departments: department.subdepartments, level: (level + 1) } %>
  <% end %>
<% end %>

