<div class="modal fade" id="dateEvents<%= index %>" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Мероприятия на <%= date %></h4>
      </div>
      <div class="modal-body">
        <%= hidden_field_tag "date#{index}", date, class: 'dates-for-events' %>
        <% dates.each_with_index do |date| %>
          <div class="thumbnail">
            <h4><%= date.event.name %></h4>
            <p><%= raw date.event.description %></p>
            <label>Время проведения: <%= l date.time_start, format: '%H:%M' %><%= " - #{ l date.time_end, format: '%H:%M' }" if date.time_end %></label>
          </div>
          <br>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>