<%= nested_form_for @event,  html: { class: 'form-horizontal' } do |f| %>
  <%= f.hidden_field :booking, value: false %>
  <div class="form-group <%= 'has-error' if @event.errors.include?(:name) %>">
    <%= f.label :name, class: 'col col-sm-2 control-label' %>
    <div class="col col-sm-10">
      <%= f.text_field :name, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :event_category_id, class: 'col col-sm-2 control-label' %>
    <div class="col col-sm-10">
      <%= f.select :event_category_id, options_from_collection_for_select(EventCategory.all, :id, :name, EventCategory::SOCIAL_EVENTS_CATEGORY), {}, { class: 'form-control', readonly: true} %>
    </div>
  </div>

  <div class="form-group <%= 'has-error' if @event.errors.include?(:description) %>">
    <%= f.label :description, class: 'col col-sm-2 control-label' %>
    <div class="col col-sm-10">
      <div>
        <%= f.text_area :description, rows: 10, class: 'form-control rich-text-redactor' %>
      </div>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :place, class: 'col col-sm-2 control-label' %>
    <div class="col col-sm-10">
      <div>
        <%= f.text_area :place, rows: 2, class: 'form-control' %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col col-sm-10 col-sm-offset-2">
      <label class="control-label">
        <%= f.check_box :hasclaims %> Можно оставлять заявки
      </label>
    </div>
  </div>

  <%= render partial: 'dates_fields', locals: {f: f} %>
  <div class="form-group">
    <%= f.link_to_add 'Добавить для события дату', :dates,
                      class: 'add-nested btn btn-default col-sm-offset-4' %>
  </div>

  <div class='form-group <%= 'has-error' if @event.errors.include?(:status) %>'>
    <%= f.label :status, class: 'control-label col-sm-2' %>
    <div class='col col-sm-10'>
      <%= f.hidden_field :status, class: 'pill-inputs' %>
      <%= pill_tabs('event_status', [[2, 'Черновик' ], [1, 'Публикация']], 'event_status') %>
    </div>
    <% if @event.errors.include?(:status) %>
      <div class='col col-sm-10 col-sm-offset-2'>
        <p class="help-block">Вы не указали статус записи!</p>
      </div>
    <% end %>
  </div>



  <div class="col col-sm-10 col-sm-offset-2">
   <%= f.submit 'Сохранить', class: 'btn btn-primary' %> или <%= link_to 'Отмена', events_path, class: 'btn btn-default' %>
  </div>
<% end %>