<div class="page-header">
  <h1>Актуальные события</h1>
  <% if params[:day] || params[:name] %>
    <h2 style="height: 10px;"><small class="pull-right"><%= link_to 'Назад ко всем', actual_events_path %></small></h2>
  <% end %>
</div>

<% if flash[:notice] == 'Ваша заявка сохранена.' %>
  <%= content_tag :div, 'Ваша заявка сохранена.', class: 'alert alert-info'%>
<% end %>

<div class="col-sm-12 actuals">
  <div id="actualEventsCalendar" class="col-sm-4">
    <button class="open-calendar btn <%= 'closed' if params[:opened] != '1' %>"><span class="glyphicon glyphicon-search"></span> Поиск по дате</button>
    <%= calendar_for(@year, @month, actual_events_path, @selected_day) %>
  </div>
  <%= form_tag nil, method: :get, class: 'form-horizontal filters' do %>
    <div class="form-group">
      <div class="col-sm-4">
        <%= text_field_tag :name, params[:name], class: 'form-control', placeholder: 'Название' %>
      </div>
      <div class="col-sm-2">
        <%= submit_tag 'Поиск', class: 'btn btn-info form-control' %>
      </div>
    </div>
  <% end %>
</div>

<div class="actual_dates">
  <% if @events.empty? %>
    <p class="lead">События не найдены</p>
  <% else %>
    <div id='event-paginator'>
      <%= paginate_with_info @events %>
    </div>
    <% @events.each do |event| %>
      <h2><a href="<%= more_event_path(event) %>" class="header-link"><%= event.name %></a> <small>Дата публикации: <%= l event.created_at, format: '%d.%m.%Y' %></small></h2>
	  <% if event.dates.length > 0 %>
	  	<div>
		  <% if event.dates.length > 1 %>
		  	<h4>Даты мероприятия:</h4>
		  	<% event.dates.each do |d| %>
		  		<p><%= l d.date, format: '%d %b %Y' %>, <%= l d.time_start, format: '%H:%M' %><%= "–#{l d.time_end, format: '%H:%M'}" if d.time_end %></p>
		  	  <% end %>
		  <% else %>
		  	<strong>Дата мероприятия:</strong> <%= l event.dates.first.date, format: '%d %b %Y' %>, <%= l event.dates.first.time_start, format: '%H:%M' %><%= "–#{l event.dates.first.time_end, format: '%H:%M'}" if event.dates.first.time_end %>
		  <% end %>
		  <br>	
	 	</div>
	  <% end %>
	  
	  <% if event.place %>
	  	<div><strong>Место проведения:</strong> <%= event.place %></div>
		<br>
	  <% end %>
	  
      <% if event.description.length > 500 %>
      <div class="event-style"><%= raw event.description.truncate(500) %></div>
      <%= link_to '<p class="lead">Читать далее</p>'.html_safe, more_event_path(event) %>
      <% else %>
        <div><%= raw event.description %></div>
      <% end %>
      <% if event.hasclaims %>
        <%= link_to "#leaveClaim#{event.id}", data: {toggle: 'modal'},
                    class: 'btn btn-sm btn-default' do %>
          <span class="glyphicon glyphicon-pencil"></span> Оставить заявку
        <% end %>
        <%= render partial: 'leave_claim_modal', locals: {event: event, claim: EventDateClaim.new} %>
      <% end %>
      <div class="yashare-auto-init" data-yashareL10n="ru"
           data-yashareQuickServices="vkontakte,facebook,twitter" data-yashareTheme="counter"
           data-yashareLink="<%= more_event_url(event)%>" data-yashareTitle="<%= event.name %>"></div>
      <hr>
      <br>
    <% end %>
  <% end %>
</div>

<% @dates.each do |d| %>
  <%= hidden_field_tag 'dates[]', d, class: 'dates-for-events', data: { date: Date.parse(d).day,
                                                                        month:  Date.parse(d).month,
                                                                        year:  Date.parse(d).year} %>
<% end %>

<% if @selected_day %>
  <%= hidden_field_tag :selected_day, @selected_day %>
<% end %>