<div class="page-header">
  <h1>События</h1>
  <% if params[:name] || params[:day] %>
    <h2 style="height: 10px;"><small class="pull-right"><%= link_to 'Назад ко всем', events_path %></small></h2>
  <% end %>
</div>

<div class="col-sm-12 actuals" >
  <div id="actualEventsCalendar" class="col-sm-4">
    <button class="open-calendar btn <%= 'closed' if params[:opened] != '1' %>"><span class="glyphicon glyphicon-search"></span> Поиск по дате</button>
    <%= calendar_for(@year, @month, events_path, @selected_day) %>
  </div>
  <%= form_tag nil, method: :get, class: 'form-horizontal filters' do %>
    <div class="form-group">
      <div class="col-sm-4">
        <%= text_field_tag :name, params[:name], class: 'form-control', placeholder: 'Название' %>
      </div>
      <div class="col-sm-2">
        <%= submit_tag 'Поиск', class: 'btn btn-info form-control' %>
      </div>
    </div>
  <% end %>
</div>

<div>
  <%= link_to new_event_path, class: 'btn btn-primary pull-right' do%>
    <span class='glyphicon glyphicon-plus'></span> Добавить новое событие
  <% end %>
  <%= link_to event_claims_path(Event.where(event_category_id: EventCategory::SOCIAL_EVENTS_CATEGORY).first),
              class: 'btn btn-default pull-right',
              style: 'margin-right: 10px;' do%>
    <span class='glyphicon glyphicon-list-alt'></span> Заявки
  <% end %>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Событие</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% if @events.empty? %>
      <tr>
        <td colspan="4">
          <p class="lead">Ни одного события не было найдено, попробуйте изменить параметры поиска.</p>
        </td>
      </tr>
    <% else %>
      <% @events.each_with_index do |event, index| %>
        <tr class="<%= event.publication? ? 'success' : (event.closed? ? 'warning' : '')  %>">
          <td><%= index + 1 %></td>
          <td>
            <h4 style="margin: 0;"><%= event.name %> <small><%= event.dates.collect{|date| l date.date, format: '%d.%m.%Y'}.join(', ') if !event.dates.empty? %></small></h4>
            <p class="event-style help-block"><%= raw event.description %></p>
            <% if event.closed? %>
              <p style="height: 1px"><small class="text-warning pull-right">Данное событие было закрыто</small></p>
            <% elsif event.hasclaims %>
              <p style="height: 1px"><small class="text-success pull-right">На данное событие можно оставлять заявки</small></p>
            <% end %>
          </td>
          <td>
            <% unless event.closed? %>
            <%= link_to edit_event_path(event), class: 'btn btn-default pull-right', title: 'Редактировать' do %>
              <span class="glyphicon glyphicon-pencil"></span>
            <% end %>
            <br><br>
            <%= link_to event_path(event), method: :delete, class: 'btn btn-danger pull-right', title: 'Удалить', confirm: 'Вы уверены?' do %>
              <span class="glyphicon glyphicon-remove"></span>
            <% end %>
            <% end %>
            <% if event.publication? %>
            <br><br>
            <%= form_for event, url: event_path(event) do |f| %>
              <%= f.hidden_field :status, value: Event::STATUS_CLOSED %>
              <button type="submit" class="btn btn-warning pull-right" title="Закрыть событие">
                <span class="glyphicon glyphicon-eye-close"></span>
              </button>
            <% end %>
    <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<% @dates.each do |d| %>
  <%= hidden_field_tag 'dates[]', d, class: 'dates-for-events', data: { date: Date.parse(d).day,
                                                                        month:  Date.parse(d).month,
                                                                        year:  Date.parse(d).year} %>
<% end %>

<% if @selected_day %>
  <%= hidden_field_tag :selected_day, @selected_day %>
<% end %>