<div class="page-header">
  <h1><%= @event.name %>
    <small>Дата публикации: <%= l @event.created_at, format: '%d.%m.%Y' %></small>
  </h1>
</div>

<% if @event.closed? %>
  <div class="alert-info alert">Данное событие уже прошло</div>
<% elsif @event.hasclaims %>
  <div class="alert-info alert">Вы можете оставить заявку на данное мероприятие.
    <%= link_to "#leaveClaim#{@event.id}", data: {toggle: 'modal'},
                style: 'margin-top: -7px;',
                class: 'pull-right btn btn-info' do %>
      <span class="glyphicon glyphicon-pencil"></span> Оставить заявку
    <% end %>
  </div>
  <%= render partial: 'leave_claim_modal', locals: {event: @event, claim: EventDateClaim.new} %>
<% end %>

<div>
	<h4><%= (@event.dates.length > 1 ? 'Даты мероприятия:' : 'Дата мероприятия:') if @event.dates.length > 0 %></h4>
		<% @event.dates.each do |d| %>
		  <p><%= l d.date, format: '%d %b %Y' %>, <%= l d.time_start, format: '%H:%M' %><%= "–#{l d.time_end, format: '%H:%M'}" if d.time_end %></p>
		<% end %>
	<br>
</div>

<div class="event-style"><%= raw @event.description %></div>

<div class="yashare-auto-init" data-yashareL10n="ru"
     data-yashareQuickServices="vkontakte,facebook,twitter" data-yashareTheme="counter"
     data-yashareLink="<%= more_event_url(@event)%>" data-yashareTitle="<%= @event.name %>"></div>
