<div class="page-header">
  <h1><%= @event.name %>
    <small><%= @event.dates.collect{|date| l date.date, format: '%d.%m.%Y'}.join(', ') if !@event.dates.empty? %></small>
  </h1>
</div>

<% if @event.closed? %>
  <div class="alert-info alert">Данное событие уже прошло</div>
<% elsif @event.hasclaims %>
  <div class="alert-info alert">Вы можете оставить заявку на данное мероприятие.
    <%= link_to "#leaveClaim#{@event.id}", data: {toggle: 'modal'},
                style: 'margin-top: -7px;',
                class: 'pull-right btn btn-info' do %>
      <span class="glyphicon glyphicon-pencil"></span> Оставить заявку
    <% end %>
  </div>
  <%= render partial: 'leave_claim_modal', locals: {event: @event, claim: EventDateClaim.new} %>
<% end %>

<div><%= raw @event.description %></div>
