<div class="page-header">
  <h1><%= @event.name %></h1>
</div>

<% unless @event.description.empty? %>
  <p class="help-block"><%= @event.description %></p>
<% end %>

<% if  flash[:notice] %>
<div class="alert alert-info">
  <p><%= flash[:notice] %></p>
</div>
<% end %>


<div class="col-sm-12 event_dates">
  <%= render_dates_calendar(@event.dates.order(:date).first.date, @event.dates.order(:date).last.date) %>
  <% @event.dates.each do |date| %>
    <% remains = (date.max_visitors - date.visitors.length).to_f/date.max_visitors %>
    <%= hidden_field_tag :event_date_date, (l date.date), class: 'form-control',
        data: {value: (((remains < 0.1 && remains > 0) || date.max_visitors - date.visitors.length == 1) ? 'warning' : (date.max_visitors == date.visitors.length ? 'danger' : 'success'))}%>
  <% end %>
</div>

<%= link_to print_event_path(@event), class: 'btn btn-primary' do %>
  <span class="glyphicon glyphicon-print"></span> Распечатать приложение к приказу по всем датам
<% end %>
<%= link_to '#printDifferentDates', data: {toggle: 'modal'},
            class: 'btn btn-info', style: 'margin-left: 15px;' do %>
  <span class="glyphicon glyphicon-print"></span> Распечатать приложение к приказу по нескольким датам
<% end %>
<%= render 'print_dates' %>
<br><br>
<button data-value="<%= @event.id %>" class="addVisitor btn btn-success">Добавить сотрудника</button>
<br><br>
<div id="addVisitor<%= @event.id %>" style="display: none;">
  <%= form_for @visitor, url: event_date_visitor_event_dates_path(@event, @event.dates.first) do |f| %>
    <div class="row">
      <%= hidden_field_tag :by_admin, 1 %>
      <div class="col-sm-4">
      <%= f.select :event_date_id,
                   options_from_collection_for_select(@event.dates.not_full, :id, :date_with_time),
                   {}, class: 'form-control' %>
      </div>
      <%= f.hidden_field :visitor_type, value: 'User' %>
      <div class="col-sm-4">
        <%= f.collection_select :visitor_id, User.includes(:roles).except(@event.users.collect{|u| u.id}).where('user_fname IS NOT NULL').joins('LEFT JOIN dictionary AS fname ON fname.dictionary_id = user_fname').order('fname.dictionary_ip'), :id, :name_with_positions,
                                {prompt: 'выберите сотрудника'}, class: 'form-control' %>
      </div>
      <div class="col-sm-2">
        <%= f.submit 'Забронировать', class: 'btn btn-primary' %>
      </div>
    </div>
  <% end %>
</div>

<div class="panel-group" id="accordionDates">
  <% @event.dates.each do |date| %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-date="<%= l date.date %>" data-parent="#accordionDates" href="#date_<%= date.id%>">
            <strong><%= l date.date, format: :long %> (<%= l date.time_start, format: '%H:%M' %><%= " - #{ l date.time_end, format: '%H:%M' }" if date.time_end %>)</strong>
          </a>
          <br><br>
          <%= date.visitors.length %> из <%= date.max_visitors %>
        </h4>
      </div>
      <div id="date_<%= date.id%>" class="panel-collapse collapse">
        <div class="panel-body">
          <% if date.visitors.empty? %>
            Это время никто не забронировал
          <% else %>
            <%= link_to print_event_date_path(@event, date), class: 'btn btn-info' do %>
              <span class="glyphicon glyphicon-print"></span> Распечатать приложение к приказу
            <% end %>
            <br><br>
          <ol>
            <% date.visitors.each do |visitor| %>
              <li>
                <%= visitor.full_name %>, <%= (visitor.departments.empty? ? (visitor.user_department? ? Department.find(visitor.user_department).abbreviation : '') : visitor.departments.first.abbreviation) %>
                <% event_visitor = date.visitor_event_dates.from_visitor(visitor).first %>
                <%= link_to event_date_visitor_event_date_path(@event, date, event_visitor), method: :delete, confirm: 'Вы уверены?',
                            class: 'btn  btn-sm btn-danger pull-right' do %>
                  <span class="glyphicon glyphicon-remove"></span>
                <% end %>
                <%= link_to "#changeDateEvent#{date.id}_#{visitor.id}", data: {toggle: 'modal'}, title: 'Удалить бронь',
                            class: 'btn btn-sm btn-default pull-right', style: 'margin-right: 15px;' do %>
                  <span class="glyphicon glyphicon-calendar"></span> Изменить время
                <% end %>
              </li>
              <br>
              <%= render partial: 'change_date_modal', locals:{ event: @event,
                          date: date, visitor: visitor,
                          event_visitor: event_visitor} %>
            <% end %>
          </ol>
          <% end %>
          <br><br>
          <button data-value="<%= date.id %>" class="changeMaxVisitors btn btn-default">Изменить число мест</button>
          <br><br>
          <div id="changeMaxVisitors<%= date.id %>" style="display: none;">
            <%= form_for date, url: event_date_path(@event, date), class: 'form-horizontal' do |f| %>
            <div class="row">
              <%= f.hidden_field :id %>
              <div class="col-sm-3">
                <%= f.number_field :max_visitors, min: 0, class: 'form-control' %>
              </div>
              <div class="col-sm-2">
                <%= f.submit 'Сохранить', class: 'btn btn-primary' %>
              </div>
            </div>  
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>