<%= nested_form_for @report, html: { class: 'form-horizontal', role: 'form' } do |f| %>
  <%= f.hidden_field :user_id, value: (@report.user_id ? @report.user_id : current_user.id) %>
  <%= f.hidden_field :status, value: (@report.status ? @report.status : 1) %>
  <div class="form-group">
    <%= label_tag :hostel, 'Общежитие', class: 'control-label col-sm-2' %>
    <div class="col-sm-9">
      <%= select_tag :hostel, options_from_collection_for_select(Hostel::Host.for_students, :id, :address, @hostel ? @hostel.id : nil), prompt: 'Выберите общежитие', class: 'form-control ajax-hostel' %>
    </div>
  </div>

  <div class="form-group <%= 'has-error' if @report.errors.include?(:flat_id) %>">
    <%= f.label :flat_id, class: 'control-label col-sm-2' %>
    <div class='col-sm-9'>
      <% if @hostel %>
        <%= f.select :flat_id, options_from_collection_for_select(@hostel.flats.sort_by{|x| x.number}, :id, :number, @report.flat.id), {}, { class: 'form-control ajax-flat' } %>
      <% else %>
        <%= f.select :flat_id, [], {}, { class: 'form-control ajax-flat' } %>
      <% end %>
    </div>
  </div>

  <div class="form-group <%= 'has-error' if @report.errors.include?(:date) %>">
    <%= f.label :date, class: 'control-label col-sm-2' %>
    <div class="col-sm-9">
      <%= f.text_field :date, class: 'form-control', placeholder: 'дд.мм.гггг', pattern: '\d{1,2}.\d{1,2}.\d{4}', value: (@report.date ? (l @report.date) : nil) %>
    </div>
  </div>

  <div style="margin-bottom: 30px;" class="form-group <%= 'has-error' if @report.errors.include?(:time) %>">
    <%= f.label :time, class: 'control-label col-sm-2' %>
    <div class="col-sm-9">
      <%= f.text_field :time, class: 'form-control', placeholder: 'чч:мм', pattern: '\d{1,2}:\d{1,2}', value: (@report.time ? (l @report.time, format: '%H:%M') : nil) %>
    </div>
  </div>
  <p id="warning-report" class="alert alert-info">Обратите внимание, что приложения должны содержать информацию, связанную с выявленными нарушениями. Например, в Приложении 1 - фотографии нарушения, в Приложении 2 - объяснительные записки проживающих в квартире (блоке), в Приложении 3 - прочее.</p>
  <div class="form-group">
    <label class="control-label col-sm-2">ПРИЛОЖЕНИЯ</label>
    <div class="col-sm-9">
    <%= f.fields_for :applications do |application_form| %>
      <%= render 'applications_fields', f: application_form %>
    <% end %>
    <%= f.link_to_add 'Добавить приложение',
                    :applications, class: 'btn btn-default add-application-btn' %>
    </div>
  </div>
  <br>
  <p class="lead">В ходе проверки выявлены следующие нарушения:</p>
  <% Hostel::Offense.all.each do |o| %>
    <div class="offense_check">
      <% if o.type_student? %>
          <label><%= check_box_tag 'offenses[]', o.id, (@report ? (@report.report_offenses.collect{|o| o.offense}.include? o) : false),
                                   class: 'hostel_offenses', data: {type: 3} %>     <%= o.description %></label>
          <div data-type="3" class="for_offense"></div>
      <% else %>
        <label><%= check_box_tag 'offense_groups[]', o.id, (@report ?(@report.report_offenses.collect{|o| o.offense}.include? o) : false),  id: "offense_#{o.id}",
                                 class: 'hostel_offense_group', data: {type: 1} %>     <%= o.description %></label>
      <div class="offense_group col-sm-offset-1" style="display: none;">
        <label><%= check_box_tag 'offenses[]', o.id, (@report ?(@report.report_offenses.collect{|o| "#{o.offense.id}_#{(!o.offense_students.empty? ? 3 : (!o.offense_rooms.empty? ? 2 : 1))}"}.include? "#{o.id}_1") : false),  id: "offense_#{o.id}_1",
                                   class: 'hostel_offenses', data: {type: 1} %>     в местах общего пользования (кухня, коридор, ванная комната, туалет)</label>
        <div data-type="1" class="for_offense"></div>
        <label><%= check_box_tag 'offenses[]', o.id, (@report ? (@report.report_offenses.collect{|o| "#{o.offense.id}_#{(!o.offense_students.empty? ? 3 : (!o.offense_rooms.empty? ? 2 : 1))}"}.include? "#{o.id}_2") : false),  id: "offense_#{o.id}_2",
                                   class: 'hostel_offenses', data: {type: 2} %>     в жилом помещении</label>
        <div data-type="2" class="for_offense"></div>
      </div>
    </div>
    <% end %>
  <% end %>

  <%= f.fields_for :report_offenses do |offense_form| %>
    <%= render 'report_offenses_fields', f: offense_form %>
  <% end %>
  <%= f.link_to_add 'Добавить нарушение',
                    :report_offenses, style: 'display: none;' %>


  <br>
  <%= f.submit class: 'btn btn-primary' %> или <%= link_to 'Вернуться назад', hostel_reports_path %>

<% end %>

<script>
  $('.hostel_offenses').each(function(){
      var $this = $(this);
    if ($this.prop('checked')){
      $('.fields .offense[value="' +  $this.val() + '"][data-type="' + $this.data('type') + '"]').parents('.fields').appendTo($this.parent().next('.for_offense[data-type="' + $this.data('type') + '"]'));
      if ($this.data('type') == 2) $this.closest('.offense_check').find('.for_offense[data-type="' + $this.data('type') + '"]').find('.rooms_fields_btn').show();
      if ($this.data('type') == 3) $this.closest('.offense_check').find('.students_fields_btn').show();
    }
  })
  $('#warning-report').hide();
  $('.rooms_fields_btn:visible').text('Добавить комнату');
  $('.students_fields_btn:visible').text('Добавить студента');
  $('.hostel_offense_group').each(function(){
    var $this = $(this);
    if ($this.prop('checked')){
      $this.closest('.offense_check').find('.offense_group').show();
    }

    $('.application-label:visible').each(function(index){
      $(this).text('Приложение ' + (index+1));
      $(this).parent().find('.name-application').text('Название приложения ' + (index+1));
      $(this).parent().find('.papers-application').text('Кол-во страниц в пр-и ' + (index+1));
      var name = $('.application-label:visible').length > 0 ? 'Добавить приложение ' + ($('.application-label:visible').length+1) : 'Добавить приложение';
      $(this).closest('.fields').parent().find('.add-application-btn').text(name);
    })
  })
</script>