<div class="page-header">
  <% if params[:empty] == '2' %>
    <% n = 160 %>
  <% elsif params[:empty] == '1' %>
    <% n = 13 %>
  <% end %>
  <h1>Образец акта проверки <small>квартира (блок) № <%= n %></small></h1>
</div>

  <p class="alert alert-info">Вы можете ознакомиться с 2 образцами акта проверки квартиры (блока): с выявленными нарушениями и без нарушений. После <strong><a href="<%= new_hostel_report_path %>">заполнения</a></strong> всей необходимой информации вы получите подобный акт.</p>

<%= form_tag nil, method: :get, class: 'filter-block', id: 'curator-report-example' do |f| %>
  <div class='row'>
    <div class='col col-sm-offset-4 col-sm-6'>
      <%= hidden_field_tag :empty, params[:empty],  class: 'hidden-pill-values' %>
      <%= pill_tabs('empty', [[1, 'Без нарушений'], [2, 'С нарушениями']], 'empty') %>
    </div>
  </div>
<% end %>

<div style="background-color: white; width: 745px; margin: 20px auto; padding: 40px 80px 40px 80px; border: 1px solid #666666; box-shadow: 0 2px 20px #666666; font-family: 'PT Sans'; font-size: 11pt; position: relative;">
  <% if params[:empty] == '2' %>
    <p>от «<span style="text-decoration: underline;">10</span>» <span style="text-decoration: underline;">апреля</span> 2014 г.</p>
    <p>Место составления: <span style="text-decoration: underline;">г. Москва, ул. Прянишникова д. 2а, ауд. 1301</span></p>
    <p>Время составления: <span style="text-decoration: underline;">13:20</span></p>
  <% elsif params[:empty] == '1' %>
  <p>от «<span style="text-decoration: underline;">10</span>» <span style="text-decoration: underline;">апреля</span> 2014 г.</p>
  <p>Место составления: <span style="text-decoration: underline;">г. Москва, ул. Прянишникова, д. 2а, ауд. 1301</span></p>
  <p>Время составления: <span style="text-decoration: underline;">16:20</span></p>
  <% end %>
  <p style="text-align: center; font-weight: bold; font-size: 11pt; margin-bottom: 0; margin-top: 30px;">АКТ ПРОВЕРКИ</p>
  <p style="text-align: center; font-weight: bold; font-size: 11pt; margin-bottom: 0;">состояния квартиры в общежитии МГУП имени Ивана Федорова</p>
  <p style="text-align: center; font-weight: bold; font-size: 11pt; margin-bottom: 0;">(СПРАВКА О РЕЗУЛЬТАТАХ ПРОВЕРКИ)</p>
  <p style="margin-top: 30px;"><strong>Дата проверки:</strong> «<span style="text-decoration: underline;">08</span>» <span style="text-decoration: underline;">апреля</span> 2014 г.</p>
  <% if params[:empty] == '2' %>
    <p><strong>Время проверки:</strong> «<span style="text-decoration: underline;">22:12</span>».</p>
  <% elsif params[:empty] == '1' %>
    <p><strong>Время проверки:</strong> «<span style="text-decoration: underline;">21:35</span>».</p>
  <% end %>
  <% if params[:empty] == '2' %>
    <p style="margin-top: 30px; text-align: justify;">Настоящий акт (справка) составлен(а) по результатам проверки квартиры (блока) № <span style="text-decoration: underline;">160</span> общежития МГУП имени Ивана Федорова, расположенного по адресу: </p>
  <% elsif params[:empty] == '1' %>
    <p style="margin-top: 30px; text-align: justify;">Настоящий акт (справка) составлен(а) по результатам проверки квартиры (блока) № <span style="text-decoration: underline;">13</span> общежития МГУП имени Ивана Федорова, расположенного по адресу: </p>
  <% end %>
  <p>гор. Москва, ул. 800-летия Москвы, д.28, корп.1;</p>
  <% if params[:empty] == '2' %>
    <p>проживающие:</p>
    <p>Мамбетов Р. В., ДТмт-4-1,</p>
    <p>Пучков К. А., ДТукБ-3-1,</p>
    <p>Меркулов К. П., ДТпп-4-1,</p>
    <p>Сиваченко Д. А., ДЦисБ-2-1.</p>
  <% elsif params[:empty] == '1' %>
    <p>проживающие:</p>
    <p>Кузьмина А. Ю., ДЦисБ-3-2,</p>
    <p>Булденкова Н. С., ДЭмБ-3-2,</p>
    <p>Иванова Ю. В., ДЦисБ-3-2,</p>
    <p>Абакунчик А. В., ДЦисБ-1-1,</p>
    <p>Власова А. О., ДЦасБ-1-1,</p>
    <p>Хилько Д. Е., ДТукБ-3-1,</p>
    <p>Гуськова М. Е., ДТмтБ-3-1</p>
    <p>Шулика А. А., ДТпупБ-1-1</p>
    <p>Некрасова А. А., ДТмтБ-1-1</p>
  <% end %>
  <p style="text-align: justify;"><strong>Проверка проведена</strong>  в соответствии с Уставом федерального государственного бюджетного образовательного учреждения высшего профессионального образования «Московский государственный университет печати имени Ивана Федорова» (п. 6.7, п.6.12),
    Положением о студенческом общежитии федерального государственного бюджетного образовательного учреждения высшего профессионального образования «Московский государственный университет печати имени Ивана Федорова» (п. 12, п. 16) и Правилами
    внутреннего распорядка в студенческом общежитии Московского государственного университета печати имени Ивана Федорова (п. 4.3).</p>

  <% if params[:empty] == '2' %>
    <p style="margin-top: 30px; text-decoration: underline; font-weight: bold;">В ходе проверки выявлены нарушения.</p>
    <ol>
      <li>
        <p style="margin: 0;">Антисанитарное состояние в местах общего пользования, а именно: <span style="text-decoration: underline;">мешки с мусором, разбросанные вещи, грязные полы</span>.</p>
      </li>
      <li>
        <p style="margin: 0;">Антисанитарное состояние в жилом помещении, а именно: <span style="text-decoration: underline;">разбросанные вещи, грязные полы</span>.</p>
        <p style="margin: 0;">Комнаты, в которых зафиксирован факт нарушения:</p>
            <p style="margin: 0 0 0 30px;">Комната на 4 (Мамбетов Р. В., ДТмт-4-1; Пучков К. А., ДТукБ-3-1; Меркулов К. П., ДТпп-4-1; Сиваченко Д. А., ДЦисБ-2-1)</p>
      </li>
    </ol>
  <% elsif params[:empty] == '1' %>
    <p style="margin-top: 30px; text-decoration: underline; font-weight: bold;">В ходе проверки нарушения не выявлены.</p>
  <% end %>

  <!--<p style="margin-top: 30px;">Настоящий акт составлен в двух экземплярах, имеющих равную юридическую силу.</p>-->
  <br>
  <% if params[:empty] == '2' %>
  <table style="width: 100%;">
    <tr>
      <td style="width: 110px;" rowspan="2">Приложения:</td>
      <td>1. Фото</td>
      <td class="text-right">на <span style="text-decoration: underline;">4</span> л.</td>
    </tr>
    <tr>
      <td>2. Объяснительные записки</td>
      <td class="text-right">на <span style="text-decoration: underline;">4</span> л.</td>
    </tr>
  </table>
  <% end %>

  <table style="width: 100%; margin-top: 20px;">
    <tr>
      <td style="width: 150px;" rowspan="3"><strong>Члены комиссии:</strong></td>
      <td style="padding-left: 200px;">_______________ (<span style="text-decoration: underline;">Зеленская М.В.</span>)</td>
    </tr>
    <tr>
      <td style="padding-left: 200px;">_______________ (<span style="text-decoration: underline;">Рекус И.Г</span>)</td>
    </tr>
    <tr>
      <td style="padding-left: 200px;">_______________ (____________)</td>
    </tr>
  </table>
  <!--<p style="margin-top: 20px;"><strong>С актом проверки ознакомлен:</strong></p>-->
</div>

<div class="col-sm-offset-5">
  <%= link_to 'Вернуться к актам', hostel_reports_path, class: 'btn btn-default' %>
</div>

<script>
  $('#curator-report-example #empty').change(function(){
    $('#curator-report-example').submit();
  });
</script>