<%= form_tag study_subject_marks_path(@subject), class: 'val', id: 'form-for-mark' do %>

<h4>Поставить всем:</h4>
<%= hidden_field_tag 'allmarks' %>
<% if @subject.test? %>
   <%= pill_tabs('marks', [[0, 'Не зачтено'], [1, 'Зачтено']], 'allmarks') %>
<% else %>
   <%= pill_tabs('marks', [[2, 'Неудовл.'], [3, 'Удовл.'], [4, 'Хорошо'], [5, 'Отлично']], 'allmarks') %>
<% end %>
<br>
  <table class='table' id='stud-marks'>
    <thead>
    <tr>
      <th>#</th>
      <th>Студент</th>
      <th>Пересдача</th>
      <th style='padding-left: 60px;'>Результат</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% @students.each do |student| %>
    <tr>
      <td>
        <%= student.id %>
        <%= hidden_field_tag 'marks[][student_id]', student.id %>
        <%= hidden_field_tag 'marks[][user_id]', current_user.id %>
        <%= hidden_field_tag 'marks[][subject_id]', @subject.id %>
      </td>
      <td><%= student.person.full_name %></td>
      <td>
        <%= select_tag 'marks[][retake]', options_for_select(%w(1 2 3)), prompt: 'нет' %>
      </td>
      <td style='padding-left: 45px;'>
        <% if @subject.test? %>
          <%= hidden_field_tag 'marks[][mark]', nil, required: 'required', id: "#{student.id}_mark", class: 'all_mark required' %>
          <%= pill_tabs('mark', [[0, 'Не зачтено'], [1, 'Зачтено']], "#{student.id}_mark") %>
        <% else %>
          <%= hidden_field_tag 'marks[][mark]', nil, required: 'required', id: "#{student.id}_mark", class: 'all_mark required' %>
          <%= pill_tabs('mark', [[2, 'Неудовл.'], [3, 'Удовл.'], [4, 'Хорошо'], [5, 'Отлично']], "#{student.id}_mark") %>
        <% end %>
      </td>
    </tr>
    <% end %>
    </tbody>
  </table>

  <h4>Всего:</h4>
  <div class='row'>
    <% if @subject.test? %>
    <div class='col col-lg-2'>
       Незачет: <input class='counter form-control' id='mark0' type='text' disabled value='0'>
    </div>
    <div class='col col-lg-2'>
       Зачет: <input class='counter form-control' id='mark1' type='text' disabled value='0'>
     </div>
     <% else %>
      <div class='col col-lg-2'>
        2: <input class='counter form-control' id='mark2' type='text' disabled value='0'>
      </div>
      <div class='col col-lg-2'>
        3: <input class='counter form-control' id='mark3' type='text' disabled value='0'>
      </div>
      <div class='col col-lg-2'>
        4: <input class='counter form-control' id='mark4' type='text' disabled value='0'>
      </div>
      <div class='col col-lg-2'>
        5: <input class='counter form-control' id='mark5' type='text' disabled value='0'>
      </div>
     <% end %>
  </div>

  <%= submit_tag 'Сохранить оценки', class: 'btn btn-default', id: 'submit-req' %>

  или
  <%= link_to 'назад ко всем предметам', study_subject_marks_path(@subject) %>
<% end %>

