<%= form_for(@blank) do |f| %>
  <% if @blank.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@blank.errors.count, "error") %> prohibited this blank from being saved:</h2>

      <ul>
      <% @blank.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :type %><br>
    <%= f.number_field :type %>
  </div>
  <div class="field">
    <%= f.label :number %><br>
    <%= f.number_field :number %>
  </div>
  <div class="field">
    <%= f.label :details %><br>
    <%= f.text_area :details %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
