<div class="page-header">
  <h1>Бланки документов</h1>
</div>

<%= form_tag nil, method: :get do %>
  <%= select_tag :type, options_for_select(Blank::TYPES, params[:type]),
                 prompt: 'Тип документа' , class: 'form-control', onclick: "$(this).parents('form').submit();" %>
<% end %>

<% unless params[:type].blank? %>
  <%= form_for Blank.new do |f| %>
    <%= f.text_field :details %>

    <%= f.submit %>
  <% end %>
<% end %>

<table>
  <thead>
    <tr>
      <th>#</th>
      <th>Номер</th>
      <th>Тип</th>
      <th>Описание</th>
      <th></th>
    </tr>
  </thead>
  <% @blanks.each do |blank| %>
    <tr>
      <td><%= blank.id %></td>
      <td><%= blank.number %></td>
      <td><%= blank_type(blank) %></td>
      <td><%= blank.details %></td>
      <td></td>
    </tr>
  <% end %>
</table>

<h1>Listing blanks</h1>

<table>
  <thead>
    <tr>
      <th>Type</th>
      <th>Number</th>
      <th>Details</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @blanks.each do |blank| %>
      <tr>
        <td><%= blank.type %></td>
        <td><%= blank.number %></td>
        <td><%= blank.details %></td>
        <td><%= link_to 'Show', blank %></td>
        <td><%= link_to 'Edit', edit_blank_path(blank) %></td>
        <td><%= link_to 'Destroy', blank, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Blank', new_blank_path %>
