<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @blank.type %>
</p>

<p>
  <strong>Number:</strong>
  <%= @blank.number %>
</p>

<p>
  <strong>Details:</strong>
  <%= @blank.details %>
</p>

<%= link_to 'Edit', edit_blank_path(@blank) %> |
<%= link_to 'Back', blanks_path %>
