<ul class="breadcrumb">
  <li><a href="<%= my_student_path(@student) %>">Кабинет студента</a></li>
  <li><a href="<%= my_student_progress_path(@student) %>">Успеваемость</a></li>
  <li class="active"><%= @discipline.name %></li>
</ul>
<div class="page-header">
  <h1><%= @student.person.full_name %> <small><%= @student.group.name %></small></h1>
  <h2><%= @discipline.name %></h2>
</div>

 <table class='table table-striped'>
   <thead>
   <tr>
     <th>Дата</th>
     <th style='width: 550px;'>Тип</th>
     <th></th>
   </tr>
   </thead>
   <tbody>
   <% @checkpoints.each  do |checkpoint| %>
    <tr>
       <td><%= checkpoint.date.strftime("%d.%m.%Y") %></td>
       <td style='width: 550px;'><span class="glyphicon <%= checkpoint.lesson %>"></span>
         <%= checkpoint.name if checkpoint.type == 3 %>
         <%= checkpoint.lessonname %>
         <span class="help-block"><%= checkpoint.details %></span>
       </td>
      <td>
        <% mark = checkpoint.checkpointmarks.by_student(@student).last %>
        <% if checkpoint.check? %>
          <div class='col col-lg-7'>
            <span class="label label-<%= mark.mark>=checkpoint.min ? 'success' : 'danger'%>"><%= mark.mark %> из <%= checkpoint.max.round %> баллов</span>
          </div>
        <% else %>
          <div class='col col-lg-10'>
            <% if mark != nil %>
              <span class="label label-<%= mark.result[:color] %>"><%= mark.result[:mark] %></span>
            <% end %>
          </div>
        <% end %>
     </tr>
   <% end %>
  </tbody>
 </table>

<a  class="btn btn-default" href="<%= my_student_progress_path(@student) %>"><span class='glyphicon glyphicon-backward'></span> Назад ко всем дисциплинам</a>
