<div class="page-header">
  <h1><%= @student.person.full_name %> <small><%= @student.group.name %></small></h1>
  <h2>Дисциплины</h2>
</div>

<div class="info-small pull-right disciplines_count">
  Всего: <%= @disciplines.count %>
</div>

<table class="table table-striped">
  <thead>
  <tr>
    <th class="text-muted">#</th>
    <th>Дисциплина</th>
    <th colspan="2">Набранный балл на <%= DateTime.now.strftime('%d.%m.%Y') %> </th>
    <th colspan="2">Средняя оценка на <%= DateTime.now.strftime('%d.%m.%Y') %></th>
    <th></th>
  </tr>
  </thead>
  <tbody id="disciplines">
  <% @disciplines.each do |discipline| %>
    <tr>
      <td class="text-muted"><%= discipline.id %></td>
      <td><%= discipline.name %>
      </td>
      <td><%= @student.ball(discipline) %></td>
      <td>
        <div style="width: 100px;" class="progress progress-striped">
          <% result = case @student.ball(discipline).round %>
                     <% when 0..49 then 'danger' %>
                     <% when 50..64 then 'warning' %>
                     <% when 65..80 then 'info' %>
                     <% else 'success' %>
                   <% end %>
          <div class="progress-bar progress-bar-striped" style="width: <%= @student.ball(discipline) %>%;"></div>
        </div>
      </td>
        <% itog = case @student.ball(discipline).round %>
              <% when 0..49 then 'неудовлетворительно' %>
              <% when 50..64 then 'удовлетворительно' %>
              <% when 65..80 then 'хорошо' %>
              <% else 'отлично' %>
            <% end %>
      <td><%= @student.marks == [] ? 'нет данных' : itog %></td>
      <td><div style="width: 100px;" class="progress progress-striped">
        <div class="progress-bar progress-bar-<%= result %>" style="width: <%= @student.ball(discipline) %>%;"></div>
      </div>
      </td>
      <td><a class="btn btn-default" href="<%= root_url %>/my/student/progress/discipline/<%= discipline.id %>" title="Подробнее"><span class="glyphicon glyphicon-search"></span></a></td>
    </tr>
  <% end %>
  </tbody>
</table>

<div class="info-small pull-right disciplines_count">
  Всего: <%= @disciplines.count %>
</div>

<a  class="btn btn-default" href="<%= my_student_path(@student) %>"><span class="glyphicon glyphicon-backward"></span> Вернуться в кабинет студента</a>

