<form class='form-horizontal' action='' method='post' id='formmychoiceselectgroup'>

  <div class='row'>
    <%= label_tag :faculty, 'Факультет', class: 'control-label col-lg-2' %>
    <div class='col col-lg-10'>
      <%= hidden_field_tag :faculty %>
      <ul class='nav nav-pills pill-select ajax-faculty' name='pillfaculty' id='pillfaculty'>
        <% Department.faculties.each do |faculty| %>
          <li><a data-toggle='pill' data-value="<%=faculty.id%>" data-input='faculty' href='#'><%= faculty.abbreviation %></a></li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class='row'>
    <%= label_tag :course, 'Курс', class: 'control-label col-lg-2' %>
    <div class='col col-lg-10'>
      <%= hidden_field_tag 'course_study' %>
      <ul class='nav nav-pills ajax-course pill-select' name='pillcourse' id='pillcourse'>
        <% [1,2,3,4,5,6].each do |i| %>
          <li><a  data-toggle='pill' data-value="<%= i %>" data-input='course_study' href='#'><%= i %></a></li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class='row'>
    <%= label_tag :form, 'Форма обучения', class: 'control-label col-lg-2' %>
    <%= hidden_field_tag :form %>
    <div class='col col-lg-10'>
      <ul class='nav nav-pills ajax-form pill-select' name='pillform' id='pillform'>
        <% [{v: '101', n: 'очная'}, {v: '102', n: 'очно-заочная'}, {v: '103', n: 'заочная'}, {v: '105', n: 'дистанционная'}].each do |x| %>
        <li><a  data-toggle='pill' data-value="<%= x[:v] %>" data-input='form' href='#'><%= x[:n] %></a></li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class='row'>
    <%= label_tag :speciality, 'Специальность', class: 'control-label col-lg-2' %>
    <div class='col col-lg-10'>
      <%= select_tag 'speciality',
                     options_from_collection_for_select(Speciality.all, :id, :full_name),
                     prompt: 'все специальности', class: 'ajax-speciality' %>
    </div>
  </div>

  <div class='row'>
    <%= label_tag :progress_group_id, 'Группа', class: 'control-label col-lg-2' %>
    <div class='col col-lg-10'>
      <%= select_tag :progress_group_id, content_tag(:option,'все группы', value: '') +options_from_collection_for_select(Group.all, :id, :name), { class: 'ajax-group_id', required: 'required'} %>
    </div>
  </div>

  <div class='row'>
    <div class='col col-lg-10 col-offset-2'>
      <%= submit_tag 'Посмотреть рейтинги группы',class: 'btn btn-default view-group-progress' %>
    </div>
  </div>

</form>