<form class='form-horizontal' action='' method='post' id='formmychoiceselectgroup'>

  <div class='row'>
    <%= label_tag :faculty, 'Факультет', class: 'control-label col-lg-2' %>
    <div class='col col-lg-10'>
      <%= hidden_field_tag :faculty %>
      <%= pill_tabs('faculty', Department.faculties.collect {|f| [f.id, f.abbreviation ]}, 'faculty', class: 'ajax-faculty') %>
    </div>
  </div>

  <div class='row'>
    <%= label_tag :course, 'Курс', class: 'control-label col-lg-2' %>
    <div class='col col-lg-10'>
      <%= hidden_field_tag 'course_study' %>
      <%= pill_tabs('course', [1,2,3,4,5,6], 'course_study', class: 'ajax-course') %>
    </div>
  </div>

  <div class='row'>
    <%= label_tag :form, 'Форма обучения', class: 'control-label col-lg-2' %>
    <div class='col col-lg-10'>
      <%= hidden_field_tag :form %>
      <%= pill_tabs('form', [['101', 'очная'], ['102', 'очно-заочная'], ['103', 'заочная'],
                             ['105', 'дистанционная']], 'form', class: 'ajax-form') %>
    </div>
  </div>

  <div class='row'>
    <%= label_tag :speciality, 'Специальность', class: 'control-label col-lg-2' %>
    <div class='col col-lg-10'>
      <%= select_tag 'speciality',
                     options_from_collection_for_select(Speciality.all, :id, :full_name),
                     prompt: 'все специальности', class: 'ajax-speciality form-control' %>
    </div>
  </div>

  <div class='row'>
    <%= label_tag :progress_group_id, 'Группа', class: 'control-label col-lg-2' %>
    <div class='col col-lg-10'>
      <%= select_tag :progress_group_id, content_tag(:option,'все группы', value: '') +options_from_collection_for_select(Group.all, :id, :name), { class: 'ajax-group_id form-control', required: 'required'} %>
    </div>
  </div>

  <div class='row'>
    <div class='col col-lg-10 col-offset-2'>
      <%= submit_tag 'Посмотреть рейтинги группы',class: 'btn btn-default view-group-progress' %>
    </div>
  </div>

</form>