<td><%= contract.number %></td>
<td><%= contract.entrant.full_name %></td>
<td><%= contract.application.number %></td>
<td><%= contract.paid? ? '<span class="success">оплачен</span>'.html_safe : '<span class="danger">неоплачен</span>'.html_safe %></td>
<td><%= contract.status_name %></td>
<td><%= contract.bilateral? ? '2' : '3' %></td>
<td>
    <% if contract.transfer? %>
      <%= form_for contract, url: entrance_campaign_contract_path(@campaign, contract), remote: true do |f| %>
        <%= f.hidden_field :status, value: :sok %>
        <button type="submit" class="btn btn-success pull-right" title="Принять по акту передачи">
            <span class="glyphicon glyphicon-save-file"></span>
        </button>
      <% end %>
    <% end %>
</td>

