<td><%= contract.number %></td>
<td>
  <%= contract.entrant.full_name %>
  <% if can? :manage, Entrance::Application %>
    <br>
    <%= link_to entrance_campaign_entrant_applications_path(@campaign, contract.entrant) do %>
      <%= contract.entrant.applications.without_called_back.count %>
      <%= Russian::p(contract.entrant.applications.without_called_back.count,
                     'заявление',
                     'заявления',
                     'заявлений') %>
    <% end %>
  <% end %>
</td>
<td><%= contract.application.number %></td>

<% if 8 == contract.application.status_id %>
  <th>
    от <%= l(contract.application.order.signing_date.to_date) %>
    № <%= contract.application.order.number %>
  </th>
<% else %>
  <td>не зачислен</td>
<% end %>

<td><%= contract.paid? ? '<span class="success">оплачен</span>'.html_safe : '<span class="danger">не оплачен</span>'.html_safe %>
<br>
<p>Всего: <%= contract.student.total_payments %> руб.</p>
</td>
<td><%= contract.status_name %></td>
<td>
    <% if contract.priem? %>
      <%= form_for contract, url: entrance_campaign_contract_path(@campaign, contract),
                   remote: true, html: { class: 'form-inline' } do |f| %>
        <div class="form-group">
            <%= f.text_field :count, value: (contract.count? ? contract.count : (contract.bilateral? ? 2 : 3)),
                             class: 'form-control',
                             style: 'width: 80px;' %>
        </div>

        <%= f.button type: :submit, class: 'btn btn-default',
                     title: 'Сохранить' do %>
          <span class="glyphicon glyphicon-floppy-disk"></span>
        <% end %>
      <% end %>
    <% else %>
      <%= contract.count? ? contract.count : (contract.bilateral? ? 2 : 3) %>
    <% end %>
</td>
<td>
  <% if contract.priem? %>
    <%= form_for contract, url: entrance_campaign_contract_path(@campaign, contract), remote: true do |f| %>
      <%= f.hidden_field :status, value: :transfer %>
      <button type="submit" class="btn btn-success pull-right" title="Добавить в акт передачи">
          <span class="glyphicon glyphicon-plus"></span>
      </button>
    <% end %>
  <% end %>
  <% if contract.transfer? %>
    <%= form_for contract, url: entrance_campaign_contract_path(@campaign, contract), remote: true do |f| %>
      <%= f.hidden_field :status, value: :priem %>
      <button type="submit" class="btn btn-default pull-right" title="Удалить из акта передачи">
          <span class="glyphicon glyphicon-minus"></span>
      </button>
    <% end %>
  <% end %>
</td>

