<%= render 'entrance/shared/switch' %>

<div class="page-header">
    <h1>
        Передача договоров
        <small><%= @campaign.name %></small>
    </h1>
</div>

<%= form_tag nil, method: :get do %>
  <div class="row">
    <div class="col-sm-12">
      <%= select_tag :competitive_group,
                     options_from_collection_for_select(
                       @campaign.competitive_groups,
                       :id, :name, params[:competitive_group]
                     ),
                     prompt: 'Все договоры',
                     class: 'form-control',
                     onchange: %q($(this).parents('form').submit();) %>
    </div>
  </div>

  <% if !params[:competitive_group] || params[:competitive_group] == '' %>
  <div class="row">
    <div class="col-sm-offset-4">
      <%= link_to document_entrance_campaign_contracts_path(@campaign), class: 'btn btn-lg btn-primary',
                  target: :blank do %>
        <span class='glyphicon glyphicon-print'></span> Акт передачи
      <% end %>
    </div>
  </div>
  <% end %>

<% end %>

<% if @contracts.empty? %>
  <p>Нет ни одного договора.</p>
<% else %>
  <table class="table table-striped">
      <thead>
      <tr>
          <th>Номер договора</th>
          <th>Фамилия, имя, отчество</th>
          <th>Номер личного дела</th>
          <th>Статус оплаты</th>
          <th>Статус хранения</th>
          <th>Количество экземпляров</th>
          <th></th>
      </tr>
      </thead>
      <% @contracts.each do |contract| %>
        <tr id="transfer_contract_<%= contract.id %>">
          <%= render partial: 'transfer_row', locals: { contract: contract } %>
        </tr>
      <% end %>
  </table>
<% end %>
