<div class="page-header">
  <h1>Телефонный справочник</h1>
  <h3><%= @department.name %></h3>
  <h4>Cотрудники:</h4>
</div>

<table class="table table-hover">
  <thead>
  <tr>
    <td class="text-muted">#</td>
    <td>ФИО</td>
    <td>Должность</td>
    <td>Телефон</td>
  </tr>
  </thead>
  <tbody>
  <% @positions.each do |position| %>
      <tr>
        <td class="text-muted"><%= position.user.id %></td>
        <td><%= position.user.full_name %></td>
        <td><%= position.role.title %></td>
        <td><%= workphone_present (position) %></td>
        <td><% if can? :manage, @phonebook %>
                <%= link_to edit_user_path(position.user.id), class: 'btn btn-default' do %>
                 <span class="glyphicon glyphicon-edit"></span>
                <% end %>
        <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
<br>
<%= link_to 'назад к структуре', phonebook_index_path %>