<div class="page-header">
<h1>Задания</h1>
<% if params[:name] %>
  <h2 style="height: 10px;"><small class="pull-right"><%= link_to 'Назад ко всем', curator_tasks_path %></small></h2>
<% end %>
</div>

<div class="col-sm-12">
  <%= form_tag nil, method: :get, class: 'form-horizontal filters' do %>
    <div class="form-group">
      <div class="col-sm-5">
        <div class="checkbox">
          <label>
            <%= check_box_tag :draft, '1', '1' == params[:draft], class: 'task_user_check' %> Показать только черновики
          </label>
        </div>
        <div class="checkbox">
          <label>
            <%= check_box_tag :publication, '1', '1' == params[:publication], class: 'task_user_check' %> Показать только активные задания
          </label>
        </div>
      </div>
      <div class="col-sm-4">
        <%= text_field_tag :name, params[:name], class: 'form-control', placeholder: 'Название' %>
      </div>
      <div class="col-sm-2">
        <%= submit_tag 'Поиск', class: 'btn btn-info form-control' %>
      </div>
    </div>
  <% end %>
</div>

<%= link_to new_curator_task_path, class: 'btn btn-primary pull-right' do%>
  <span class='glyphicon glyphicon-plus'></span> Добавить новое задание
<% end %>
<%= link_to analyze_curator_tasks_path, class: 'btn btn-default pull-right', style: 'margin-right: 10px' do%>
  <span class='glyphicon glyphicon-list-alt'></span> Работа кураторов по всем заданиям
<% end %>

<table class="table">
  <thead>
  <tr>
    <th>#</th>
    <th>Задание</th>
    <th>Кураторы</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% if @tasks.empty? %>
    <tr>
      <td colspan="4">
        <p class="lead">Ни одного задания не было найдено, попробуйте изменить параметры поиска.</p>
      </td>
    </tr>
  <% else %>
    <% @tasks.each_with_index do |task, index| %>
      <tr class="<%= task.draft? ? 'active' : (task.closed? ? 'warning' : '') %>">
        <td><%= index + 1 %></td>
        <td style="width: 60%;">
          <h4 style="margin: 0;"><%= task.name %> <small><%= task.type.name %></small></h4>
          <p class="help-block"><%= task.description %></p>
          <p><strong>Форма отчётности:</strong> <%= task.report %></p>
        </td>
        <td>
          <%= User.curators_for_today.collect{|c| c.id}.sort == task.users.collect{|c| c.id}.sort ? 'Задание для всех кураторов' : task.users.collect{|u|  "#{u.short_name} (#{!u.current_groups.empty? ? u.current_groups.collect{|g| g.group.name}.join(', ') : '-'})"}.join(', ') %>
        </td>
        <td>
          <% unless task.draft? %>
            <%= link_to curator_task_path(task), class: 'btn btn-info pull-right', title: 'Подробнее' do %>
              <span class="glyphicon glyphicon-search"></span>
            <% end %>
            <br><br>
          <% end %>
          <%= link_to edit_curator_task_path(task), class: 'btn btn-default pull-right', title: 'Редактировать' do %>
            <span class="glyphicon glyphicon-pencil"></span>
          <% end %>
          <% if task.draft? %>
            <br><br>
            <%= link_to curator_task_path(task), method: :delete, class: 'btn btn-danger pull-right', title: 'Удалить', confirm: 'Вы уверены?' do %>
              <span class="glyphicon glyphicon-remove"></span>
            <% end %>
          <% elsif task.active? %>
            <br><br>
            <%= form_for task, url: curator_task_path(task) do |f| %>
              <%= f.hidden_field :status, value: 3 %>
              <button type="submit" class="btn btn-warning pull-right" title="Закрыть">
                <span class="glyphicon glyphicon-eye-close"></span>
              </button>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>