<div class="row">
  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, class: 'alert alert-info' %>
  <% end %>
  <div class="col-md-4">
    <h2>Вход для преподавателей и&nbsp;сотрудников</h2>
    <%= form_for User.new, as: :user, url: session_path(:user), html: { role: 'form' } do |f| %>
      <div class="form-group">
        <%= f.label :username %>
        <%= f.text_field :username, autofocus: true, placeholder: 'Имя пользователя', class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, placeholder: 'Пароль', class: 'form-control' %>
        <p class="help-block">
          — Где я могу получить учётную запись?
          <br>
          — Обратитесь в Отдел информационных систем. Главный корпус, кабинет 1320.
        </p>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="checkbox">
          <label>
            <%= f.check_box :remember_me %> Запомнить меня на этом компьютере
          </label>
        </div>
      <% end %>

      <%= f.submit 'Вход', class: 'btn btn-default' %>
    <% end %>
  </div>

  <div class="col-md-4">
    <h1>Успеваемость</h1>
    <p class="lead text-justify">
      В МГУП им. Ивана Федорова внедряется балльно-рейтинговая
      система оценки знаний студентов (БРС). Каждый может ознакомиться
      с&nbsp;успеваемостью студентов, которые уже&nbsp;учатся с БРС.
    </p>
    <%= link_to study_groups_path, class: 'btn btn-success btn-lg' do %>
      <span class="glyphicon glyphicon-search"></span> Посмотреть успеваемость
    <% end %>
    <hr>
    <h2>Заявления на материальную помощь</h2>
    <%= link_to supports_students_path, class: 'btn btn-info btn-lg col-md-offset-3' do %>
      <span class="glyphicon glyphicon-file"></span> Оставить
    <% end %>
    <hr>
    <h2>Актуальные мероприятия</h2>
    <p class="lead text-justify">

    </p>
    <%= link_to actual_events_path, class: 'btn btn-default btn-lg col-md-offset-3' do %>
      <span class="glyphicon glyphicon-eye-open"></span> Посмотреть
    <% end %>
  </div>

  <div class="col-md-4">
    <h2>Вход для студентов</h2>
    <%= image_tag 'keep-calm-and-wait.png', class: 'img-responsive', style: 'opacity: 0.3;' %>
  </div>
</div>

<div class="row student-sign-in-row">
  <div class="col-md-4 col-md-offset-8 panel panel-default student-sign-in">
    <div class="panel-body">
      <h2>Вход для студентов</h2>
      <%= form_for Student.new, as: :student, url: session_path(:student), html: { role: 'form' } do |f| %>
        <div class="form-group">
          <%= f.text_field :id, autofocus: true, placeholder: 'Личный номер студента', class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.password_field :password, placeholder: 'Пароль', class: 'form-control' %>
          <p class="help-block">
            — Как я могу получить пароль?
            <br>
            — Обратитесь в дирекцию своего института.
          </p>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="checkbox">
            <label>
              <%= f.check_box :remember_me %> Запомнить меня на этом компьютере
            </label>
          </div>
        <% end %>

        <%= f.submit 'Вход для студента', class: 'btn btn-default' %>
      <% end %>
    </div>
  </div>
</div>
