<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <% if flash.key? :alert %>
    <div class="alert alert-danger">
      <%= flash[:alert] %>
    </div>
  <% end %>

  <% if resource.is_a?(Student) %>
    <%= f.text_field :id, autofocus: true, placeholder: 'Личный номер студента', class: 'form-control' %>
  <% else %>
    <%= f.text_field :username, autofocus: true, placeholder: 'Имя пользователя', class: 'form-control' %>
  <% end %>
  <br>
  <%= f.password_field :password, placeholder: 'Пароль', class: 'form-control' %>

  <% if devise_mapping.rememberable? -%>
    <div class="checkbox">
      <%= f.check_box :remember_me %> <%= f.label :remember_me, 'Запомнить меня' %>
    </div>
  <% end -%>

  <%= f.submit 'Вход', class: 'btn btn-primary' %>

  <% if devise_mapping.recoverable? && controller_name != 'passwords' %>
    <%= link_to 'Забыли пароль?', new_password_path(resource_name), class: 'action pull-right' %><br />
  <% end %>

<% end %>
<br><br>
<p>
  — Где я могу получить учётную запись?
  <br>
  — Обратитесь в Отдел информационных систем. Главный корпус, кабинет 1320.
</p>
