<%= f.fields_for :final_exam do |exam| %>
  <%= exam.hidden_field :id %>

  <div class="form-group <%= 'has-error' if @discipline.errors.include?(:'final_exam.type') %>">
    <%= exam.label :exam_type, 'Форма испытания',class: 'control-label col-sm-3' %>
    <div class="col-sm-9">
      <%= exam.select :exam_type, options_for_select([['экзамен', 1], ['зачёт', 0], ['дифференцированный зачёт', 9]], exam.object.exam_type), { prompt: 'выберите форму итогового контроля' }, { class: 'form-control' } %>
    </div>
  </div>

  <% if @discipline.errors.include?(:'final_exam.weight') %>
    <div class="col-sm-9 col-sm-offset-3 alert alert-danger">Вес экзамена должен быть в пределах от <strong>20</strong> до <strong>80</strong>.</div>
  <% end %>
  <div class="form-group <%= 'has-error' if @discipline.errors.include?(:'final_exam.weight') %>">
    <%= exam.label :exam_weight, 'Вес экзамена',class: 'control-label col-sm-3' %>
    <div class="col-sm-9">
      <%= exam.number_field :exam_weight, class: 'form-control' %>
      <span class="help-block">Рекомендуемое значение — 50%.</span>
    </div>
  </div>

<% end %>