<%= nested_form_for @discipline, html: { class: 'form-horizontal', role: 'form' } do |f|%>
  <div class="form-group <%= 'has-error' if @discipline.errors.include?(:year) %>">
    <%= f.label :subject_year, class: 'control-label col-sm-3' %>
    <div class="col-sm-9">
      <%= f.select :subject_year, options_for_select([["#{Study::Discipline::CURRENT_STUDY_YEAR}/#{Study::Discipline::CURRENT_STUDY_YEAR+1}", Study::Discipline::CURRENT_STUDY_YEAR],
                                                      ['2013/2014', 2013],
                                                      ['2012/2013', 2012]], f.object.subject_year), {}, { class: 'form-control' } %>
    </div>
  </div>

  <div class="form-group <%= 'has-error' if @discipline.errors.include?(:semester) %>">
    <%= f.label :subject_semester, class: 'control-label col-sm-3' %>
    <div class="col-sm-9">
      <%= f.select :subject_semester, [['осенний', 1], ['весенний', 2]], {}, { class: 'form-control' } %>
    </div>
  </div>

  <%= f.hidden_field :subject_brs, value: '1' %>

  <div class="form-group">
    <%= label_tag 'faculty', 'Институт', class: 'control-label col-sm-3' %>
    <div class="col-sm-9">
      <%= select_tag 'faculty',
                     options_from_collection_for_select(Department.faculties,
                                                        :id, :abbreviation, (@faculty.id if @faculty)),
                     class: 'form-control ajax-faculty' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag 'speciality', 'Направление', class: 'control-label col-sm-3' %>
    <div class="col-sm-9">
      <% if @faculty %>
        <%= select_tag 'speciality', options_for_select(@faculty.specialities.map { |s| ["#{s.code} #{s.name}", s.id] }, @speciality.id), class: 'form-control ajax-speciality' %>
      <% else %>
        <%= select_tag 'speciality', nil, class: 'form-control ajax-speciality' %>
      <% end %>
    </div>
  </div>

  <div class="form-group <%= 'has-error' if @discipline.errors.include?(:group) %>">
    <%= f.label :subject_group, 'Группа', class: 'control-label col-sm-3' %>
    <div class='col-sm-9'>
      <% if @speciality %>
        <%= f.select :subject_group, options_from_collection_for_select(@speciality.groups, :id, :name, @discipline.group.id), {}, { class: 'form-control ajax-group' } %>
      <% else %>
        <%= f.select :subject_group, [], {}, { class: 'form-control ajax-group' } %>
      <% end %>
    </div>
  </div>

  <div class="form-group <%= 'has-error' if @discipline.errors.include?(:name) %>">
    <%= f.label :subject_name, class: 'control-label col-sm-3' %>
    <div class="col-sm-9">
      <%= f.text_field :subject_name, placeholder: 'например, "Компьютерная обработка изображений"', class: 'form-control' %>
      <span class="help-block">
        Пожалуйста, используйте полное название дисциплины из учебного плана.
        Не допускайте сокращений.
      </span>
    </div>
  </div>

  <%= render partial: 'final_exam_fields', locals: {f: f} %>

  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
      <div class="checkbox">
        <label>
          <%= hidden_field_tag :has_semester_work %>
          <%= check_box_tag :has_semester_work, 1, @discipline.has?('work') %> Присутствует курсовая работа
        </label>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
      <div class="checkbox">
        <label>
          <%= hidden_field_tag :has_semester_project %>
          <%= check_box_tag :has_semester_project, 1, @discipline.has?('project') %> Присутствует курсовой проект
        </label>
      </div>
    </div>
  </div>

  <div class="form-group <%= 'has-error' if @discipline.errors.include?(:lead_teacher) %>">
    <%= f.label :subject_teacher, 'Ведущий преподаватель',class: 'control-label col-sm-3' %>
    <div class="col-sm-9">
      <%= f.select :subject_teacher,
        options_from_collection_for_select(@teachers, :id, :full_name, @lead_teacher.id), {}, { class: 'form-control' } %>
      <span class="help-block">
        Под ведущим преподавателем понимается тот, который будет принимать
        в конце семестра у студентов зачёт/экзамен и, соответственно,
        расписываться в зачётной/экзаменационной ведомости.
      </span>
    </div>
  </div>

  <%= render partial: 'discipline_teachers_fields', locals: {f: f} %>
  <div class="form-group">
    <%= f.link_to_add 'Указать дополнительного преподавателя', :discipline_teachers,
                                          class: 'btn btn-default col-lg-offset-4' %>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
      <%= f.submit 'Сохранить дисциплину', class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>