<% content_for :modal_title do %>
  <%= discipline.name %>
  <br>
  <small><%= discipline.group.name %></small>
<% end %>

<% content_for :modal_save do %>
  <%= button_tag 'Сохранить', class: 'btn btn-primary',
                 onclick: %Q($('##{dom_id(discipline, 'edit')}').submit();) %>
<% end %>

<%= nested_form_for discipline, remote: true,
                    html: { id: dom_id(discipline, 'edit'),
                            class: 'form-horizontal' } do |f| %>
  <%= hidden_field_tag :partial, 'study/plans/discipline' %>

  <%= f.hidden_field :subject_group %>
  <%= f.hidden_field :subject_year %>
  <%= f.hidden_field :subject_semester %>

  <div class="form-group">
    <%= f.label :subject_name, class: 'col-sm-3 control-label' %>
    <div class="col-sm-9">
      <%= f.text_field :subject_name, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :department_id, class: 'col-sm-3 control-label' %>
    <div class="col-sm-9">
      <%= f.select :department_id, options_from_collection_for_select(
          Department.academic, :id, :name, discipline.department.present? ? discipline.department_id : (discipline.lead_teacher.departments.academic.first.id if discipline.lead_teacher)),
                   {}, class: 'ajax-subdepartment form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :subject_teacher, 'Преподаватель', class: 'col-sm-3 control-label' %>
    <div class="col-sm-9">
      <%= f.select :subject_teacher,
                   discipline.department.present? ?
                       options_from_collection_for_select(
                               User.teachers.from_subdepartment(discipline.department_id.to_s), :id, :full_name,
                               discipline.subject_teacher
                       ) :
                       options_from_collection_for_select(
                           User.teachers, :id, :full_name, discipline.subject_teacher
                       ),
                   {}, class: 'form-control ajax-teacher' %>
    </div>
  </div>

  <%= f.fields_for :final_exam do |exam| %>
    <%= exam.hidden_field :id %>

    <div class="form-group">
      <%= exam.label :exam_type, 'Итог. контроль', class: 'control-label col-sm-3' %>
      <div class="col-sm-9">
        <%= exam.select :exam_type,
                        options_for_select(
                            Study::Exam::EXAMS_TYPES, selected: exam.object.exam_type
                        ),
                        { },
                        { class: 'form-control' } %>
      </div>
    </div>
  <% end %>

  <%= f.fields_for :additional_exams do |exams| %>
    <%= exams.hidden_field :id %>

    <div class="form-group">
      <%= exams.label :exam_type, 'Дополнительно',
                      class: 'col-sm-3 control-label' %>
      <div class="col-sm-7">
        <%= exams.select :exam_type,
                         options_for_select(
                             Study::Exam::ADDITIONAL_EXAMS_TYPES,
                             exams.object.exam_type
                         ), {}, { class: 'form-control' } %>
      </div>
      <div class="col-sm-2">
        <%= exams.link_to_remove class: 'btn btn-danger', title: 'Удалить' do %>
          <span class="glyphicon glyphicon-remove"></span>
        <% end %>
      </div>
    </div>
  <% end %>

  <%= f.link_to_add 'Добавить дополнительную форму контроля', :additional_exams,
                    style: 'margin-left: 240px;' %>
<% end %>