<% students.sort_by{|s| s[:ball]}.reverse.each do |student| %>
  <tr>
    <td><%= student[:student].id %></td>
    <td><%= student[:student].person.full_name %></td>
    <td><%= student[:ball] %></td>
    <td>
      <div style='width: 100px;' class="progress progress-striped">
        <div class="progress-bar progress-bar-stripped" style="width: <%= student[:progress]%>%"></div>
      </div>
    </td>
    <td><%= student[:student].marks == [] ? 'недостаточно данных' : student[:student].result(discipline)[:mark] %></td>
    <td>
      <div style='width: 100px;' class="progress progress-striped">
        <div class="progress-bar progress-bar-<%= student[:student].result(discipline)[:color] %>" style="width: <%= student[:progress]%>%"></div>
      </div>
    </td>
    <td><a class='btn btn-default' href="<%= study_group_student_path(group.id, student[:student].id) %>" title='Подробнее'><span class='glyphicon glyphicon-search'></span></a></td>
  </tr>
<% end %>