<div class="page-header">
  <h1>Успеваемость <small><%= @group.name %></small></h1>
</div>
<%= hidden_field_tag :progress_group, @group.id %>
<%= select_tag :disciplines_for_group, options_from_collection_for_select(@disciplines, :id, :name),
                   prompt: 'суммарно по всем дисциплинам', class: 'form-control' %>

<br>
<%= link_to study_group_print_progress_path, id: 'printProgress', class: 'btn btn-info' do %>
  <span class="glyphicon glyphicon-print"></span> Распечатать успеваемость
<% end %>
<br>


<table class="table table-hover">
  <thead>
  <tr>
    <th class="text-muted">#</th>
    <th>Студент</th>
    <th colspan='2'>Набранный балл на <%= DateTime.now.strftime("%d.%m.%Y") %> </th>
    <th colspan='2'>Средняя оценка на <%= DateTime.now.strftime("%d.%m.%Y") %></th>
    <th></th>
  </tr>
  </thead>
  <tbody id="for_student_progress">
  </tbody>
</table>