<div class="page-header">
  <h1>Закупки МГУП</h1>
</div>

<div class="row">
  <div class="col col-lg-10">
    <%= link_to 'Новая заявка', new_purchase_purchase_path, class: 'btn btn-success' %>
    <%= link_to 'Новый контракт', new_purchase_contract_path, class: 'btn btn-success' %>
  </div>
</div>
<div class="row">
  <div class="col col-lg-10">
    <%= link_to 'Заявки', purchase_purchases_path, class: 'btn btn-primary' %>
    <%= link_to 'Поставщики', purchase_suppliers_path, class: 'btn btn-primary' %>
    <%= link_to 'Товары', purchase_goods_path, class: 'btn btn-primary' %>
    <%= link_to 'Контракты', purchase_contracts_path, class: 'btn btn-primary' %>
  </div>
</div>
<div class="row">
  <div class="col col-lg-10">
    <p class="text-info"><%= notice %></p>
  </div>
</div>