<td class="text-muted"><%= i %></td>
<td class="text-muted"><%= a.id %></td>
<td class="nowrap"><%= a.number %></td>
<td><%= l a.created_at.to_date %></td>
<td>
  <%= content_tag (a.packed? ? :strong : :span), a.entrant.full_name %>
</td>
<td>
  <%= a.total_score %>
</td>
<td>
  <span class="glyphicons <%= a.original? ? 'plus text-success' : 'minus text-muted' %>"></span>
</td>
<td><%= a.entrance_type(false) %></td>

<td>
  <%= render partial: 'entrance/entrants/check_use',
             locals: { entrant: a.entrant } %>
</td>

<td>
  <div id="contract_for_<%= a.id %>">
  <% if a.payed? %>
    <%= render partial: 'entrance/contracts/contract_button', locals: {a: a} %>
  <% end %>
  </div>
</td>