<div class="page-header">
  <h1>
    Пофамильный список лиц, подавших документы, необходимые для поступления
  </h1>
</div>

<%= render partial: 'filters',
           locals: { url: applications_entrance_campaign_path(@campaign) } %>

<% if @applications.empty? %>
  <p>Нет ни одного заявления.</p>
<% else %>
  <%= link_to 'Распечатать',
              applications_entrance_campaign_path(
                @campaign, params.merge({ format: :pdf })
              ),
              target: :blank, class: 'lead' %>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>№</th>
        <th>Регистрационный номер</th>
        <th>Фамилия, имя, отчество</th>
        <th>Основание приёма</th>
      </tr>
    </thead>
    <% @applications.each_with_index do |application, i| %>
      <tr>
        <td><%= i + 1 %></td>
        <td><%= application.number %></td>
        <td><%= application.entrant.full_name %></td>
        <td><%= application.entrance_type %></td>
      </tr>
    <% end %>
  </table>
<% end %>
