<%= render 'entrance/shared/switch' %>

<div class="page-header">
  <h2>Результаты внутренних вступительных испытаний</h2>

<% if [66,75,76,77,79,80,95].include?(@exam.id) %>
   <h3> (включая резервные дни) </h3>
<% end %>
<% if [64,62].include?(@exam.id) %>
   <h3> (включая результаты апелляции) </h3>
<% end %>
</div>

<%= select_tag :list_of_exams, options_from_collection_for_select(@campaign.exams, :id, :name, selected: @exam.id),
               class: 'form-control', data: {value: @campaign.id},
               onchange: %q(document.location = '/entrance/campaigns/' + $(this).data('value') + '/balls?exam=' + $(this).val();)%>
<br>

<% if [61,57,58].include?(@exam.id) %>
  <p>
    К прохождению дальнейших вступительных испытаний (к участию в конкурсе) допускаются поступающие,
    набравшие 40 и более баллов по дополнительным вступительным испытаниям.
  </p>
  <br>
<% end %>

<% if [59,126].include?(@exam.id) %>
  <p>
    Поступающие, набравшие более 40 баллов, приглашаются в приемную комиссию для заключения
    договоров и зачисления на места по договорам об образовании.
  </p>
<% end %>

<% if [64].include?(@exam.id) %>
    <p>
  К участию в конкурсе на бюджетные места допускаются все поступающие, набравшие 40 и более баллов.
  К зачислению на места по договорам об образовании допускаются все поступающие, набравшие 40 и более баллов.
  Заключение договоров и зачисление на места по договорам об образовании производится в период с 21.07.2015 по 31.08.2015 по графику работы приемной комиссии.
    </p>
<% end %>

<% if [62].include?(@exam.id) %>
    <p>
  К зачислению на места по договорам об образовании допускаются все поступающие, набравшие 40 и более баллов.
  Заключение договоров и зачисление на места по договорам об образовании производится в период с 21.07.2015 по 31.08.2015 по графику работы приемной комиссии.
    </p>
<% end %>
<% if @exam.visible %>
    <table class="table">
        <% @entrants.each do |entrant| %>
            <% result = entrant.exam_results.internal.by_exam(@exam.id).last.score %>
            <% if result %>
            <tr>
                <td class="text-muted"><%= entrant.id %></td>
                <td><%= entrant.full_name %></td>
                <td><%= result %></td>
            </tr>
            <% else %>
                <% next %>
            <% end %>
        <% end %>
    </table>
<% end %>
