<div class="row">
  <div class="col-sm-12">
    <%= hidden_field_tag :campaign, url_for(params), class: 'hidden-pill-values', onchange: 'document.location = $(this).val();' %>
    <%= pill_tabs('campaign', [
      [rating_entrance_campaign_path(Entrance::Campaign::CURRENT, 
        direction: params[:direction], utf8: '✓',
        form: params[:form], payment: params[:payment]),
       Entrance::Campaign.find(Entrance::Campaign::CURRENT).name], 
      [crimea_rating_entrance_campaign_path(Entrance::Campaign::CRIMEA, 
        direction: params[:direction], utf8: '✓',
        form: params[:form], payment: params[:payment]),
        Entrance::Campaign.find(Entrance::Campaign::CRIMEA).name]
    ], 'campaign', class:  'super-tabs') %>
  </div>
</div>
<br>
<div class="page-header">
  <h1>Рейтинги и приказы о зачислении: Крым и Севастополь</h1>
</div>
  
<%= render partial: 'filters',
             locals: { url: crimea_rating_entrance_campaign_path(@campaign) } %>
  
<% if @applications.take %> 
  <table class="table table-condensed">
    <thead>
      <tr>
        <th class="text-muted">#</th>
        <th>Номер</th>
        <th>ФИО</th>
        <th>Баллы</th>
        <th>Статус</th>
     </tr>
    </thead>
    <% entrance_index = 0 %>
    <% students = @applications.with_order.length %>
    <% @applications.each_with_index do |application, index| %>
    <% recomendation = (0 != application.pass_min_score && index > @number-1) %>
      <% if recomendation %>
        <% entrance_index += 1 %>
      <% end %>
      <tr style="<%= (application.enrolled? || (entrance_index <= @number-students && recomendation) ? 'font-weight: bold; background-color: #dff0d8;' : '') %>">
       <td class="text-muted"><%= index+1 %></td>
       <td class="nowrap"><%= application.number %></td>
       <td><%= application.entrant.full_name %></td>
       <td><%= application.total_score %></td>
       <td>
        <% if application.enrolled? %>
          зачислен, приказ № <%= application.entrant.student.entrance_order.number%>
        <% elsif (0 != application.pass_min_score) && (index <= @number-1) %>
          не зачислен
        <% elsif entrance_index <= @number-students && recomendation %>
          рекомендован к зачислению
        <% else %>
          <span class="glyphicons minus text-<%= 0 == application.pass_min_score ? 'danger' : 'muted' %>"></span>
        <% end %>
       </td> 
      </tr>
    <% end %>
  </table>     
<% else %>
  <p class="lead">По данному конкурсу не было найдено ни одного заявления</p>
<% end %>