<%= render 'entrance/shared/switch' %>


<div class="page-header">
  <h1>Заявления</h1>
</div>

<%= render partial: 'filters',
           locals: { url: dashboard_entrance_campaign_path(@campaign) } %>

<%#= paginate @applications %>

<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th class="text-muted">№ п/п</th>
      <th class="text-muted">#</th>
      <th>Номер</th>
      <th>Дата</th>
      <th>ФИО</th>
      <th>Баллы</th>
      <th>
        <abbr title="Оригинал документа об образовании">О</abbr>
      </th>
      <th></th>
      <th>ЕГЭ</th>
      <th>
        <span class="glyphicons usd"></span>
      </th>
    </tr>
  </thead>
  <% if @a_out_of_competition.any? %>
    <tr>
        <td colspan="10">Список поступающих без вступительных испытаний</td>
    </tr>
    <% @a_out_of_competition.each_with_index do |application, index| %>
      <tr style="<%= 'text-decoration: line-through;' if !application.out_of_competition && 0 == application.pass_min_score %>"
          class="<%= 'text-muted' if 0 == application.pass_min_score %>">
          <%= render partial: 'application_row', locals: { a: application, i: index+1 } %>
      </tr>
    <% end %>
  <% end %>

  <% if @a_out_of_competition.any? %>
    <tr>
        <td colspan="10">Список поступающих без вступительных испытаний</td>
    </tr>
    <% @a_out_of_competition.each_with_index do |application, index| %>
      <tr style="<%= 'text-decoration: line-through;' if !application.out_of_competition && 0 == application.pass_min_score %>"
          class="<%= 'text-muted' if 0 == application.pass_min_score %>">
          <%= render partial: 'application_row', locals: { a: application, i: index+1 } %>
      </tr>
    <% end %>
  <% end %>
    <% @applications.each_with_index do |application, index| %>
    <tr style="<%= 'text-decoration: line-through;' if !application.out_of_competition && 0 == application.pass_min_score %>"
        class="<%= 'text-muted' if 0 == application.pass_min_score %>">
      <%= render partial: 'application_row', locals: { a: application, i: index+1 } %>
    </tr>
  <% end %>
</table>

<%#= paginate @applications %>