<div class="row">
  <div class="col-sm-12">
    <%= hidden_field_tag :campaign, url_for(params), class: 'hidden-pill-values-no-change', onchange: 'document.location = $(this).val();' %>

    <% if signed_in? %>
      <%= pill_tabs('campaign', [
        [rating_entrance_campaign_path(Entrance::Campaign::CURRENT,
          competitive_group: params[:competitive_group], direction: params[:direction], utf8: '✓',
          form: params[:form], payment: params[:payment]),
         Entrance::Campaign.find(Entrance::Campaign::CURRENT).name],
       [rating_entrance_campaign_path(Entrance::Campaign::ZAOCHKA,
               competitive_group: params[:competitive_group], direction: params[:direction], utf8: '✓',
               form: params[:form], payment: params[:payment]),
              Entrance::Campaign.find(Entrance::Campaign::ZAOCHKA).name],
        [rating_entrance_campaign_path(Entrance::Campaign::ASPIRANT,
               competitive_group: params[:competitive_group], direction: params[:direction], utf8: '✓',
               form: params[:form], payment: params[:payment]),
         Entrance::Campaign.find(Entrance::Campaign::ASPIRANT).name],
        [rating_entrance_campaign_path(Entrance::Campaign::CRIMEA,
          competitive_group: params[:competitive_group], direction: params[:direction], utf8: '✓',
          form: params[:form], payment: params[:payment]),
          Entrance::Campaign.find(Entrance::Campaign::CRIMEA).name],
        [rating_entrance_campaign_path(52015,
          competitive_group: params[:competitive_group], direction: params[:direction], utf8: '✓',
          form: params[:form], payment: params[:payment]),
          Entrance::Campaign.find(52015).name]
      ], 'campaign', class:  'super-tabs') %>
    <% else %>
      <%= pill_tabs('campaign', [
        [rating_entrance_campaign_path(Entrance::Campaign::CURRENT,
                                       competitive_group: params[:competitive_group], direction: params[:direction], utf8: '✓',
                                       form: params[:form], payment: params[:payment]),
         Entrance::Campaign.find(Entrance::Campaign::CURRENT).name],
        [rating_entrance_campaign_path(Entrance::Campaign::ZAOCHKA,
                                       competitive_group: params[:competitive_group], direction: params[:direction], utf8: '✓',
                                       form: params[:form], payment: params[:payment]),
         Entrance::Campaign.find(Entrance::Campaign::ZAOCHKA).name],
        [rating_entrance_campaign_path(Entrance::Campaign::ASPIRANT,
                                       competitive_group: params[:competitive_group], direction: params[:direction], utf8: '✓',
                                       form: params[:form], payment: params[:payment]),
         Entrance::Campaign.find(Entrance::Campaign::ASPIRANT).name],
        [rating_entrance_campaign_path(Entrance::Campaign::CRIMEA,
          competitive_group: params[:competitive_group], direction: params[:direction], utf8: '✓',
          form: params[:form], payment: params[:payment]),
          Entrance::Campaign.find(Entrance::Campaign::CRIMEA).name],
        [rating_entrance_campaign_path(52015,
          competitive_group: params[:competitive_group], direction: params[:direction], utf8: '✓',
          form: params[:form], payment: params[:payment]),
          Entrance::Campaign.find(52015).name]
      ], 'campaign', class:  'super-tabs') %>
    <% end %>
  </div>
</div>
<br>

<div class="page-header">
    <h1>Рейтинги и приказы о зачислении</h1>
</div>

<%= form_tag rating_entrance_campaign_path(@campaign), method: :get do %>
  <div class="row">
    <div class="col-sm-8">
      <%= select_tag :competitive_group,
                     options_from_collection_for_select(
                       @campaign.competitive_groups,
                       :id, :name, params[:competitive_group]
                     ),
                     prompt: 'Все конкурсные группы',
                     class: 'form-control',
                     onchange: %q($(this).parents('form').submit();) %>
      <%#= select_tag :direction,
                     options_from_collection_for_select(
                       Direction.for_campaign(@campaign),
                       :id, :description, params[:direction]
                     ),
                     prompt: 'Все направления',
                     class: 'form-control',
                     onchange: %q($(this).parents('form').submit();) %>
    </div>
    <div class="col-sm-2">
      <%= select_tag :form,
                     options_for_select(
                       [['очная', 11], ['очно-заочная', 12], ['заочная', 10]],
                       params[:form]
                     ),
                     class: 'form-control',
                     onchange: %q($(this).parents('form').submit();) %>
    </div>
    <div class="col-sm-2">
      <%= select_tag :payment,
                     options_for_select(
                       [['бюджет', 14], ['платное', 15]],
                       params[:payment]
                     ), class: 'form-control',
                     onchange: %q($(this).parents('form').submit();) %>
    </div>
  </div>
<% end %>

<% if @applications && @applications.any? %>
  <% @competitive_group.items.each do |item| %>
    <%
       a_out_of_competition = []
       a_special_rights = []
       a_organization = []
       a_contest_enrolled = []
       a_contest = []
       @applications.each do |a|
         if a.out_of_competition
           a_out_of_competition << a
         else
           if 0 != a.pass_min_score
             if a.special_rights
               a_special_rights << a
             elsif a.competitive_group_target_item
               a_organization << a
             else
               if a.order && a.order.signed?
                 a_contest_enrolled << a
               else
                 a_contest << a
               end
             end
           end
         end
       end

       field_payment = 15 == params[:payment].to_i ? 'paid' : 'budget'
       field_form = case params[:form].to_i
                      when 11 then 'o'
                      when 12 then 'oz'
                      when 10 then 'z'
                    end

       total_places = item.send("number_#{field_payment}_#{field_form}")

       target_places = 0
       if 'budget' == field_payment
         total_places += item.send("number_quota_#{field_form}")
         item.competitive_group.target_organizations.each do |org|
           org.items.where(direction_id: item.direction_id, education_level_id: item.education_type_id).each do |i|
             total_places += i.send("number_target_#{field_form}")
             target_places += i.send("number_target_#{field_form}")
           end
         end
       end

       remaining_places = total_places
    %>

    <% if a_out_of_competition.any? %>
      <h2>Без вступительных испытаний</h2>
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th></th>
            <th>Рег. номер</th>
            <th>Поступающий</th>
            <th>Основание</th>
            <!--<th>Приказ о зачислении</th>-->
            <% if can?(:manage, Entrance::Application) %>
              <th></th>
              <th>Сумма баллов</th>
              <th>Оригинал</th>
            <% end %>
            <th></th>
          </tr>
        </thead>
        <% a_out_of_competition.sort_by{|app| [app.order.present? ? app.order.signing_date : true, -app.abitpoints]}.each_with_index do |a, i| %>
          <tr id="application_<%= a.id %>">
            <td><%= i + 1 %></td>
            <%= render partial: 'entrance/applications/rows/out_of_competition', locals: {a: a} %>
            <% remaining_places -= 1 if a.enrolled? %>
          </tr>
        <% end %>
      </table>
      <%# remaining_places -= a_out_of_competition.size %>
    <% end %>

    <%
       exam_names = item.competitive_group.test_items.order(:entrance_test_priority).collect do |t|
         t.exam.name
       end
       exam_names << 'Индивидуальные достижения'
    %>

    <% if a_special_rights.any? %>
      <h2>По квоте приема лиц, имеющих особое право</h2>
      <!--<strong>-->
        <!--Доступное количество мест — <span id="remaining_places"><%= item.send("number_quota_#{field_form}") %></span>-->
      <!--</strong>-->
      <table class="table table-striped table-bordered">
        <thead>
        <tr>
          <th></th>
          <th>Рег. номер</th>
          <th>Поступающий</th>
          <!--<th>Приказ о зачислении</th>-->
          <%# if can?(:manage, Entrance::Application) %>
            <!--<th></th>-->
            <th>Сумма баллов</th>
            <th>Оригинал</th>
          <%# end %>
          <th></th>
        </tr>
        </thead>
        <% a_special_rights.sort_by(&Entrance::Application.sort_applications_for_sort_by).reverse.each_with_index do |a, i| %>
          <tr id="application_<%= a.id %>">
            <td><%= i + 1 %></td>
            <%= render partial: 'entrance/applications/rows/special_rights', locals: {a: a} %>
            <% remaining_places -= 1 if a.enrolled? %>
          </tr>
        <% end %>
      </table>
      <%## remaining_places -= (a_special_rights.size > item.number_quota_o ? item.number_quota_o : a_special_rights.size) %>
      <%# remaining_places -= item.number_quota_o %>
    <% end %>

    <% if a_organization.any? %>
      <h2>По квоте целевого приема</h2>
      <% a_organization.sort_by(&Entrance::Application.sort_applications_for_sort_by).reverse.group_by { |a| a.competitive_group_target_item }.each do |target_item, appls| %>
        <h2>Договор № <%= target_item.target_organization.contract_number %> от <%= l target_item.target_organization.contract_date %>, <%= target_item.target_organization.name %></h2>
        <% if appls[0].direction.master? %>
          <strong>
            Доступное количество мест — <span id="remaining_places"><%= target_item.number_target_o %></span>
          </strong>
        <% end %>
        <table class="table table-striped table-bordered">
          <thead>
          <tr>
            <th></th>
            <th>Рег. номер</th>
            <th>Поступающий</th>
            <!--<th>Приказ о зачислении</th>-->
            <%# if can?(:manage, Entrance::Application) %>
              <!--<th></th>-->
              <th>Сумма баллов</th>
              <th>Оригинал</th>
            <%# end %>
            <th></th>
          </tr>
          </thead>
          <% appls.each_with_index do |a, i| %>
            <tr id="application_<%= a.id %>">
              <td><%= i + 1 %></td>
              <%= render partial: 'entrance/applications/rows/organization', locals: {a: a} %>
              <% remaining_places -= 1 if a.enrolled? && !a_organization[0].direction.master? %>
            </tr>
          <% end %>
        </table>

        <% if appls[0].direction.master? %>
          <%## remaining_places -= (appls.size > target_item.number_target_o ? target_item.number_target_o : appls.size) %>
          <% remaining_places -= target_item.number_target_o %>
        <% end %>
      <% end %>
    <% end %>

    <% if a_contest_enrolled.any? %>
      <h2>Зачисленные по общему конкурсу</h2>
      <table class="table table-striped table-bordered">
        <thead>
        <tr>
          <th></th>
          <th>Рег. номер</th>
          <th>Поступающий</th>
          <th>Приказ о зачислении</th>
          <% if can?(:manage, Entrance::Application) %>
            <th></th>
            <th>Сумма баллов</th>
          <% end %>
        </tr>
        </thead>
        <% a_contest_enrolled.sort_by{|app| [app.order.present? ? app.order.signing_date : true, -app.abitpoints]}.each_with_index do |a, i| %>
          <tr>
            <td><%= i + 1 %></td>
            <td class="nowrap"><%= a.number %></td>
            <td><%= a.entrant.full_name %></td>
            <td class="nowrap">
              <% if a.order %>
                № <%= a.order.number %> от <%= l a.order.signing_date.to_date %>
              <% end %>
            </td>
            <% if can?(:manage, Entrance::Application) %>
              <td>
                <%= link_to entrance_campaign_entrant_applications_path(@campaign, a.entrant),
                            class: 'btn btn-default',
                            title: 'Заявления',
                            target: :blank do %>
                  <span class="glyphicons notes"></span>
                <% end %>
              </td>
              <td><%= a.abitpoints %></td>
            <% end %>
          </tr>
        <% end %>
      </table>
      <% remaining_places -= a_contest_enrolled.size %>
      <br><br><br><br>
    <% end %>

    <% if a_contest.any? %>
      <% unless 12014 == @campaign.id %>
        <h2>
          <% if item.payed? %>
            Конкурсные списки
          <% else %>
            Конкурсные списки поступающих на места в рамках контрольных цифр приема.
          <% end %>
        </h2>
        <h3>
          <strong>
            Доступное количество мест — <span id="remaining_places"><%= remaining_places %></span>
          </strong>
          <!--<%# unless @applications.first.is_payed %>-->
            <!--<%# unless @applications.first.direction.master? %>-->
              <!--<br>-->
              <!--<strong>-->
                <!-- Доступно для зачисления на первом этапе 80% вакантных мест — <%#= remaining_places - (remaining_places * 0.2).ceil %> -->
              <!--</strong>-->
            <!--<%# end %>-->
          <!--<%# end %>-->
          <% if @applications.first.is_payed %>
            <br>
            <% if 193593 == item.competitive_group.id %>
              <div class="alert alert-danger lead">
                В связи с большим потоком абитуриентов принято решение
                об увеличении плана приема на места по договорам об образовании
                на очную форму обучения специальности «Графика».
                <br>
                Оформление договоров по графику работы приемной комиссии
                до 19 августа. Справки по телефону горячей линии:
                +7 495 276-04-26.
              </div>
            <% else %>
              <span class="text-danger">
                <sup>*</sup> минимальный план приема, который может быть увеличен
              </span>
            <% end %>
          <% end %>
        </h3>
      <% end %>

      <% if @applications.first.is_payed %>
        <div class="alert alert-success">
          Зачисление на места по договорам об образовании производится после
          оформления договора и согласия на зачисление. Оригинал
          документа об образовании для зачисления не требуется.
        </div>
      <% else %>
        <!--<div class="alert alert-success">-->
          <!--Лица, из числа рекомендованных к зачислению на втором этапе, должны-->
          <!--предоставить оригиналы документов об образовании до 8 августа-->
          <!--включительно. Приемная комиссия работает до 17:00 МСК.-->
        <!--</div>-->
      <% end %>

      <% if @applications.first.is_payed %>
        <% if current_user %>
        <div class="row">
            <script>
              function checkAgree(i){
                var value = $('input[name=agree]').val();
                if (value == '1') {
                  $('.app.disagree').hide();
                  if (i == '1') {
                    $('.app.agree.without_contract').hide();
                    $('.app.agree.contract').show();
                  } else if (i == '0'){
                    $('.app.agree.contract').hide();
                    $('.app.agree.without_contract').show();
                  } else{
                    $('.app.agree').show();
                  }
                }
                else if (value == '0') {
                  $('.app.agree').hide();
                  if (i == '1') {
                    $('.app.disagree.without_contract').hide();
                    $('.app.disagree.contract').show();
                  } else if (i == '0'){
                    $('.app.contract.disagree').hide();
                    $('.app.disagree.without_contract').show();
                  } else{
                    $('.app.disagree').show();
                  }
                } else {
                  if (i == '1') {
                    $('.app.without_contract').hide();
                    $('.app.contract').show();
                  } else if (i == '0'){
                    $('.app.contract').hide();
                    $('.app.without_contract').show();
                  } else{
                    $('.app').show();
                  }
                }
              }
            </script>
          <div class="col-sm-12">
            <label>
              <input name="contract" type="radio" data-value="10" checked onclick="$('input[name=contract]').val($(this).data('value')); checkAgree($(this).data('value'));"> Заявления независимо от наличия договора
            </label>
            &nbsp;&nbsp;&nbsp;
            <label>
              <input name="contract" type="radio" data-value="1" onclick="$('input[name=contract]').val($(this).data('value')); checkAgree($(this).data('value'));"> Только с договором
            </label>
            &nbsp;&nbsp;&nbsp;
            <label>
              <input name="contract" type="radio" data-value="0" onclick=" $('input[name=contract]').val($(this).data('value')); checkAgree($(this).data('value'));"> Только без договора
            </label>
          </div>
        </div>
        <div class="row">
            <script>
                function checkContract(i){
                  var value = $('input[name=contract]').val();
                  if (value == '1') {
                    $('.app.without_contract').hide();
                    if (i == '1') {
                      $('.app.contract.disagree').hide();
                      $('.app.contract.agree').show();
                    } else if (i == '0'){
                      $('.app.contract.agree').hide();
                      $('.app.contract.disagree').show();
                    } else{
                      $('.app.contract').show();
                    }
                  }
                  else if (value == '0') {
                    $('.app.contract').hide();
                    if (i == '1') {
                      $('.app.without_contract.disagree').hide();
                      $('.app.without_contract.agree').show();
                    } else if (i == '0'){
                      $('.app.without_contract.agree').hide();
                      $('.app.without_contract.disagree').show();
                    } else{
                      $('.app.without_contract').show();
                    }
                  } else {
                    if (i == '1') {
                      $('.app.disagree').hide();
                      $('.app.agree').show();
                    } else if (i == '0'){
                      $('.app.agree').hide();
                      $('.app.disagree').show();
                    } else{
                      $('.app').show();
                    }
                  }
                }
            </script>
          <!--<div class="col-sm-12">-->
            <!--<label>-->
              <!--<input name="agree" type="radio" data-value="10" checked onclick="$('input[name=agree]').val($(this).data('value')); checkContract($(this).data('value'))"> Заявления независимо от наличия согласия-->
            <!--</label>-->
            <!--&nbsp;&nbsp;&nbsp;-->
            <!--<label>-->
              <!--<input name="agree" type="radio" data-value="1" onclick="$('input[name=agree]').val($(this).data('value')); checkContract($(this).data('value'))"> Только с согласием на зачисление-->
            <!--</label>-->
            <!--&nbsp;&nbsp;&nbsp;-->
            <!--<label>-->
              <!--<input name="agree" type="radio" data-value="0" onclick="$('input[name=agree]').val($(this).data('value')); checkContract($(this).data('value'))"> Только без согласия на зачисление-->
            <!--</label>-->
          <!--</div>-->
        </div>
        <% end %>
      <% else %>
      <div class="row">
        <script>
          function renumber(i){
            if (i == 0){
              $('.app.without_original').each(function(index){
                var td = $(this).children('td:first');
                td.html('<strong>'+(index+1)+'</strong> (' + td.data('value') + ')');
              })
            } else if (i == 1){
              $('.app.original').each(function(index){
                var td = $(this).children('td:first');
                td.html('<strong>'+(index+1)+'</strong> (' + td.data('value') + ')');
              })
            } else {
              $('.app').each(function(){
                var td = $(this).children('td:first');
                td.html(td.data('value'));
              })
            }

          }
        </script>
        <div class="col-sm-12">
          <label>
            <input name="original" type="radio" checked onclick="$('.app').show(); renumber(10)"> Все заявления
          </label>
          &nbsp;&nbsp;&nbsp;
          <label>
            <input name="original" type="radio" onclick="$('.app.original').show(); $('.app.without_original').hide(); renumber(1)"> Только с оригиналом
          </label>
          &nbsp;&nbsp;&nbsp;
          <label>
            <input name="original" type="radio" onclick="$('.app.without_original').show(); $('.app.original').hide(); renumber(0)"> Только без оригинала
          </label>
        </div>
      </div>
      <% end %>
      <table class="table table-striped table-bordered">
        <thead>
        <tr>
          <th></th>
          <th>Рег. номер</th>
          <th>Поступающий</th>
          <% exam_names.each do |name| %>
            <th><%= name %></th>
          <% end %>
          <th>Сумма</th>
          <% if @applications.first.is_payed && can?(:manage, Entrance::Application) %>
            <th>Договор</th>
          <% else %>
            <th>Оригинал</th>
          <% end %>

          <% if can?(:manage, Entrance::Application) %>
            <th></th>
          <% end %>
          <% if can?(:reject, :entrance_applications) %>
            <th></th>
          <% end %>
          <th></th>
        </tr>
        </thead>
        <% to_enroll = remaining_places %>
        <% last_found = 0 == to_enroll %>
        <% prev_score = 0 %>
        <% a_contest.sort_by(&Entrance::Application.sort_applications_for_sort_by).reverse.each_with_index do |a, i| %>
          <% if @applications.first.is_payed %>
              <% or_class = a.contract ? 'app contract' : 'app without_contract' %>
              <% or_class += (a.agree? ? ' agree' : ' disagree') %>
          <% else %>
            <% or_class = a.original? ? 'app original' : 'app without_original' %>
          <% end %>
          <% or_class += " appl#{a.id}" %>
          <% success = false %>
          <% if @applications.first.is_payed %>
            <tr id="application_<%= a.id %>" class="success <%= or_class %>">
            <% success = true %>
          <% else %>

            <%# if to_enroll > 0 %>
              <!--<tr id="application_<%#= a.id %>" class="success <%#= or_class %>">-->
              <%# success = true %>
              <%# to_enroll -= 1 %>
              <%# prev_score = a.total_score %>
            <%# elsif 0 == to_enroll && !last_found %>
              <%# # Огого. Совпали баллы. %>
              <%# if prev_score == a.total_score %>
                <!--<tr id="application_<%#= a.id %>" class="success <%#= or_class %>">-->
                <%# success = true %>
              <%# else %>
                <!--<tr id="application_<%#= a.id %>" class="<%#= or_class %>">-->
                <%# last_found = true %>
              <%# end %>
            <%# else %>
              <!--<tr id="application_<%#= a.id %>" class="<%#= or_class %>">-->
            <%# end %>
          <%# end %>

            <% if remaining_places > 0 %>
              <tr id="application_<%= a.id %>" class="success <%= or_class %>">
            <% else %>
              <tr id="application_<%= a.id %>" class="<%= or_class %>">
            <% end %>
          <% end %>

            <td data-value="<%= i + 1 %>"><%= i + 1 %></td>
            <%= render partial: 'entrance/applications/rows/contest', locals: {a: a, success: success } %>
          </tr>
        <% end %>
      </table>
    <% end %>
  <% end %>
<% else %>
  <p class="lead">По данному конкурсу не было найдено ни одного заявления</p>
<% end %>
