<%= render 'entrance/shared/switch' %>

<div class="page-header">
    <h1>Пофамильные списки поступающих (рейтинги)</h1>
</div>

<%= render partial: 'filters',
           locals: { url: rating_entrance_campaign_path(@campaign) } %>

<% if @items && @items.any? %>
  <% @items.each do |item| %>
    <%
       a_out_of_competition = []
       a_special_rights = []
       a_organization = []
       a_contest = []
       item.applications.for_rating.each do |a|
         if a.out_of_competition
           a_out_of_competition << a
         else
           if 0 != a.pass_min_score
             if a.special_rights
               a_special_rights << a
             elsif a.competitive_group_target_item
               a_organization << a
             else
               a_contest << a
             end
           end
         end
       end

       field_payment = item.payed? ? 'paid' : 'budget'
       field_form = case item.form
                      when 11 then 'o'
                      when 12 then 'oz'
                      when 10 then 'z'
                    end

       total_places = item.send("number_#{field_payment}_#{field_form}")
       total_places += item.send("number_quota_#{field_form}")
       item.competitive_group.target_organizations.each do |org|
         org.items.where(direction_id: item.direction_id, education_level_id: item.education_level_id).each do |i|
           total_places += i.send("number_target_#{field_form}")
         end
       end

       remaining_places = total_places
    %>

    <% if a_out_of_competition.any? %>
      <h2>Список поступающих без вступительных испытаний</h2>
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th></th>
            <th>Рег. номер</th>
            <th>Поступающий</th>
            <th>Основание</th>
          </tr>
        </thead>
        <% a_out_of_competition.each_with_index do |a, i| %>
          <tr>
            <td><%= i + 1 %></td>
            <td class="nowrap"><%= a.number %></td>
            <td><%= a.entrant.full_name %></td>
            <td><%= a.benefits.first.temp_text %></td>
          </tr>
        <% end %>
      </table>
      <% remaining_places -= a_out_of_competition.size %>
      <br><br><br><br>
    <% end %>

    <%
       exam_names = item.competitive_group.test_items.order(:entrance_test_priority).collect do |t|
         t.exam.name
       end
    %>

    <% if a_special_rights.any? %>
      <h2>Список поступающих по квоте приема лиц, имеющих особое право</h2>
      <h3><strong>Доступное количество мест — <%= item.number_quota_o %></strong></h3>
      <table class="table table-striped table-bordered">
        <thead>
        <tr>
          <th></th>
          <th>Рег. номер</th>
          <th>Поступающий</th>
          <% exam_names.each do |name| %>
            <th><%= name %></th>
          <% end %>
          <th>Сумма</th>
        </tr>
        </thead>
        <% a_special_rights.sort(&Entrance::Application.sort_applications).each_with_index do |a, i| %>
          <tr>
            <td><%= i + 1 %></td>
            <td class="nowrap"><%= a.number %></td>
            <td><%= a.entrant.full_name %></td>
            <% a.abitexams.each do |exam| %>
              <td><%= exam.score %></td>
            <% end %>
            <td><%= a.total_score %></td>
          </tr>
        <% end %>
      </table>
      <% remaining_places -= (a_special_rights.size > item.number_quota_o ? item.number_quota_o : a_special_rights.size) %>
      <br><br><br><br>
    <% end %>

    <% if a_organization.any? %>
      <h2>Список поступающих по квоте целевого приема</h2>
      <% a_organization.group_by { |a| a.competitive_group_target_item }.each do |target_item, appls| %>
        <h2>Договор № <%= target_item.target_organization.contract_number %> от <%= l target_item.target_organization.contract_date %>, <%= target_item.target_organization.name %></h2>
        <h3><strong>Доступное количество мест — <%= target_item.number_target_o %></strong></h3>
        <table class="table table-striped table-bordered">
          <thead>
          <tr>
            <th></th>
            <th>Рег. номер</th>
            <th>Поступающий</th>
            <% exam_names.each do |name| %>
              <th><%= name %></th>
            <% end %>
            <th>Сумма</th>
          </tr>
          </thead>
          <% appls.sort(&Entrance::Application.sort_applications).each_with_index do |a, i| %>
            <tr>
              <td><%= i + 1 %></td>
              <td class="nowrap"><%= a.number %></td>
              <td><%= a.entrant.full_name %></td>
              <% a.abitexams.each do |exam| %>
                <td><%= exam.score %></td>
              <% end %>
              <td><%= a.total_score %></td>
            </tr>
          <% end %>
        </table>
        <% remaining_places -= (appls.size > target_item.number_target_o ? target_item.number_target_o : appls.size) %>
      <% end %>
      <br><br><br><br>
    <% end %>

    <% if a_contest.any? %>
      <% unless 12014 == @campaign.id %>
        <h2>Список поступающих по общему конкурсу</h2>
        <h3>
          <strong>
            Доступное количество мест — <%= remaining_places %>
          </strong>
          <% if item.payed? && 193593 != item.competitive_group.id %>
            <br>
            <span class="text-danger">
              <sup>*</sup> минимальный план приема, который может быть увеличен
            </span>
          <% end %>
        </h3>
      <% end %>

      <% if item.payed? %>
        <div class="alert alert-success">
          Зачисление на места по договорам об образовании производится после
          оформления договора и согласия на зачисление. Предоставления оригинала
          документа об образовании для зачисления не требуется.
        </div>
      <% end %>

      <table class="table table-striped table-bordered">
        <thead>
        <tr>
          <th></th>
          <th>Рег. номер</th>
          <th>Поступающий</th>
          <% exam_names.each do |name| %>
            <th><%= name %></th>
          <% end %>
          <th>Сумма</th>
        </tr>
        </thead>
        <% a_contest.sort(&Entrance::Application.sort_applications).each_with_index do |a, i| %>
          <tr>
            <td><%= i + 1 %></td>
            <td class="nowrap"><%= a.number %></td>
            <td><%= a.entrant.full_name %></td>
            <% a.abitexams.each do |exam| %>
              <td><%= exam.score %></td>
            <% end %>
            <td><%= a.total_score %></td>
          </tr>
        <% end %>
      </table>
    <% end %>
  <% end %>
<% else %>
  <p class="lead">По данному конкурсу не было найдено ни одного заявления</p>
<% end %>
