<div class="page-header">
  <h1>
    Регистрационный журнал
  </h1>
</div>

<%= render partial: 'filters',
           locals: { url: register_entrance_campaign_path(@campaign),
                     date: true } %>

<% if @applications.empty? %>
  <p>Нет ни одного заявления.</p>
<% else %>
  <table class="table table-striped table-bordered">
    <thead>
    <tr>
      <th>№</th>
      <th>Дата приёма документов</th>
      <th>Фамилия, имя, отчество</th>
      <th>Регистрационный номер</th>
      <th>Индекс, адрес, телефон</th>
      <th>Возврат документов (подпись или номер почтовой квитанции)</th>
    </tr>
    </thead>
    <% @applications.each_with_index do |application, i| %>
      <tr>
        <td><%= i + 1 %></td>
        <td><%= l application.created_at %></td>
        <td><%= application.entrant.full_name %></td>
        <td><%= application.number %></td>
        <td><%= application.entrant.contacts %></td>
        <td></td>
      </tr>
    <% end %>
  </table>
<% end %>
