<div class="page-header">
  <h1>
    Количество поданных заявлений на <%= l Time.now %>
    <small><%= @campaign.name %></small>
  </h1>
</div>

<table class="table table-condensed table-bordered table-striped">
  <thead>
    <tr>
      <th rowspan="2">Направление</th>
      <th colspan="3" class="text-center">Бюджет</th>
      <th colspan="3" class="text-center">Платный приём</th>
    </tr>
    <tr>
      <th>Очная</th>
      <th>Очно-заочная</th>
      <th>Заочная</th>
      <th>Очная</th>
      <th>Очно-заочная</th>
      <th>Заочная</th>
    </tr>
  </thead>
  <% Department.faculties.each do |faculty| %>
    <tr>
      <th colspan="7"><%= faculty.name %></th>
    </tr>
    <% faculty.directions.for_campaign(@campaign).each do |direction| %>
      <tr>
        <td><%= direction.description %></td>

        <% stats = Entrance::Application.direction_stats(@campaign, direction) %>
        <td><%= stats[:budget][:o] unless stats[:budget][:o].zero? %></td>
        <td><%= stats[:budget][:oz] unless stats[:budget][:oz].zero? %></td>
        <td><%= stats[:budget][:z] unless stats[:budget][:z].zero? %></td>
        <td><%= stats[:paid][:o] unless stats[:paid][:o].zero? %></td>
        <td><%= stats[:paid][:oz] unless stats[:paid][:oz].zero? %></td>
        <td><%= stats[:paid][:z] unless stats[:paid][:z].zero? %></td>
      </tr>
    <% end %>
  <% end %>
</table>