<%= render 'entrance/shared/switch' %>
<div class="page-header">
  <h2>
    Статистика приёма <span class="nowrap">на <%= l Time.now %></span>
    <small><%= @campaign.name %></small>
  </h2>
</div>

<p style="font-size: 1.1em;"><em>
  Заявлений (из них оригиналов) / Всего мест (из них уже зачислено) / Конкурс по заявлениям (конкурс по оригиналам)
</em></p>

<%#= link_to 'Распечатать',
            report_entrance_campaign_path(
                    @campaign, params.merge({ format: :xlsx })
            ), class: 'lead only-screen' %>

<table class="table table-condensed table-bordered table-striped">
  <thead>
    <tr>
      <th rowspan="2">Направление</th>
      <th class="text-center">Бюджет</th>
      <th colspan="3" class="text-center">Платный приём</th>
    </tr>
    <tr>
      <th>Очная</th>
      <th>Очная</th>
      <th>Очно-заочная</th>
    </tr>
  </thead>
  <% Entrance::Application.report_information(@campaign).each do |f| %>
    <tr>
      <th colspan="7"><%= f[:faculty] %></th>
    </tr>
    <% f[:applications].each do |row| %>
      <tr>
        <% row.each do |field| %>
            <td class="nowrap"><%= field.html_safe %></td>
        <% end %>
      </tr>
    <% end %>
  <% end %>
</table>
