<%#= render 'entrance/shared/switch' %>
<div class="page-header">
  <h2>
    Статистика приёма <%= @campaign_year %> <span class="nowrap">на <%= l Time.now %></span>
  </h2>
</div>

<style>
  table tr td:nth-child(1) {
    border-right: 2px solid black;
  }
  table tr td:nth-child(7) {
    border-right: 2px solid black;
  }
  table tr td:nth-child(13) {
    border-right: 2px solid black;
  }
  table tr td:nth-child(19) {
    border-right: 2px solid black;
  }
  table tr td:nth-child(25) {
    border-right: 2px solid black;
  }

  .vertical th {
    font-size: 0.5em;
    /*-webkit-transform: rotate(270deg);*/
    /*-moz-transform: rotate(270deg);*/
    /*-ms-transform: rotate(270deg);*/
    /*-o-transform: rotate(270deg);*/
    /*transform: rotate(270deg);*/
  }
</style>

<table class="table table-condensed table-bordered table-striped">
  <thead>
    <tr>
      <th rowspan="3">Конкурсная группа</th>
      <th colspan="6" class="text-center">Бюджет</th>
      <th colspan="18" class="text-center">Платный приём</th>
    </tr>
    <tr>
      <th colspan="6">Очная</th>
      <th colspan="6">Очная</th>
      <th colspan="6">Очно-заочная</th>
      <th colspan="6">Заочная</th>
    </tr>
    <tr class="vertical">
      <th>Всего заявлений</th>
      <th>Из них с оригиналами</th>
      <th>Всего мест</th>
      <th>Из них зачислено</th>
      <th>Конкурс</th>
      <th>Конкурс по оригиналам</th>
      <th>Всего заявлений</th>
      <th>Из них с договорами</th>
      <th>Всего мест</th>
      <th>Из них зачислено</th>
      <th>Конкурс</th>
      <th>Конкурс по договорам</th>
      <th>Всего заявлений</th>
      <th>Из них с договорами</th>
      <th>Всего мест</th>
      <th>Из них зачислено</th>
      <th>Конкурс</th>
      <th>Конкурс по договорам</th>
      <th>Всего заявлений</th>
      <th>Из них с договорами</th>
      <th>Всего мест</th>
      <th>Из них зачислено</th>
      <th>Конкурс</th>
      <th>Конкурс по договорам</th>
    </tr>
  </thead>
  <% @data.each do |row| %>
    <tr>
      <td><%= row[0] %></td>
      <td><%= row[1][0] if row[1][2] > 0 %></td>
      <td><%= row[1][1] if row[1][2] > 0 %></td>
      <td><%= row[1][2] if row[1][2] > 0 %></td>
      <td><%= row[1][3] if row[1][2] > 0 %></td>
      <td><%= row[1][4] if row[1][2] > 0 %></td>
      <td><%= row[1][5] if row[1][2] > 0 %></td>
      <td><%= row[2][0] if row[2][2] > 0 %></td>
      <td><%= row[2][1] if row[2][2] > 0 %></td>
      <td><%= row[2][2] if row[2][2] > 0 %></td>
      <td><%= row[2][3] if row[2][2] > 0 %></td>
      <td><%= row[2][4] if row[2][2] > 0 %></td>
      <td><%= row[2][5] if row[2][2] > 0 %></td>
      <td><%= row[3][0] if row[3][2] > 0 %></td>
      <td><%= row[3][1] if row[3][2] > 0 %></td>
      <td><%= row[3][2] if row[3][2] > 0 %></td>
      <td><%= row[3][3] if row[3][2] > 0 %></td>
      <td><%= row[3][4] if row[3][2] > 0 %></td>
      <td><%= row[3][5] if row[3][2] > 0 %></td>
      <td><%= row[4][0] if row[4][2] > 0 %></td>
      <td><%= row[4][1] if row[4][2] > 0 %></td>
      <td><%= row[4][2] if row[4][2] > 0 %></td>
      <td><%= row[4][3] if row[4][2] > 0 %></td>
      <td><%= row[4][4] if row[4][2] > 0 %></td>
      <td><%= row[4][5] if row[4][2] > 0 %></td>
    </tr>
  <% end %>
</table>
