<div class="page-header">
  <h1>Заявления на материальную помощь</h1>
</div>

<%= form_tag nil, method: :get, class: 'form-inline filters', style: 'margin-bottom: 20px;' do %>
  <div class="row">
    <div class="col-sm-4">
      <label for="year" class="form-control-static">Год</label>
      <div class="form-group">
        <%= select_tag :year,
                       options_for_select((2013..Date.today.year).to_a, params[:year]),
                       class: 'form-control' %>
      </div>

      <label for="month" class="form-control-static">Месяц</label>
      <div class="form-group">
        <%= select_tag :month,
                       options_for_select(
                           (1..12).to_a,
                           params[:month]
                       ),
                       class: 'form-control' %>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="form-group">
        <%= select_tag :cause, [], class: 'form-control' %>
      </div>
    </div>

    <div class="col-sm-2">
      <%= submit_tag 'Поиск', class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
<script>
  $(function() {
    $('form.filters select').change(function() {
      $('form.filters').submit();
    });
  });
</script>

<%= paginate @applications %>

<% unless @applications.empty? %>
  <div class="row lead">
    <div class="col-sm-1">
      #
    </div>
    <div class="col-sm-11">
      Студент
    </div>
  </div>
<% else %>
  <p class="lead">Не подано ни одного заявления.</p>
<% end %>

<%= render partial: 'application', collection: @applications %>

<%= paginate @applications %>
