<%= horizontal_form_for @role do |f| %>
  <%= f.inputs do %>
    <%= f.text_field :name do %>
      <span class="help-block">
        Внутренее имя роли в системе. Изменять с большой осторожностью, потому
        что оно используется при связке пользователей системы с их правами доступа.
      </span>
    <% end %>

    <%= f.text_field :description do %>
      <span class="help-block">
        Описательное название роли. Именно оно показывается пользователям,
        отвечающим за назначение сотрудников на должности в системе.
      </span>
    <% end %>
  <% end %>

  <%= f.actions do %>
    <%= f.submit %>
    или
    <%= link_to 'назад ко всем ролям', roles_path %>
  <% end %>
<% end %>