<div class="row">
  <table class="table table-hover">
    <thead>
    <tr>
      <th>#</th>
      <th><span class="line"></span>Описание</th>
      <th><span class="line"></span>Активна?</th>
      <th><span class="line"></span></th>
    </tr>
    </thead>
    <tbody>
    <% @roles.each do |role| %>
      <tr>
        <td><%= role.id %></td>
        <td>
          <%= role.title %>
          <br>
          <em><%= role.description %></em>
        </td>
        <td>
          <%= check_box_tag :active, role.active, role.active?, disabled: true %>
        </td>
        <td>
          <%= link_to 'Редактировать', edit_role_path(role) %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>