<h4>Создать дополнительную ведомость</h4>

<%= nested_form_for Study::Repeat.new,
                    url: study_discipline_exam_repeats_path(@discipline, @exam),
                    remote: true do |f| %>
  <%= hidden_field_tag :exam_group, @discipline.group.id %>

  <div class="form-group">
    <%= f.label :exam_date %>
    <%= f.text_field :exam_date, value: l(Date.today),
                     class: 'form-control datepicker',
                     pattern: '\d{1,2}.\d{1,2}.\d{4}' %>
  </div>

  <div class="form-group">
    <%= f.label :exam_repeat %>
    <%= f.select :exam_repeat, options_for_select(Study::Repeat::TYPE_OPTIONS), {},
                 class: 'form-control' %>
  </div>

  <label>Включённые студенты</label>
  <%= f.collection_check_boxes :student_ids, @discipline.group.students.valid,
                               :id, :full_name do |builder| %>
    <div class="checkbox">
      <%= builder.label do %>
        <%= builder.check_box %> <%= builder.text %>
      <% end %>
    </div>
  <% end %>

  <label>Переведенные должники</label>
  <%= f.collection_check_boxes :student_ids, @discipline.students_for_repeat,
                               :id, :full_name do |builder| %>
    <div class="checkbox">
      <%= builder.label do %>
          <%= builder.check_box %> <%= builder.text %>
      <% end %>
    </div>
  <% end %>


<%= f.submit 'Создать дополнительную ведомость', class: 'btn btn-primary' %>
<% end %>
