<h4>Студенты, на которых будет создан приказ:</h4>
<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Фамилия</th>
      <th>Имя</th>
      <th>Отчество</th>
      <th>Институт</th>
      <th>Группа</th>
    </tr>
  </thead>
  <tbody>
    <% students.each do |student| %>
  <tr>
    <td><%= student.id %></td>
    <td><%= student.person.last_name %></td>
    <td><%= student.person.first_name %></td>
    <td><%= student.person.patronym %></td>
    <td><%= student.group.faculty.abbreviation %></td>
    <td><%= student.group.name %></td>
    <td>
      <%= link_to 'Add', '#' %>
    </td>
  </tr>
  <% end %>
  </tbody>
</table>