<%= form_tag nil, method: :get, class: 'filter-block form-horizontal' do %>
  <div class='row'>
    <div class='col col-sm-6'>
      <%= hidden_field_tag :faculty, params[:faculty],
                           class: 'ajax-faculty hidden-pill-values' %>
      <%= pill_tabs('faculty', @faculties.collect { |f| [f.id, f.abbreviation] },
                      'faculty') %>
    </div>
  </div>
  <div class="row">
    <%= label_tag :type_of_search, 'ФИО студента', class: 'col col-sm-2 control-label' %>
    <div class="col-sm-6">
      <%= text_field_tag :name, params[:name], placeholder: 'Фамилия, имя, отчество', class: 'form-control' %>
    </div>
    <div class='col col-sm-2'>
      <%= select_tag :form,
                     options_for_select([%w(очная 101), %w(очно-заочная 102),
                                         %w(заочная 103), %w(дистанционная 105)], params[:form]),
                     prompt: 'все формы',
                     class: 'form-control' %>
    </div>
    <div class='col col-sm-2'>
      <%= select_tag :finance,
                     options_for_select([%w(бюджетная 1), %w(внебюджетная 2)], params[:finance]),
                     prompt: 'все основы',
                     class: 'form-control' %>
    </div>
  </div>
  <div class="row">
    <%= label_tag :template, 'Тип приказа', class: 'col col-sm-2 control-label' %>
    <div class="col-sm-6">
      <%= select_tag 'template',
                options_from_collection_for_select(@templates, :id, :name, params[:template]),
                     prompt: 'все типы приказов', class: 'form-control', style: 'width: 104% !important' %>
    </div>
    <% if ost %>
    <div class="col-sm-4">
      <label class="control-label"><%= check_box_tag :group_by_number, '1', '1' == params[:group_by_number] %> Группировать по номеру приказа</label>
    </div>
    <% end %>
  </div>
  <div class="row">
    <%= label_tag :from_date, "#{ost ? 'Был подписан' : 'Редактировался'} с", class: 'col col-sm-2 control-label' %>
    <div class="col-sm-3">
      <%= text_field_tag :from_date, params[:from_date], placeholder: 'дд.мм.гггг', class: 'datepicker form-control' %>
    </div>
    <div style="float: left;">
      <%= label_tag :till_date, 'по', class: 'control-label'%>
    </div>
    <div class="col-sm-3">
      <%= text_field_tag :till_date, params[:till_date], placeholder: 'дд.мм.гггг', class: 'datepicker form-control' %>
    </div>
    <div class="col-sm-3">
      <%= link_to url, class: 'form_reset btn btn-danger pull-right' do %>
        <span class="glyphicon glyphicon-remove"></span>
      <% end %>
      <%= submit_tag 'Найти', class: 'btn btn-primary pull-right', style: 'margin-right: 5px;' %>
    </div>
  </div>
<% end %>