<table class="table table-striped">
  <thead>
  <tr>
    <th>#</th>
    <th>Редактировался</th>
    <th>Тип приказа</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% orders.each do |order| %>
    <tr>
      <td><%= order.id %>&ndash;<%= order.version %></td>
      <td>
        <%= l (order.signed? ? order.signing_date.to_date : order.editing_date) %>
      </td>
      <td><%= order.template.name %></td>
      <td>
        <%= link_for_order(order) %>
      </td>
      <td></td>
    </tr>
  <% end %>
  </tbody>
</table>