<table class="table table-striped">
    <thead>
    <tr>
        <th>#</th>
        <th>Тип</th>
        <th>Количество студентов</th>
        <th>Факультет</th>
        <th>Группа</th>
        <th>Последнее редактирование</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <% if orders.empty? %>
      <tr>
          <td class="text-center" colspan="7">Ни одного приказа не было найдено. Попробуйте изменить параметры поиска.</td>
      </tr>
    <% else %>
      <% orders.each do |order| %>
        <tr>
            <td class="nowrap"><%= order.full_id %></td>
            <td><%= order.template.name if order.template %></td>
            <td>Всего: <%= order_details(order) %></td>
            <% if order.students.empty? %>
              <td></td><td></td>
            <% else %>
              <td><%= order.students.first.group.speciality.faculty.abbreviation %></td>
              <td class="nowrap"><%= order.students.first.group.name %></td>
            <% end %>
            <td><%= l order.editing_date %></td>
            <td class="nowrap">
              <%= link_for_order(order) %>
            </td>
        </tr>
      <% end %>
    <% end %>
    </tbody>
</table>