<div class="page-header">
  <h1>Черновики приказов</h1>
</div>

<% @drafts.each do |order| %>
  <div class="row order-row">
    <div class="col-sm-3">
      <strong><%= order.full_id %></strong>
      <br>
      <%= l(order.editing_date) %>
    </div>
    <div class="col-sm-6">
      <%= order.name %>
      <br>
      <em><%= order_details(order) %></em>
    </div>
    <div class="col-sm-3">
      <%= link_for_order(order) %>
    </div>
  </div>
<% end %>
