<div class="page-header">
  <h1>Создание проекта приказа</h1>
</div>

<p>Для создания проекта приказа выберите сначала шаблон приказа, который Вы собираетесь создать. После этого выберите студентов, на которых создается данный приказ.</p>

<%= select_tag 'order_template',
      options_from_collection_for_select(@templates, :id, :name, params[:template]),
      class: 'form-control' %>
<br>
<%= form_tag nil, method: :get, class: 'filter-block', id: 'formstudentsearch', class: 'filters' do %>
  <div class="row">
    <div class="col-sm-4">
      <%= text_field_tag 'name', params[:name], placeholder: 'Фамилия, имя, отчество', class: 'form-control' %>
    </div>
    <div class="col-sm-4">
      <%= multiselect_tag :status, title: 'Все статусы', collection: Status.all,
                          value: :id, text: :name, current: params[:status] ? params[:status].map(&:to_i) : [],
                          pl1: 'Выбран %c статус',
                          pl2: 'Выбрано %c статуса',
                          pl5: 'Выбрано %c статусов' %>
    </div>
    <div class="col-sm-4">
      <% finance = [] %>
      <% [{type: 'бюджетная', key:  1}, {type: 'внебюджетная', key: 2}].each do |fin| %>
        <% finance << (OpenStruct.new fin) %>
      <% end %>
      <%= multiselect_tag :finance, title: 'Все основы', collection: finance,
                          value: :key, text: :type, current: params[:finance] ? params[:finance].map(&:to_i) : [],
                          pl1: 'Выбрана %c основа обучения',
                          pl2: 'Выбрано %c основы обучения',
                          pl5: 'Выбрано %c основ обучения' %>
    </div>
  </div>
  <div class='row'>
   <div class='col col-lg-10'>
     <%= hidden_field_tag :faculty, params[:faculty],  class: 'ajax-faculty hidden-pill-values' %>
     <%= pill_tabs('faculty', @faculties.collect {|f| [f.id, f.abbreviation ]}, 'faculty') %>
   </div>
 </div>

 <div class='row'>
   <div class='col col-lg-6'>
     <%= select_tag 'speciality',
                    options_from_collection_for_select((@faculty ? @faculty.specialities : Speciality.includes(:faculty)), :id, :full_name, params[:speciality]),
                    prompt: 'все специальности', class: 'ajax-speciality-all form-control' %>
   </div>

   <div class='col col-lg-2'>
     <%= select_tag :course, options_for_select([1,2,3,4,5,6], params[:course]), prompt: 'все курсы', class: 'ajax-course form-control' %>
   </div>

   <div class='col col-lg-4'>
     <%= select_tag :form, options_for_select([['очная', '101'], ['очно-заочная', '102'], ['заочная', '103'],
                                               ['дистанционная', '105']], params[:form]), class: 'ajax-form form-control' %>
   </div>
   </div>
   <div class="row">
    <div class="col col-sm-2 pull-right">
      <%= submit_tag 'Искать', class: 'btn btn-primary' %>
      <%= link_to students_path, class: 'form_reset btn btn-danger pull-right' do %>
        <span class="glyphicon glyphicon-remove"></span>
      <% end %>
    </div>
    <div class="col-sm-4">
      <%= select_tag :group,
          options_from_collection_for_select((@faculties.length > 1 ? Group.all : @faculties.first.groups), :id, :name, params[:group]),
                            prompt: 'все группы', class: 'ajax-group-all form-control' %>
    </div>
  </div>
<% end %>



<div id="create_order">
  <%= render 'create_order' %>
</div>

<div id="ajax_content" data-href="/office/orders/new/">
  <%= paginate @students %>

  <table class="table table-hover">
    <thead>
    <tr>
      <th>#</th>
      <th>Фамилия</th>
      <th>Имя</th>
      <th>Отчество</th>
      <th>Институт</th>
      <th>Группа</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% @students.each do |student| %>
    <tr>
      <td><%= student.id %></td>
      <td><%= student.person.last_name %></td>
      <td><%= student.person.first_name %></td>
      <td><%= student.person.patronym %></td>
      <td><%= student.group.speciality.faculty.abbreviation %></td>
      <td><%= student.group.name %></td>
      <td>
        <%= link_to '#', class: 'btn btn-default orderadd', id: 'process', data: {value: student.id} do %>
          <span class='glyphicon glyphicon-arrow-up'></span>
        <% end %>
      </td>
    </tr>
    <% end %>
    </tbody>
  </table>
</div>