<div class="page-header">
    <h1>Участники мероприятия</h1>
</div>
<% unless current_user %>
    <%= select_tag :list_of_events, options_from_collection_for_select(@campaign.events, :id, :name_with_date, selected: @event.id),
               class: 'form-control', data: {value: @campaign.id},
               onchange: %q(document.location = '/entrance/campaigns/' + $(this).data('value') + '/events/' + $(this).val();)%>
<% else %>
    <%= select_tag :list_of_events, options_from_collection_for_select(@campaign.events, :id, :name_with_date, selected: @event.id),
                   class: 'form-control', data: {value: @campaign.id},
                   onchange: %q(document.location = '/entrance/campaigns/' + $(this).data('value') + '/events/' + $(this).val();)%>
<% end %>

<br>
<% if @event.with_classroom %>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Отчество</th>
        </tr>
        </thead>
        <% @event.event_entrants.group_by(&:classroom).each do |classroom, event_entrants| %>
            <tr><td class="lead" colspan="4">Аудитория <%= classroom.present? ? classroom.number : 'XXX' %></td></tr>
            <% event_entrants.find_all{ |x| x.entrant.present? }.sort_by{|x| x.entrant.last_name}.each do |ee| %>
            <tr>
                <td class="text-muted">
                  <% if @event.competitive_groups.present? && ee.entrant.applications.actual.find_all { |a| @event.competitive_groups.split(',').map { |c| c.to_i }.include?(a.competitive_group.id) }.any? %>
                    <%= ee.entrant.applications.actual.find_all { |a| @event.competitive_groups.split(',').map { |c| c.to_i }.include?(a.competitive_group.id) }.first.number %>
                  <% else %>
                    <%= ee.entrant.packed_application.number %>
                  <% end %>
                </td>
                <td><%= ee.entrant.last_name %></td>
                <td><%= ee.entrant.first_name %></td>
                <td><%= ee.entrant.patronym %></td>
            </tr>
            <% end %>
        <% end %>
    </table>
<% else %>
<table class="table table-striped">
 <thead>
   <tr>
     <th>#</th>
     <th>Фамилия</th>
     <th>Имя</th>
     <th>Отчество</th>
   </tr>
 </thead>
 <% @event.entrants.each do |entrant| %>
   <tr>
     <td class="text-muted">
       <% if @event.competitive_groups.present? && entrant.applications.actual.find_all { |a| @event.competitive_groups.split(',').map { |c| c.to_i }.include?(a.competitive_group.id) }.any? %>
         <%= entrant.applications.actual.find_all { |a| @event.competitive_groups.split(',').map { |c| c.to_i }.include?(a.competitive_group.id) }.first.number %>
       <% else %>
         <%= entrant.packed_application.number if entrant.packed_application %>
       <% end %>
     </td>
     <td><%= entrant.last_name %></td>
     <td><%= entrant.first_name %></td>
     <td><%= entrant.patronym %></td>
   </tr>
 <% end %>
  <tr>
    <td colspan="4" class="text-muted text-right"><%= @event.entrants.size %></td>
  </tr>
</table>
<% end %>
