<%= nested_form_for @purchase, html: { class: 'form-horizontal', autocomplete: 'off' } do |f| %>
  <fieldset>
    <legend>Товары</legend>
      <% if @current_user.is?(:developer) || @current_user.is?(:purchase_manager) || @current_user.is?(:ciot) %>
        <!-- только ДФП -->
        <div class="row">
          <%= f.label :number, 'Номер заявки', class: 'col col-lg-2 control-label' %>
          <div class="col col-sm-10">
            <%= f.text_field :number, class: 'form-control' %>
          </div>
        </div>
        <div class="row">
          <%= f.label :date_registration, 'Дата регистрации', class: 'control-label col col-sm-2' %>
          <div class="col col-sm-10">
            <%= f.text_field :date_registration, value: (f.object.date_registration ? l(f.object.date_registration, format: '%d.%m.%Y') : ''), class: 'form-control datepicker' %>
          </div>
        </div>
      <% else %>
        <div class="row">
        <%= f.label :number, 'Номер заявки', class: 'col col-lg-2 control-label' %>
        <div class="col col-sm-10">
          <%= f.text_field :number, disabled: true, class: 'form-control' %>
        </div>
        </div>
        <div class="row">
          <%= f.label :date_registration, 'Дата регистрации', class: 'control-label col col-sm-2' %>
          <div class="col col-sm-10">
            <%= f.text_field :date_registration, value: (f.object.date_registration ? l(f.object.date_registration, format: '%d.%m.%Y') : ''), disabled: true, class: 'form-control datepicker' %>
          </div>
        </div>
      <% end %>
      <div class="row">
        <%= f.label :dep_id, 'Структурное подразделение', class: 'col col-lg-2 control-label' %>
        <div class="col col-sm-10">
          <%= f.collection_select(:dep_id, @current_user.departments.all, :id, :name, { include_blank: true }, class: 'form-control') %>
        </div>
      </div>
      <div class="row">
        <%= f.label :status, 'Статус', class: 'control-label col col-sm-2' %>
          <div class='col col-sm-10'>
            <% stat = [] %>
            <% [{type: 'обработка', key:  'обработка'}, {type: 'на подписи', key: 'подпись'},{type: 'зарегистрирован', key: 'зарегистрирован'} ].each do |fin| %>
                <% stat << (OpenStruct.new fin) %>
            <% end %>
            <% if @current_user.is?(:purchase_user)%>
                <%= f.select :status, options_from_collection_for_select(stat, :key, :type, @purchase.status), {}, disabled: true, class: 'form-control' %>
            <% else %>
                <%= f.select :status, options_from_collection_for_select(stat, :key, :type, @purchase.status), {}, disabled: false, class: 'form-control' %>
            <% end %>
            </div>
      </div>
      <div class="row">
        <%= f.label :note, 'Должность ответственного сотрудника ', class: 'col col-lg-2 control-label' %>
        <div class="col col-sm-10">
          <%= f.text_field :note, class: 'form-control' %>
          <span class="help-block">
            <%= @current_user.last_name_hint  + ' '  + @current_user.first_name_hint[0] + '. ' + @current_user.patronym_hint[0] + '.' %>
        </span>
        </div>
      </div>
    </fieldset>

    <fieldset>
      <legend>Товары</legend>
      <div id="positions">
        <%= render partial: 'positions_fields', locals: {f: f} %>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <%= f.link_to_add 'Добавить товар', :purchase_line_items, class: 'btn btn-default', data: { target: '#positions' } %>
        </div>
      </div>
    </fieldset>

    <div class="row">
      <div class="col col-lg-10 col-offset-2">
        <%= f.submit 'Сохранить изменения', class: 'btn btn-warning' %>
        или
        <%= link_to 'назад к структуре', purchase_purchases_path, class: 'btn btn-primary' %>
      </div>
    </div>
<%end%>

<script>
    $('form').validate({
        rules: {
            "purchase_purchase[dep_id]": {required: true},
            "purchase_purchase[note]": {required: true}
        },
        messages: {
            "purchase_purchase[dep_id]": {
                required: 'Выберите структурное подразделение'
            },
            "purchase_purchase[note]": {
                required: 'Введите должность ответственного сотрудника'
            }
        }
    });
</script>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Статистика</h4>
      </div>
      <div class="modal-body">
          <%= render partial: 'formreg' %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>