<%= nested_form_for @purchase, html: { class: 'form-horizontal', autocomplete: 'off' } do |f| %>
  <fieldset>
    <legend>Новая заявка</legend>
      <div class="row">
        <%= f.label :payment_type, 'Источник финансирования', class: 'col col-lg-2 control-label' %>
        <div class="col col-sm-10">
          <%= f.select :payment_type, options_for_select(
                  [['Внебюджет', Purchase::Purchase::PAYMENT_OFF_BUDGET],
                   ['Бюджет', Purchase::Purchase::PAYMENT_BUDGET]], f.object.payment_type),
                       {include_blank: true}, class: 'form-control' %>
        </div>
      </div>
      <div class="row">
        <%= f.label :id, 'Номер заявки', class: 'col col-lg-2 control-label' %>
        <div class="col col-sm-10">
          <%= f.text_field :id, disabled: true, class: 'form-control' %>
        </div>
      </div>
      <div class="row">
        <%= f.label :date_registration, 'Дата регистрации', class: 'col col-lg-2 control-label' %>
        <div class="col col-sm-10">
          <%= f.text_field :date_registration, value: (f.object.date_registration ? l(f.object.date_registration, format: '%d.%m.%Y') : ''), class: 'form-control datepicker' %>
        </div>
      </div>
      <div class="row">
        <%= f.label :dep_id, 'Структурное подразделение', class: 'col col-lg-2 control-label' %>
        <div class="col col-sm-10">
          <%= f.collection_select(:dep_id, @current_user.departments.map {|d|  d.parent? ? Department.find(d.parent) : d }, :id, :name, { include_blank: true }, class: 'form-control') %>
        </div>
      </div>
      <div class="row">
        <%= f.label :status, 'Статус', class: 'col col-lg-2 control-label' %>
          <div class='col col-sm-10'>
            <% stat = [] %>
            <% [{type: 'обработка', key:  'обработка'}, {type: 'на подписи', key: 'подпись'},{type: 'зарегистрирован', key: 'зарегистрирован'} ].each do |fin| %>
                <% stat << (OpenStruct.new fin) %>
            <% end %>
            <%= f.select :status, options_from_collection_for_select(stat, :key, :type, @purchase.status), {}, class: 'form-control' %>
            </div>
      </div>
      <div class="row">
        <%= f.label :purchase_introduce, 'Проект вносит ', class: 'col col-lg-2 control-label' %>
        <div class="col col-sm-10">
          <%= text_field_tag 'user', "#{@current_user.full_name}, #{@current_user.roles.collect {|p| p.title }.first}", {disabled: true, class: 'form-control'} %>
          <%= f.hidden_field :purchase_introduce, value: @current_user.id %>
        </div>
      </div>
    </fieldset>

  <fieldset>
      <legend>Товары</legend>
      <div id="positions">
        <%= render partial: 'positions_fields', locals: {f: f} %>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <%= f.link_to_add 'Добавить товар', :purchase_line_items, class: 'btn btn-default', data: { target: '#positions' } %>
        </div>
      </div>
  </fieldset>
  <fieldset>
    <div class="row">
      <div class="col col-lg-10 col-offset-2">
        <%= f.submit 'Сохранить изменения', class: 'btn btn-warning' %>
        или
        <%= link_to 'назад', purchase_purchases_path, class: 'btn btn-primary' %>
      </div>
    </div>
  </fieldset>
<% end %>

<script>
    $('form').validate({
        rules: {
            "purchase_purchase[dep_id]": {required: true},
            "purchase_purchase[payment_type]": {required: true},
            "purchase_purchase[date_registration]": {required: true}
        },
        messages: {
            "purchase_purchase[payment_type]": {
                required: 'Выберите источник финансирования'
            },
            "purchase_purchase[dep_id]": {
                required: 'Выберите структурное подразделение'
            },
            "purchase_purchase[date_registration]": {
                required: 'Выберите дату'
            }
        }
    });
</script>
