<%= f.fields_for :purchase_line_items do |p| %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Позиция</h3>
    </div>
    <div class="panel-body">
      <%= p.hidden_field :id %>

      <div class="row">
        <%= p.label :good_id, 'Товар', class: 'col-sm-2 control-label' %>
        <div class="col-sm-10">
          <%= p.select :good_id, Purchase::Good.all.map{ |g| [g.name, g.id] }, {include_blank: true}, class: 'form-control' %>
        </div>
        <!--
        <div class="col-sm-2">
          <%#= link_to '#goodModal', class: 'btn btn-default pull-right', data: {toggle: 'modal'} do %>
            Добавить новый
          <%# end %>
        </div>
        -->
      </div>

      <div class="row">
        <%= p.label :planned_sum, 'Планируемая сумма' , class: 'col-sm-2 control-label'%>
        <div class="col-sm-10">
          <%= p.text_field :planned_sum, class: 'form-control' %>
        </div>
      </div>

      <div class="row">
        <%= p.label :period, 'Период (срок) осуществления', class: 'col-sm-2 control-label' %>
        <div class="col-sm-10">
          <% stat = [] %>
          <% [{type: '12 мес', key:  '12 мес'}, {type: '24 мес', key: '24 мес'}, {type: '36 мес', key: '36 мес'}].each do |fin| %>
              <% stat << (OpenStruct.new fin) %>
          <% end %>
          <%= p.select :period, options_from_collection_for_select(stat, :key, :type), {include_blank: false}, class: 'form-control' %>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-offset-2 col-sm-10">
          <%= p.link_to_remove 'Удалить позицию', class: 'btn btn-danger' %>
        </div>
      </div>
    </div>
  </div>
<% end %>

