<%= render partial: 'purchase/header' %>
<div class="page-header">
  <h3>Заявка
    <% if @purchase.date_registration.present? %>
        № <%= @purchase.id %> от <%= l(@purchase.date_registration) %> на сумму <%= @purchase.purchase_line_items.collect { |li| li.planned_sum.to_i }.sum  %> руб.
    <% else %>
        № <%= @purchase.id %> на сумму <%= @purchase.purchase_line_items.purchase_price(@purchase.id) %> руб.
    <% end %>
  </h3>
</div>
<div>поиск по товарным позициям</div>
<table class="table table-condensed">
  <thead>
  <tr>
    <th>#</th>
    <th>Товар</th>
    <th>Обоснование</th>
    <th>По плану</th>
    <th>Срок</th>
    <th>Поставщик</th>
    <th>Остаток</th>
    <th>Договора</th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% if @purchase.purchase_line_items.any? %>
    <% @purchase.purchase_line_items.each_with_index  do |line_item, index| %>
        <% if line_item.published == ['опубликован' 'законтрактирован', 'оплачен', 'поставлен'] %>
          <tr class="success">
            <td class="text-mutted"><%= index + 1 %></td>
            <td><%= line_item.purchase_goods.nil? ? '-' : line_item.purchase_goods.name %></td>
            <td><%= line_item.purchase_goods.nil? ? '-' : line_item.purchase_goods.demand %></td>
            <td><%= line_item.planned_sum %></td>
            <td><%= line_item.period %></td>
            <td><%= line_item.purchase_suppliers.nil? ? '-' : line_item.purchase_suppliers.name %></td>
            <td><%= line_item.purchase_contract_items.collect { |li| li.total_price.to_i }.sum  %></td>
            <td><% line_item.purchase_contract_items.each do |ci| %>
                  <% if ci.purchase_contracts.present? %>
                      <% ci.purchase_contracts.each do |c| %>
                        <%= c.number %>
                        <%= c.date_registration %>
                      <% end %>
                  <% else %>
                    нет
                  <% end %>
                <% end %>
            </td>
            <td>
              <%= link_to '#contractModal', class: 'btn btn-default', data: {toggle: 'modal'} do %>
                  Добавить контракт
              <% end %>]
              <%= render partial: 'contract_modal', locals: {lineitem: line_item} %>
            </td>
            <td>
              <%= link_to edit_purchase_line_item_path(line_item), class: 'btn btn-warning', title: 'Изменить' do %>
                  <span class="glyphicon glyphicon-edit"></span>
              <% end %>
            </td>
            <td>
              <%= link_to purchase_line_item_path(line_item), class: 'btn btn-danger', title: 'Удалить',
                          method: :delete,
                          data: { confirm: 'Вы уверены? Запись будет удалена!' }  do %>
                  <span class="glyphicon glyphicon-remove"></span>
              <% end %>
            </td>
          </tr>
        <% else %>
          <tr>
            <td class="text-mutted"><%= index + 1 %></td>
            <td><%= line_item.purchase_goods.nil? ? '-' : line_item.purchase_goods.name %></td>
            <td><%= line_item.purchase_goods.nil? ? '-' : line_item.purchase_goods.demand %></td>
            <td><%= line_item.planned_sum %></td>
            <td><%= line_item.period %></td>
            <td><%= line_item.purchase_suppliers.nil? ? '-' : line_item.purchase_suppliers.name %></td>
            <td><%= line_item.purchase_contract_items.collect { |li| li.total_price.to_i }.sum  %></td>
            <td><% line_item.purchase_contract_items.each do |ci| %>
                  <% if ci.purchase_contracts.present? %>
                      <%# ci.purchase_contracts.each do |c| %>
                          <%= ci.purchase_contracts.number %>
                          <%= ci.purchase_contracts.date_registration %>
                      <%# end %>
                  <% else %>
                      нет
                  <% end %>
              <% end %>
            </td>
            <td>
              <%= link_to edit_purchase_line_item_path(line_item), class: 'btn btn-warning', title: 'Изменить' do %>
                  <span class="glyphicon glyphicon-edit"></span>
              <% end %>
            </td>
            <td>
              <%= link_to purchase_line_item_path(line_item), class: 'btn btn-danger', title: 'Удалить',
                          method: :delete,
                          data: { confirm: 'Вы уверены? Запись будет удалена!' }  do %>
                  <span class="glyphicon glyphicon-remove"></span>
              <% end %>
            </td>
          </tr>
        <% end %>
    <% end %>
  <% else %>
    <p>Товары отсутствуют</p>
  <% end %>
  </tbody>
</table>

<%= link_to 'Распечатать', purchase_purchase_path(format: 'xlsx'), class: 'btn btn-info' %>


