<%=  form_for @support, url: (@support.id ? student_support_path(@student, @support) : student_supports_path), method: (@support.id ? :put : :post) do |f| %>
 <%= f.hidden_field :support_student, value: @student.id %>
 <%= f.hidden_field :year, value: 2013 %>
 <%= f.hidden_field :month, value: 12 %>

  <% My::SupportCause.all.each do |cause| %>
    <label><%= check_box_tag 'causes[]', cause.id, (@support ? (@support.causes.include? cause) : false),  id: "cause_#{cause.id}", class: 'support_reasons' %>     <%= cause.title %></label>
    <br>
  <% end %>
  <br>

   <div class='row'>
    <div class='col col-lg-2'>
      <%= f.label :series, 'Серия паспорта' %>
    </div>
    <div class='col col-lg-2'>
      <%= f.text_field :series, class: 'form-control', required: 'required'%>
    </div>
   </div>
    <div class='row'>
      <div class='col col-lg-2'>
        <%= f.label :number, 'Номер паспорта' %>
      </div>
      <div class='col col-lg-3'>
        <%= f.text_field :number, class: 'form-control', required: 'required'%>
      </div>
    </div>
    <div class='row'>
      <div class='col col-lg-2'>
        <%= f.label :date, 'Дата выдачи' %>
      </div>
      <div class='col col-lg-3'>
        <%= f.text_field :date, class: 'form-control datepicker', pattern: '[0-9][0-9]\.[0-9][0-9]\.[0-9][0-9][0-9][0-9]', required: 'required'%>
      </div>
    </div>
    <div class='row'>
      <div class='col col-lg-2'>
        <%= f.label :department, 'Кем выдан' %>
      </div>
      <div class='col col-lg-6'>
        <%= f.text_field :department, class: 'form-control', required: 'required'%>
      </div>
    </div>
    <div class='row'>
      <div class='col col-lg-2'>
        <%= f.label :birthday, 'Дата рождения' %>
      </div>
      <div class='col col-lg-3'>
        <%= f.text_field :birthday, class: 'form-control datepicker', pattern: '[0-9][0-9]\.[0-9][0-9]\.[0-9][0-9][0-9][0-9]', required: 'required'%>
      </div>
    </div>
    <div class='row'>
      <div class='col col-lg-2'>
        <%= f.label :phone, 'Мобильный телефон' %>
      </div>
      <div class='col col-lg-6'>
        <%= f.text_field :phone, class: 'form-control', required: 'required'%>
      </div>
    </div>
  <div class='row'>
    <div class='col col-lg-2'>
      <%= f.label :address, 'Адрес регистрации по месту проживания (по паспорту)' %>
    </div>
    <div class='col col-lg-6'>
      <%= f.text_area :address, rows: '4', class: 'form-control', required: 'required'%>
    </div>
  </div>


  <div class='row'>
    <div class='col col-lg-10 col-offset-2'>
      <% if @support.id %>
        <%= f.submit 'Зарегистрировать заявление', class: 'btn btn-primary' %>
      <% else %>
        <%= button_tag 'Зарегистрировать заявление', class: 'btn btn-primary', id: 'supportPreventModal' %>
      <% end %>
    </div>
  </div>
<% end %>
<div id="preventModal"></div>