<%=  form_for @support, url: (@support.id ? student_support_path(@student, @support) : student_supports_path), method: (@support.id ? :put : :post) do |f| %>
 <%= f.hidden_field :support_student, value: @student.id %>
 <%= f.hidden_field :year, value: Date.today.year %>
 <%= f.hidden_field :month, value: Date.today.month %>

  <% My::SupportCause.all.each do |cause| %>
    <label><%= check_box_tag 'causes[]', cause.id, (@support ? (@support.causes.include? cause) : false),  id: "cause_#{cause.id}", class: 'support_reasons' %>     <%= cause.title %></label>
    <br>
  <% end %>
  <br>

   <div class='row'>
    <div class='col col-lg-2'>
      <%= f.label :series, 'Серия паспорта', class: 'control-label' %>
    </div>
    <div class='col col-lg-2'>
      <%= f.text_field :series, class: 'form-control', required: 'required'%>
    </div>
   </div>
    <div class='row'>
      <div class='col col-lg-2'>
        <%= f.label :number, 'Номер паспорта', class: 'control-label' %>
      </div>
      <div class='col col-lg-3'>
        <%= f.text_field :number, class: 'form-control', required: 'required'%>
      </div>
    </div>
    <div class='row'>
      <div class='col col-lg-2'>
        <%= f.label :date, 'Дата выдачи', class: 'control-label' %>
      </div>
      <div class='col col-lg-3'>
        <%= f.text_field :date, class: 'form-control datepicker', pattern: '[0-9][0-9]\.[0-9][0-9]\.[0-9][0-9][0-9][0-9]', required: 'required'%>
      </div>
    </div>
    <div class='row'>
      <div class='col col-lg-2'>
        <%= f.label :department, 'Кем выдан', class: 'control-label' %>
      </div>
      <div class='col col-lg-6'>
        <%= f.text_field :department, class: 'form-control', required: 'required'%>
      </div>
    </div>
    <div class='row'>
      <div class='col col-lg-2'>
        <%= f.label :birthday, 'Дата рождения', class: 'control-label' %>
      </div>
      <div class='col col-lg-3'>
        <%= f.text_field :birthday, class: 'form-control datepicker', pattern: '[0-9][0-9]\.[0-9][0-9]\.[0-9][0-9][0-9][0-9]', required: 'required'%>
      </div>
    </div>
    <div class='row'>
      <div class='col col-lg-2'>
        <%= f.label :phone, 'Мобильный телефон', class: 'control-label' %>
      </div>
      <div class='col col-lg-6'>
        <%= f.text_field :phone, class: 'form-control', required: 'required'%>
      </div>
    </div>
  <div class='row'>
    <div class='col col-lg-2'>
      <%= f.label :address, 'Адрес регистрации по месту проживания (по паспорту)', class: 'control-label' %>
    </div>
    <div class='col col-lg-6'>
      <%= f.text_area :address, rows: '4', class: 'form-control', required: 'required'%>
    </div>
  </div>


  <div class='row'>
    <div class='col col-lg-10 col-offset-2'>
      <% if @support.id %>
        <%= f.submit 'Зарегистрировать заявление', class: 'btn btn-primary' %>
      <% else %>
        <%= button_tag 'Зарегистрировать заявление', class: 'btn btn-primary', id: 'supportPreventModal' %>
      <% end %>
    </div>
  </div>
<% end %>
<div id="preventModal">
  <div class="modal fade" id="preventionSupport" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Регистрация заявления</h4>
        </div>
          <%= image_tag asset_path('loader.gif'), class: 'loader', id: 'preventSupportImg' %>
      </div>
    </div>
  </div>
</div>