<% if @achievements.empty? %>
  <p class="lead">
    Вы ещё не добавили себе ни одного показателя эффективности за этот
    отчётный период. Выберите необходимые показатели из списка ниже.
  </p>
<% else %>
  <table class="table">
    <% @achievements.group_by { |a| a.activity }.each do |activity, achievements| %>
      <tr>
        <td colspan="3">
          <strong><%= activity.name %></strong>
        </td>
      </tr>
      <% achievements.each do |a| %>
        <tr class="<%= 'danger' if a.refused? %>">
          <td class="no-border-top full-width">
            <%= a.description %>
          </td>
          <% if a.refused? %>
            <td colspan="2">
              Показатель не&nbsp;подтверждён
              контролирующим лицом
            </td>
          <% else %>
            <td class="no-border-top" style="white-space: nowrap;">
              <%= activity_credit_description(a.activity) unless a.refused? %>
            </td>
            <td class="no-border-top">
              <%= link_to achievement_path(a, period: a.period.id), method: :delete,
                          confirm: 'Вы уверены?', class: 'text-danger' do %>
                Удалить
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    <% end %>

    <tr class="success">
      <th class="text-right">
        Всего подано на утверждение:
      </th>
      <th colspan="2" style="white-space: nowrap;">
        <%= achievements_credits(@achievements) %>
      </th>
    </tr>
  </table>

  <%= form_for AchievementReport.new, class: 'form-horizontal' do |f| %>
    <%= f.hidden_field :achievement_period_id, value: @achievements.first.period.id %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.hidden_field :relevant, value: 1 %>

    <div class="form-group">
      <div class="col-sm-12">
        <%= f.submit 'Закончить формирование отчёта об эффективности',
                     class: 'btn btn-primary pull-right',
                     confirm: 'Вы всё внимательно проверили?' %>
      </div>
    </div>
  <% end %>
<% end %>
