<div id="<%= dom_id(achievement, :validate) %>">

  <%= form_for achievement, remote: true,
               html: { class: 'form-horizontal form-achievement-validation',
                       style: "#{'background-color: #d9534f;' if achievement.refused?} #{'background-color: #5cb85c;' if achievement.accepted?}" } do |f| %>
    <%= hidden_field_tag :role, 'subdepartment' %>
  <style>
    .achievement {
      padding: 5px;
    }
    .achievement:hover {
      background-color: #bfbfbf;
    }
  </style>
  <div class="row achievement">
    <div class="col-sm-6">
      <p><%= achievement.description %></p>
    </div>
    <div class="col-sm-2">
      <strong>
        <% if achievement.cost? %>
          <%= "#{prettify(achievement.cost)} #{Russian::p(prettify(achievement.cost), 'балл', 'балла', 'баллов', 'балла')}" %>
        <% else %>
          <%= activity_credit_description(achievement.activity) unless achievement.refused? %>
        <% end %>
      </strong>
    </div>

    <%= f.hidden_field :status, class: 'achievement-status' %>

    <div class="col-sm-4">
      <% if achievement.activity.need_cost? && achievement.cost.zero? %>
        <strong>Требуется уточнение показателя. Пусть сотрудник проверит заполнение информации о соисполнителях в своём личном кабинете.</strong>
      <% else %>
        <% if achievement.refused? %>
          <%= f.submit 'Вернуть и подтвердить', class: 'btn btn-success',
                       onclick: "$(this).parents('form').eq(0).find('.achievement-status').val(2);" %>
        <% else %>
          <% unless achievement.accepted? || achievement.accepted_final? %>
            <%= f.submit 'Подтвердить', class: 'btn btn-success',
                         onclick: "$(this).parents('form').eq(0).find('.achievement-status').val(2);" %>
          <% end %>

          <%= f.submit 'Удалить', class: 'btn btn-danger pull-right',
                       confirm: 'Вы уверены?',
                       onclick: "$(this).parents('form').eq(0).find('.achievement-status').val(3);" %>
        <% end %>
      <% end %>
    </div>
  </div>
  <% end %>

</div>