<% if @achievements.empty? %>
  <p class="lead">
    Вы ещё не добавили себе ни одного показателя эффективности за этот
    отчётный период. Выберите необходимые показатели из списка ниже.
  </p>
<% else %>
  <table class="table">
    <% @achievements.group_by { |a| a.activity }.each do |activity, achievements| %>
      <tr>
        <td colspan="4">
          <strong><%= activity.name %></strong>
        </td>
      </tr>
      <% achievements.each do |a| %>
        <tr class="<%= 'danger' if a.refused? %>">
          <td class="no-border-top full-width">
            <%= a.description %>
          </td>
          <% if a.refused? %>
            <td colspan="3">
              Показатель отклонён
              контролирующим лицом
            </td>
          <% else %>
            <td class="no-border-top" style="white-space: nowrap;">
              <% if a.activity.need_cost? %>
                <%= "#{prettify(a.cost)} #{Russian::p(prettify(a.cost), 'балл', 'балла', 'баллов', 'балла')}" %>
              <% else %>
                <%= activity_credit_description(a.activity) unless a.refused? %>
              <% end %>
            </td>
            <% if @already_closed %>
              <td colspan="2" class="no-border-top"></td>
            <% else %>
              <td class="no-border-top">
                <% if a.activity.need_cost? && a.cost.zero? %>
                  <strong class="text-danger">
                    ТРЕБУЕТСЯ УТОЧНЕНИЕ, НАЖМИТЕ «РЕДАКТИРОВАТЬ»
                  </strong>
                <% end %>
              </td>
              <td class="no-border-top">
                <a href="#" class="toggle_edit_achievement_<%= a.id %> text-success">Редактировать</a>
                <script>
                  $(function() {
                    $('.toggle_edit_achievement_<%= a.id %>').click(function(event) {
                      event.preventDefault();

                      $('#edit_achievement_<%= a.id %>').html(
                          '<%=j render partial: 'form', locals: { period: @period, activity: a.activity, achievement: a } %>'
                      );
                      initEditAchievementForm($('#a<%= a.activity.id %>_edit_achievement_<%= a.id %>'));
                      $('#a<%= a.activity.id %>_edit_achievement_<%= a.id %>').show();
                    });
                  });
                </script>

                <br>

                <%= link_to achievement_path(a, period: a.period.id), method: :delete,
                            confirm: 'Вы уверены?', class: 'text-danger' do %>
                  Удалить
                <% end %>
              </td>
            <% end %>
          <% end %>
        </tr>
        <% unless a.refused? %>
          <tr>
            <td colspan="4" class="no-border-top" id="edit_achievement_<%= a.id %>">

            </td>
          </tr>
        <% end %>
      <% end %>
    <% end %>

    <tr class="success">
      <th class="text-right">
        Всего подано на утверждение:
      </th>
      <th colspan="3" style="white-space: nowrap;">
        <%= achievements_credits(@achievements) %>
      </th>
    </tr>
  </table>

  <% if @period.active? %>
    <% if @already_closed %>
      <% relevant_reports = @period.achievement_reports.by_user(current_user).only_relevant %>
      <% if relevant_reports.any? %>
        <%= link_to reopen_achievement_report_path(relevant_reports.first), class: 'btn btn-success pull-right', confirm: 'Уверены? Если уже распечатана и подписана бумажная версия отчёта — её придётся печатать заново.' do %>
          <span class="glyphicon glyphicon-edit"></span>
          Внести изменения
        <% end %>
      <% end %>
    <% else %>
      <%= form_for AchievementReport.new, class: 'form-horizontal' do |f| %>
        <%= f.hidden_field :achievement_period_id, value: @achievements.first.period.id %>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <%= f.hidden_field :relevant, value: 1 %>

        <div class="form-group">
          <div class="col-sm-12">
            <%= f.submit 'Закончить формирование отчёта об эффективности',
                         class: 'btn btn-primary pull-right' %>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
<% end %>
