<%= form_for Achievement.new, namespace: "a#{activity.id}", remote: true, html: { style: 'display: none;' } do |f| %>
  <%= f.hidden_field :achievement_period_id, value: period.id %>
  <%= f.hidden_field :activity_id, value: activity.id %>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class: 'form-control' %>
    <p class="help-block">
      <strong>Пример</strong> <%= activity.placeholder %>
    </p>
  </div>

  <%= f.submit 'Сохранить', class: 'btn btn-primary' %> или
  <%= link_to 'отменить', '#', class: 'hide-activity', data: { activity: activity.id } %>
<% end %>
