<div class="page-header">
  <h2>Расчёт надбавок</h2>
</div>

<form class="form-inline" style="margin-bottom: 15px;">
  <div class="form-group">
    <label>Институт</label>
    <%= select_tag :department, options_for_select(Department.where(department_id: @departments).map { |d| [d.abbreviation, d.id] }, params[:department]),
                   class: 'form-control', onchange: %q($(this).parents('form').submit();) %>
  </div>
</form>

<ul>
  <li>Минимальный балл — <%= @sums.min_by { |pair| pair[1] }[1] %></li>
  <li>Максимальный балл — <%= @sums.max_by { |pair| pair[1] }[1] %></li>
  <li>Медиана — <%= @sums.length%2 == 1 ? @sums.sort_by{|x| x[1]}[(@sums.length/2).floor][1] : (@sums.sort_by{|x| x[1]}[(@sums.length/2)-1][1] + @sums.sort_by{|x| x[1]}[(@sums.length/2)][1])/2 %></li>
</ul>

<%= render_distribution("Распределение баллов — #{@department.abbreviation}", @sums, id: 'sums') %>
<%= render_distribution("Распределение баллов без дополнительных показателей — #{@department.abbreviation}", @sums_without_additional, id: 'sums_without_additional') %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>НПР</th>
      <th>Сумма баллов</th>
    </tr>
  </thead>
  <% @sums.sort_by { |p| p[1] }.each do |user_id, credit| %>
  <%# @sums.sort_by { |p| u = User.find(p[0]) ; [u.departments_ids, u.full_name] }.each do |user_id, credit| %>
  <%
     res = {}
     @sums.each { |p| res[p[0]] = { credit: p[1] }
  %>
    <tr>
      <td><%= user_id %></td>
      <td><%= User.find(user_id).positions.inspect %></td>
      <td><%= User.find(user_id).full_name %></td>
      <td><%= credit %></td>
    </tr>
  <% end %>
</table>


