<div class="page-header">
  <h1>Периоды отчётности по показателям эффективности</h1>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Период</th>
      <th>Состояние</th>
      <th></th>
    </tr>
  </thead>
  <% @periods.each do |p| %>
    <tr>
      <% relevant_reports = p.achievement_reports.by_user(current_user).only_relevant %>

      <td class="text-muted"><%= p.id %></td>
      <td class="full-width">
        <%= p.description %>
        <br><br>
        <% if relevant_reports.any? %>
          <% if relevant_reports.first.accepted_or_refused? %>
            <strong>Отчёт заполнен и верифицирован.</strong>
          <% else %>
            <strong>Отчёт заполнен и ожидает верификации.</strong>
          <% end %>
        <% else %>
          <% if p.active? %>
            <strong>Можно заполнять данные</strong>
          <% else %>
            <span class="text-muted">Приём данных завершён</span>
          <% end %>
        <% end %>
      </td>
      <td>
        <% if relevant_reports.any? %>
          <%= link_to achievements_path(year: p.year, semester: p.semester), class: 'btn btn-default' do %>
            <span class="glyphicon glyphicon-eye-open"></span> Просмотреть
          <% end %>

          <br><br>

          <% if p.active? %>
            <%= link_to reopen_achievement_report_path(relevant_reports.first), class: 'btn btn-success' do %>
              <span class="glyphicon glyphicon-edit"></span>
              Внести изменения
            <% end %>
            <br><br>
          <% end %>

          <% if relevant_reports.first.accepted_or_refused? %>
            <%= link_to achievement_report_path(relevant_reports.first, format: :pdf), class: 'btn btn-default' do %>
              <span class="glyphicon glyphicon-print"></span> Распечатать
            <% end %>
          <% else %>
            <p><em>Отчёт не прошёл полную верификацию заведующим кафедрой — печать не возможна.</em></p>
          <% end %>
        <% else %>
          <% if p.active? %>
            <%= link_to achievements_path(year: p.year, semester: p.semester), class: 'btn btn-default' do %>
              <span class="glyphicon glyphicon-edit"></span> Ввести показатели
            <% end %>
          <% end %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>