<%= form_for @good, html: { class: 'form-horizontal' } do |f| %>

    <div class="row">
      <%= f.label :name, 'Наименование', class: 'col col-lg-2 control-label' %>
      <div class="col col-sm-10">
        <%= f.text_field :name,  class: 'form-control' %>
        <span class="help-block">

        </span>
      </div>
    </div>

    <div class="row">
      <%= f.label :demand, 'Обоснование', class: 'col col-lg-2 control-label' %>
      <div class="col col-sm-10">
        <%= f.text_field :demand, class: 'form-control' %>
      </div>
    </div>

    <div class="row">
      <div class="col col-lg-10 col-offset-2">
        <%= f.submit "Сохранить изменения", class: 'btn btn-warning' %>
        или
        <%= link_to 'назад к структуре', purchase_goods_path, class: 'btn btn-primary' %>
      </div>
    </div>
<%end%>

<script>
    $('form').validate({
        rules: {
            "purchase_good[name]": {required: true}
        },
        messages: {
            "purchase_good[name]": {
                required: 'Поле не должно быть пустым!'
            }
        }
    });
</script>