<%= form_tag study_discipline_lesson_lessonmarks_path(@subject), class: 'val' do %>

  <table class='table' id='stud-marks'>
    <thead>
    <tr>
      <th>#</th>
      <th>Студент</th>
      <th>Результаты контроля</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% @students.each do |student| %>
    <tr>
      <td>
        <%= student.id %>
        <%= hidden_field_tag 'lessonmarks[][student]', student.id %>
        <%= hidden_field_tag 'lessonmarks[][discipline]', @subject.id %>
      </td>
      <td><%= student.person.full_name %></td>
      <td style='padding-left: 45px;'>
        <% if @lesson.test? %>
          <%= hidden_field_tag 'lessonmarks[][mark]', nil, id: "#{student.id}_mark"%>
          <ul class='nav nav-pills pill-select' name='pillmark' id='pillmark'>
            <li><a data-toggle='pill' data-value='0' data-input="<%= student.id %>_mark"  href='#'>Не зачтено</a></li>
            <li><a data-toggle='pill' data-value='1' data-input="<%= student.id %>_mark"  href='#'>Зачтено</a></li>
          </ul>
        <% else %>
          <%= hidden_field_tag 'lessonmarks[][mark]', nil, id: "#{student.id}_mark" %>
          <ul class='nav nav-pills pill-select' name='pillmark' id='pillmark'>
            <li><a data-toggle='pill' data-value='2' data-input="<%= student.id %>_mark"  href='#'>Неудовл.</a></li>
            <li><a data-toggle='pill' data-value='3' data-input="<%= student.id %>_mark"  href='#'>Удовл.</a></li>
            <li><a data-toggle='pill' data-value='4' data-input="<%= student.id %>_mark"  href='#'>Хорошо</a></li>
            <li><a data-toggle='pill' data-value='5' data-input="<%= student.id %>_mark"  href='#'>Отлично</a></li>
          </ul>
        <% end %>
      </td>
      <td></td>
    </tr>
    <% end %>
    </tbody>
  </table>

  <%= submit_tag 'Сохранить результаты', class: 'btn btn-default' %>
  
<% end %>