<div class='page-header'>
  <h1>
    <%= @discipline.title %>
    <br>
    <small>
      <%= @discipline.group %>
    </small>
  </h1>
  <h2><%= @lesson.date %> <%= @lesson.type %></h2>
</div>

<%= render 'form' %>