<%= form_for @review, html: { class: 'form-horizontal' } do |f| %>
    <div class="row">
      <%= f.label :number_review, 'Номер рецензии', class: 'col col-lg-2 control-label' %>
      <div class="col col-sm-10">
        <%= f.text_field :number_review, class: 'form-control' %>
        <span class="help-block">
        </span>
      </div>
    </div>

    <div class="row">
      <%= f.label :date_registration, 'Дата регистрации', class: 'control-label col col-sm-2' %>
      <div class="col col-sm-10">
        <%= f.text_field :date_registration, value: (f.object.date_registration ? l(f.object.date_registration, format: '%d.%m.%Y') : ''), class: 'form-control datepicker' %>
      </div>
    </div>

    <div class="row">
      <%= f.label :status, 'Статус', class: 'control-label col col-sm-2' %>
      <div class='col col-sm-10'>
        <% stat = [] %>
        <% [{type: 'обработка', key:  'обработка'}, {type: 'завершен', key: 'завершен'},{type: 'истек', key: 'истек'} ].each do |fin| %>
            <% stat << (OpenStruct.new fin) %>
        <% end %>
        <%= f.select :status, options_from_collection_for_select(stat, :key, :type, @review.status), {}, class: 'form-control' %>
      </div>
    </div>

    <div class="row">
      <%= f.label :contract_number, 'Номер договора', class: 'col col-lg-2 control-label' %>
      <div class="col col-sm-10">
        <%= f.text_field :contract_number, class: 'form-control' %>
        <span class="help-block">

        </span>
      </div>
    </div>

    <div class="row">
      <%= f.label :contract_date, 'Дата договора', class: 'control-label col col-sm-2' %>
      <div class="col col-sm-10">
        <%= f.text_field :contract_date, value: (f.object.contract_date ? l(f.object.contract_date, format: '%d.%m.%Y') : ''), class: 'form-control datepicker' %>
      </div>
    </div>

    <div class="row">
      <%= f.label :ordt, 'Заказчик', class: 'control-label col col-sm-2' %>
      <div class="col col-sm-10">
        <% ordtt = [] %>
        <% [{type: 'физ.лицо', key:  'физ'}, {type: 'юр.лицо', key: 'юр'}].each do |fin| %>
            <% ordtt << (OpenStruct.new fin) %>
        <% end %>
        <%= f.select :ordt, options_from_collection_for_select(ordtt, :key, :type, @review.ordt), {include_blank: true}, class: 'form-control' %>
      </div>
    </div>

    <div class="row">
      <%= f.label :author, 'Автор', class: 'col col-lg-2 control-label' %>
      <div class="col col-sm-10">
        <%= f.text_field :author, class: 'form-control' %>
      </div>
    </div>

    <div class="row">
      <%= f.label :university, 'Учебное заведение', class: 'col col-lg-2 control-label' %>
      <div class="col col-sm-10">
        <%= f.collection_select(:university_id, University.all.order(:name), :id, :name, { include_blank: true }, class: 'form-control') %>
      </div>
    </div>

    <div class="row">
      <%= f.label :title, 'Название пособия', class: 'col col-lg-2 control-label'%>
      <div class="col col-sm-10">
        <%= f.text_field :title,  class: 'form-control' %>
      </div>
    </div>

    <div class="row">
      <%= f.label :sheet_number, 'Количество авторских листов', class: 'col col-lg-2 control-label' %>
      <div class="col col-sm-10">
        <%= f.text_field :sheet_number, placeholder: 'Пример, 4.52', class: 'form-control' %>
      </div>
    </div>

    <div class="row">
      <%= f.label :total_cost, 'Общая стоимость', class: 'col col-lg-2 control-label' %>
      <div class="col col-sm-10">
        <%= f.text_field :total_cost, placeholder: 'Пример, 4.52', class: 'form-control' %>
      </div>
    </div>

    <div class="row">
      <%= f.label :cost, 'Стоимость рецензии', class: 'col col-lg-2 control-label' %>
      <div class="col col-sm-10">
        <%= f.text_field :cost, placeholder: 'Пример, 4.52', class: 'form-control' %>
      </div>
    </div>

    <div class="row">
      <%= f.label :university_author, 'Уполномоченный вуз', class: 'col col-lg-2 control-label' %>
      <div class="col col-sm-10">
        <%= f.collection_select(:university_auth_id, University.all.order(:name), :id, :name, { include_blank: true}, class: 'form-control') %>
      </div>
    </div>

    <div class="row">
      <%= f.label :auth_contract_number, 'Договор с уполн. вузом', class: 'control-label col col-sm-2' %>
      <div class="col col-sm-10">
        <%= f.text_field :auth_contract_number, class: 'form-control datepicker' %>
      </div>
    </div>

    <div class="row">
      <%= f.label :evaluation, 'Тип отзыва', class: 'control-label col col-sm-2' %>
      <div class="col col-sm-10">
        <% eval = [] %>
        <% [{type: '+', key:  '+'}, {type: '-', key: '-'}, {type: 'нет', key: 'неопр'}].each do |fin| %>
            <% eval << (OpenStruct.new fin) %>
        <% end %>
        <%= f.select :evaluation, options_from_collection_for_select(eval, :key, :type, @review.evaluation), {include_blank: true}, class: 'form-control' %>
      </div>
    </div>

    <div class="row">
      <%= f.label :date_auth_university, 'Дата отправки в уполн. вуз', class: 'control-label col col-sm-2' %>
      <div class="col col-sm-10">
        <%= f.text_field :date_auth_university, value: (f.object.date_auth_university ? l(f.object.date_auth_university, format: '%d.%m.%Y') : ''), class: 'form-control datepicker' %>
      </div>
    </div>

    <div class="row">
      <%= f.label :date_auth_contract, 'Дата отправки авторского договора', class: 'control-label col col-sm-2' %>
      <div class="col col-sm-10">
        <%= f.text_field :date_auth_contract, value: (f.object.date_auth_contract ? l(f.object.date_auth_contract, format: '%d.%m.%Y') : ''), class: 'form-control datepicker' %>
      </div>
    </div>

    <div class="row">
      <%= f.label :date_review, 'Дата отправки рецензии', class: 'control-label col col-sm-2' %>
      <div class="col col-sm-10">
        <%= f.text_field :date_review, value: (f.object.date_review ? l(f.object.date_review, format: '%d.%m.%Y') : ''), class: 'form-control datepicker' %>
      </div>
    </div>

    <div class="row">
      <%= f.label :date_accounting, 'Дата отправки бухгалтерских документов', class: 'control-label col col-sm-2' %>
      <div class="col col-sm-10">
        <%= f.text_field :date_accounting, value: (f.object.date_accounting ? l(f.object.date_accounting, format: '%d.%m.%Y') : ''), class: 'form-control datepicker' %>
      </div>
    </div>

    <div class="row">
      <%= f.label :paid, 'Оплачено', class: 'control-label col col-sm-2' %>
      <div class="col col-sm-10">
        <% paidd= [] %>
        <% [{type: 'да', key:  'да'}, {type: 'нет', key: 'нет'}].each do |fin| %>
            <% paidd << (OpenStruct.new fin) %>
        <% end %>
        <%= f.select :paid, options_from_collection_for_select(paidd, :key, :type, @review.paid), {include_blank: true }, class: 'form-control' %>
      </div>
    </div>

    <div class="row">
      <%= f.label :note, 'Примечание', class: 'col col-lg-2 control-label' %>
      <div class="col col-sm-10">
        <%= f.text_field :note, class: 'form-control' %>
      </div>
    </div>

    <div class="row">
      <div class="col col-lg-10 col-offset-2">
        <%= f.submit "Сохранить изменения", class: 'btn btn-warning' %>
        или
        <%= link_to 'назад к структуре', reviews_path, class: 'btn btn-primary' %>
      </div>
    </div>
<%end%>

<script>
    $('form').validate({
        rules: {
            "review[contract_date]": {required: true}
        },
        messages: {
            "review[contract_date]": {
                required: 'Поле не должно быть пустым!'
            }
        }
    });
</script>
