<% @reviews_page.each do |review| %>
    <% if review.status == 'завершен' then %>
        <tr class="success">
          <td><%= review.number_review %></td>
          <td><%= l(review.date_registration) if review.date_registration %></td>
          <td><%= review.contract_number %></td>
          <td><%= l(review.contract_date) if review.contract_date %></td>
          <td><%= review.ordt %></td>
          <td><%= review.author %></td>
          <td><%= review.university.nil? ? '—' : review.university.name %></td>
          <td><%= review.title %></td>
          <td><%= review.university_author.nil? ? '—' : review.university_author.name %></td>
          <td><%= l(review.date_auth_university) if review.date_auth_university%></td>
          <td><%= review.evaluation%></td>
          <td>
            <%= link_to 'Show', review_path(review),class: 'btn btn-primary' %>
          </td>
          <td>
            <%= link_to 'Edit', edit_review_path(review),class: 'btn btn-warning' %>
          </td>
          <td>
            <%= link_to 'Del', review_path(review), class: 'btn btn-danger',
                        method: :delete,
                        data: { confirm: 'Вы уверены? Запись будет удалена!' } %>
          </td>
        </tr>
    <% else if review.status == 'истек' then %>
        <tr class="warning" >
          <td><%= review.number_review %></td>
          <td><%= l(review.date_registration) if review.date_registration %></td>
          <td><%= review.contract_number %></td>
          <td><%= l(review.contract_date) if review.contract_date %></td>
          <td><%= review.ordt %></td>
          <td><%= review.author %></td>
          <td><%= review.university.nil? ? '—' : review.university.name %></td>
          <td><%= review.title %></td>
          <td><%= review.university_author.nil? ? '—' : review.university_author.name %></td>
          <td><%= l(review.date_auth_university) if review.date_auth_university %></td>
          <td><%= review.evaluation%></td>
          <td>
            <%= link_to 'Show', review_path(review),class: 'btn btn-primary' %>
          </td>
          <td>
            <%= link_to 'Edit', edit_review_path(review),class: 'btn btn-warning' %>
          </td>
          <td>
            <%= link_to 'Del', review_path(review), class: 'btn btn-danger',
                        method: :delete,
                        data: { confirm: 'Вы уверены? Запись будет удалена!' } %>
          </td>
        </tr>
        <% else %>
        <tr>
          <td><%= review.number_review %></td>
          <td><%= l(review.date_registration) if review.date_registration %></td>
          <td><%= review.contract_number %></td>
          <td><%= l(review.contract_date) if review.contract_date %></td>
          <td><%= review.ordt %></td>
          <td><%= review.author %></td>
          <td><%= review.university.nil? ? '—' : review.university.name %></td>
          <td><%= review.title %></td>
          <td><%= review.university_author.nil? ? '—' : review.university_author.name %></td>
          <td><%= l(review.date_auth_university) if review.date_auth_university %></td>
          <td><%= review.evaluation%></td>
          <td>
            <%= link_to 'Show', review_path(review),class: 'btn btn-primary' %>
          </td>
          <td>
            <%= link_to 'Edit', edit_review_path(review),class: 'btn btn-warning' %>
          </td>
          <td>
            <%= link_to 'Del', review_path(review), class: 'btn btn-danger',
                        method: :delete,
                        data: { confirm: 'Вы уверены? Запись будет удалена!' } %>
          </td>
        </tr>
    <% end %>
<% end %>
<% end %>