<div class="page-header">
  <h1>Рецензиирование изданий</h1>
  <h3>Cписок всех рецензий</h3>
</div>

<div>
  <a href="/reviews/new" class="btn btn-primary">Новая рецензия</a>
</div>

<table class="table table-condensed">
  <thead>
  <tr>
    <th>№ рец.</th>
    <th>Дата регистрации</th>
    <th>№ договора</th>
    <th>Дата договора</th>
    <th>Тип заказа</th>
    <th>Автор</th>
    <th>Учебное заведение</th>
    <th>Название пособия</th>
    <th>Уполномоченный ВУЗ</th>
    <th>Дата отправки в ВУЗ</th>
    <th>Тип отзыва</th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @reviews.each do |review| %>
      <tr>
        <td><%= review.number_review %></td>
        <td><%= review.date_registration %></td>
        <td><%= review.contract_number %></td>
        <td><%= review.contract_date %></td>
        <td><%= review.ordt %></td>
        <td><%= review.author %></td>
        <td><%= review.university.name if review.university %></td>
        <td><%= review.title %></td>
        <td><%= review.university_author ? review.university_author.name : '-'  %></td>
        <td><%= review.date_auth_university %></td>
        <td><%= review.evaluation%></td>
        <td>
          <%= link_to 'Show', review_path(review)%>
        </td>
        <td>
          <%= link_to 'Edit', edit_review_path(review)%>
        </td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div>
  <%= paginate_with_info @reviews %>
</div>