<td class="nowrap">
  <%= a.number %>
</td>

<td>
  <%= a.entrant.full_name %>
</td>

<td>
  <% if a.order.signing_date.present? %>
    от <%= l(a.order.signing_date.to_date) %> № <%= a.order.number %>
  <% else %>
    формируется приказ о зачислении
  <% end %>
</td>

<td>
  <%= a.abitpoints %>
</td>
