<script>
  $(function() {
    $('#page_sidebar').next().removeClass('col-sm-9').addClass('col-sm-12');
    $('#page_sidebar').hide();
    $('#return_up').hide();
  });
</script>

<div class="page-header only-screen">
  <h1>Конкурсные списки и приказы о зачислении</h1>
</div>

<%= render 'switch' %>

<% if @contest.any? %>
  <div class="print-show" style="display: none; margin-top: -10px;">
  <h4>
  <div class="row">
    <div class="col-sm-6 pull-right">
        <p>УТВЕРЖДАЮ</p>
        <p>Председатель</p>
        <p>Приемной комиссии</p>
        <p>МГУП имени Ивана Федорова</p>
        <br><br><br>
        <p>____________________</p>
        <p>К. В. Антипов</p>
    </div>
  </div>
  </h4>
  <h1 class="text-center">Списки поступающих</h1>
  <br>
  <h4>Направление подготовки: <strong><%= @direction.description %></strong></h4>
  <h4>Форма обучения: <strong><%= @contest.first.education_form_name %></strong></h4>
  <h4>Основа обучения: <strong><%= @contest.first.budget_name %></strong></h4>
  <br>
  </div>
<% end %>

<% if @out_of_competition.any? %>
  <h2>Зачисленные без вступительных испытаний</h2>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th></th>
        <th>Рег. номер</th>
        <th>Поступающий</th>
        <th>Приказ о зачислении</th>
        <th>Сумма баллов</th>
      </tr>
    </thead>
    <tbody>
      <% @out_of_competition.sort_by { |a| a.entrant.full_name }.each_with_index do |a, i| %>
        <tr>
          <td><%= i + 1 %></td>
          <%= render partial: 'enrolled', locals: { a: a } %>
        </tr>
        <% @total_places -= 1 %>
      <% end %>
    </tbody>
  </table>
<% end %>

<% if @crimea.any? %>
  <h2>Зачисленные на выделенные места (Крым)</h2>
  <table class="table table-striped table-bordered">
    <thead>
    <tr>
      <th></th>
      <th>Рег. номер</th>
      <th>Поступающий</th>
      <th>Приказ о зачислении</th>
      <th>Сумма баллов</th>
    </tr>
    </thead>
    <tbody>
    <% @crimea.sort_by.sort_by { |a| a.entrant.full_name }.each_with_index do |a, i| %>
      <tr>
        <td><%= i + 1 %></td>
        <%= render partial: 'enrolled', locals: { a: a } %>
      </tr>
      <% @crimea_places -= 1 %>
      <% @total_places -= 1 %>
    <% end %>
    </tbody>
  </table>
<% end %>

<% if @foreign_enrolled.any? %>
  <h2>Зачисленные на выделенные места (иностранцы)</h2>
  <table class="table table-striped table-bordered">
      <thead>
      <tr>
          <th></th>
          <th>Рег. номер</th>
          <th>Поступающий</th>
          <th>Приказ о зачислении</th>
          <th>Сумма баллов</th>
      </tr>
      </thead>
      <tbody>
      <% @foreign_enrolled.sort_by.sort_by { |a| a.entrant.full_name }.
        each_with_index do |a, i| %>
        <tr>
            <td><%= i + 1 %></td>
            <%= render partial: 'enrolled', locals: { a: a } %>
        </tr>
        <% @foreign_places -= 1 %>
        <% @total_places -= 1 %>
      <% end %>
      </tbody>
  </table>
<% end %>

<% if @foreign.any? %>
  <h2>Поступающие на выделенные места (иностранцы)</h2>
  <table class="table table-striped table-bordered">
      <thead>
      <tr>
          <th></th>
          <th>Рег. номер</th>
          <th>Поступающий</th>
          <% @exam_names_foreign.each do |_, name| %>
            <th><%= name.html_safe %></th>
          <% end %>
          <th>Сумма баллов</th>
          <th>Договор</th>
      </tr>
      </thead>
      <tbody>
      <% @foreign.sort_by(&Entrance::Application.sort_applications_for_sort_by)
           .reverse.each_with_index do |a, i| %>
        <tr>
            <td><%= i + 1 %></td>
            <%= render partial: 'contest', locals: { a: a, success:  true } %>
        </tr>
      <% end %>
      </tbody>
  </table>
<% end %>

<% if @special_rights.any? %>
  <h2>Зачисленные по квоте приема лиц, имеющих особое право</h2>
  <table class="table table-striped table-bordered">
    <thead>
    <tr>
      <th></th>
      <th>Рег. номер</th>
      <th>Поступающий</th>
      <th>Приказ о зачислении</th>
      <th>Сумма баллов</th>
    </tr>
    </thead>
    <tbody>
    <% @special_rights.sort_by { |a| a.entrant.full_name }.each_with_index do |a, i| %>
      <tr>
        <td><%= i + 1 %></td>
          <%= render partial: 'enrolled', locals: { a: a } %>
      </tr>
      <% @quota_places -= 1 %>
      <% @total_places -= 1 %>
    <% end %>
    </tbody>
  </table>
<% end %>

<% if @organization.any? %>
  <h2>Зачисленные по квоте целевого приема</h2>

  <% @organization.group_by { |a| a.competitive_group_target_item }.each do |target_item, appls| %>
    <% target_places = target_item.number_target_o %>
    <h3>
      Зачисленные по договору от <%= l(target_item.target_organization.contract_date) %>
      № <%= target_item.target_organization.contract_number %>,
      <br>
      <%= target_item.target_organization.name %>
    </h3>
    <table class="table table-striped table-bordered">
      <thead>
      <tr>
        <th></th>
        <th>Рег. номер</th>
        <th>Поступающий</th>
        <th>Приказ о зачислении</th>
        <th>Сумма баллов</th>
      </tr>
      </thead>
      <tbody>
      <% appls.sort_by { |a| a.entrant.full_name }.each_with_index do |a, i| %>
        <tr>
          <td><%= i + 1 %></td>
          <%= render partial: 'enrolled', locals: { a: a } %>
        </tr>
        <% target_places -= 1 %>
        <% @total_places -= 1 %>
      <% end %>
      </tbody>
    </table>
  <% end %>
<% end %>

<% if @contest_enrolled.any? %>
  <h2>Зачисленные по общему конкурсу</h2>
  <table class="table table-striped table-bordered">
    <thead>
    <tr>
      <th></th>
      <th>Рег. номер</th>
      <th>Поступающий</th>
      <th>Приказ о зачислении</th>
      <th>Сумма баллов</th>
    </tr>
    </thead>
    <tbody>
    <% @contest_enrolled.sort_by { |a| a.entrant.full_name }.
        each_with_index do |a, i| %>
      <tr>
        <td><%= i + 1 %></td>
        <%= render partial: 'enrolled', locals: { a: a } %>
      </tr>
      <% @total_places -= 1 %>
    <% end %>
    </tbody>
  </table>
<% end %>

<% if @contest.any? %>
  <% if @contest.first.payed? %>
    <% @total_places = 0 %>
    <% @first_step_places = 0 %>
    <h2>Конкурсные списки поступающих</h2>
  <% else %>
    <h2>Конкурсные списки поступающих на места в рамках контрольных цифр приема</h2>

    <p class="lead">
      <strong>Доступное количество мест — <%= @total_places %>.</strong>
    </p>
    <p class="lead">
      <% @first_step_places = (@total_places * 0.8).ceil %>
      <strong>
        Доступное количество мест для зачисления на первом этапе — <%= @first_step_places %>.
      </strong>
    </p>
  <% end %>
  <table class="table table-striped table-bordered">
    <thead>
    <tr>
      <th></th>
      <th>Рег. номер</th>
      <th>Поступающий</th>
      <% @exam_names.each do |_, name| %>
        <th><%= name.html_safe %></th>
      <% end %>
      <th>Сумма баллов</th>
      <th><%= '15' == params[:payment] ? 'Договор' : 'Оригинал' %></th>
    </tr>
    </thead>
    <tbody>
    <% @contest.sort_by(&Entrance::Application.sort_applications_for_sort_by).reverse.
        each_with_index do |a, i| %>
      <% success = false %>
      <% success = true if @total_places > 0 && a.original? %>
      <tr class="<%= success && @first_step_places > 0 ? 'success' : (@total_places > 0 ? 'warning' : '') %>">
        <td><%= i + 1 %></td>
        <%= render partial: 'contest', locals: { a: a, success: (@contest.first.payed? || success) } %>
      </tr>
      <% @total_places -= 1 if success %>
      <% @first_step_places -= 1 if success %>
    <% end %>
    </tbody>
  </table>
<% else %>
  <br>
  <p class="lead">
    По данным условиям приёма набор не осуществляется.
  </p>
  <br><br><br><br><br><br><br><br><br><br><br><br><br>
  <br><br><br><br><br><br><br><br><br><br><br><br><br>
<% end %>

<% if @current_user && can?(:manage, Entrance::ExamResult) %>
<p class="alert alert-success" id="allert-average-ege"></p>
<% end %>
