<script>
  $(function() {
    $('#page_sidebar').next().removeClass('col-sm-9').addClass('col-sm-12');
    $('#page_sidebar').hide();
    $('#return_up').hide();
  });
</script>

<div class="page-header only-screen">
  <h1>Конкурсные списки и приказы о зачислении</h1>
</div>

<%= render 'switch' %>

<div class="print-show" style="display: none; margin-top: -10px;">
<h4>
<div class="row">
  <div class="col-sm-6 pull-right">
      <p>УТВЕРЖДАЮ</p>
      <p>Председатель</p>
      <p>Приемной комиссии</p>
      <p>МГУП имени Ивана Федорова</p>
      <br><br><br>
      <p>____________________</p>
      <p>К. В. Антипов</p>
  </div>
</div>
</h4>
<h1 class="text-center">Списки поступающих</h1>
<br>
<h4>Направление подготовки: <strong><%= @direction.description %></strong></h4>
<h4>Форма обучения: <strong><%= @contest.first.education_form_name %></strong></h4>
<h4>Основа обучения: <strong><%= @contest.first.budget_name %></strong></h4>
<br>
</div>

<% if @out_of_competition.any? %>
  <h2>Без вступительных испытаний</h2>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th></th>
        <th>Рег. номер</th>
        <th>Поступающий</th>
        <th>Основание</th>
        <th>Оригинал</th>
      </tr>
    </thead>
    <tbody>
      <% @out_of_competition.sort_by { |a| [a.original? ? 0 : 1, a.number] }.each_with_index do |a, i| %>
        <tr class="<%= 'success' if a.original? %>">
          <td><%= i + 1 %></td>
          <%= render partial: 'out_of_competition', locals: { a: a } %>
        </tr>
        <% @total_places -= 1 if a.original? %>
      <% end %>
    </tbody>
  </table>
<% end %>

<% if @crimea.any? %>
  <h2>Выделенные места (Крым)</h2>
  <p class="lead">
    <strong>Доступное количество мест — <%= @crimea_places %>.</strong>
  </p>
  <table class="table table-striped table-bordered">
    <thead>
    <tr>
      <th></th>
      <th>Рег. номер</th>
      <th>Поступающий</th>
      <% @exam_names_crimea.each do |_, name| %>
        <th><%= name.html_safe %></th>
      <% end %>
      <th>Сумма баллов</th>
      <th>Оригинал</th>
    </tr>
    </thead>
    <tbody>
    <% @crimea.sort_by(&Entrance::Application.sort_applications_for_sort_by).reverse.
         each_with_index do |a, i| %>
      <% success = false %>
      <% success = true if @crimea_places > 0 && a.original? %>
      <tr class="<%= 'success' if success %>">
        <td><%= i + 1 %></td>
        <%= render partial: 'contest', locals: { a: a } %>
      </tr>
      <% @crimea_places -= 1 if success %>
      <% @total_places -= 1 if success %>
    <% end %>
    <% @total_places -= @crimea_places if @crimea_places > 0 %>
    </tbody>
  </table>
<% end %>

<% if @special_rights.any? %>
  <h2>По квоте приема лиц, имеющих особое право</h2>
  <p class="lead">
    <strong>Доступное количество мест — <%= @quota_places %>.</strong>
  </p>
  <table class="table table-striped table-bordered">
    <thead>
    <tr>
      <th></th>
      <th>Рег. номер</th>
      <th>Поступающий</th>
      <% @exam_names.each do |_, name| %>
        <th><%= name.html_safe %></th>
      <% end %>
      <th>Сумма баллов</th>
      <th>Оригинал</th>
    </tr>
    </thead>
    <tbody>
    <% @special_rights.sort_by(&Entrance::Application.sort_applications_for_sort_by).reverse.
         each_with_index do |a, i| %>
      <% success = false %>
      <% success = true if @quota_places > 0 && a.original? %>
      <tr class="<%= 'success' if success %>">
        <td><%= i + 1 %></td>
        <%= render partial: 'contest', locals: { a: a } %>
      </tr>
      <% @quota_places -= 1 if success %>
      <% @total_places -= 1 if success %>
    <% end %>
    <% @total_places -= @quota_places if @quota_places > 0 %>
    </tbody>
  </table>
<% end %>

<% if @organization.any? %>
  <h2>По квоте целевого приема</h2>

  <% @organization.group_by { |a| a.competitive_group_target_item }.each do |target_item, appls| %>
    <% target_places = target_item.number_target_o %>
    <h3>
      Договор № <%= target_item.target_organization.contract_number %>
      от <%= l(target_item.target_organization.contract_date) %>,
      <br>
      <%= target_item.target_organization.name %>
    </h3>
    <p class="lead">
      <strong>Доступное количество мест — <%= target_places %>.</strong>
    </p>
    <table class="table table-striped table-bordered">
      <thead>
      <tr>
        <th></th>
        <th>Рег. номер</th>
        <th>Поступающий</th>
        <% @exam_names.each do |_, name| %>
          <th><%= name.html_safe %></th>
        <% end %>
        <th>Сумма баллов</th>
        <th>Оригинал</th>
      </tr>
      </thead>
      <tbody>
      <% appls.sort_by(&Entrance::Application.sort_applications_for_sort_by).reverse.
          each_with_index do |a, i| %>
        <% success = false %>
        <% success = true if target_places > 0 && a.original? %>
        <tr class="<%= 'success' if success %>">
          <td><%= i + 1 %></td>
          <%= render partial: 'contest', locals: { a: a } %>
        </tr>
        <% target_places -= 1 if success %>
        <% @total_places -= 1 if success %>
      <% end %>
      <% @total_places -= target_places if target_places > 0 %>
      </tbody>
    </table>
  <% end %>
<% end %>

<% if @contest.any? %>
  <% if @contest.first.payed? %>
    <h2>Конкурсные списки поступающих</h2>
  <% else %>
    <h2>Конкурсные списки поступающих на места в рамках контрольных цифр приема</h2>

    <p class="lead">
      <strong>Доступное количество мест — <%= @total_places %>.</strong>
    </p>
  <% end %>
  <table class="table table-striped table-bordered">
    <thead>
    <tr>
      <th></th>
      <th>Рег. номер</th>
      <th>Поступающий</th>
      <% @exam_names.each do |_, name| %>
        <th><%= name.html_safe %></th>
      <% end %>
      <th>Сумма баллов</th>
      <th>Оригинал</th>
    </tr>
    </thead>
    <tbody>
    <% @contest.sort_by(&Entrance::Application.sort_applications_for_sort_by).reverse.
        each_with_index do |a, i| %>
      <% success = false %>
      <% success = true if @total_places > 0 && a.original? %>
      <tr class="<%= 'success' if success %>">
        <td><%= i + 1 %></td>
        <%= render partial: 'contest', locals: { a: a } %>
      </tr>
      <% @total_places -= 1 if success %>
    <% end %>
    </tbody>
  </table>
<% else %>
  <br>
  <p class="lead">
    По данным условиям приёма набор не осуществляется.
  </p>
  <br><br><br><br><br><br><br><br><br><br><br><br><br>
  <br><br><br><br><br><br><br><br><br><br><br><br><br>
<% end %>
