<%= form_tag nil, method: :get, class: 'filter-block', id: 'filterforprices' do %>
  <div class="row">
    <div class='col col-lg-5'>
      <%= hidden_field_tag :faculty, params[:faculty], class: 'ajax-faculty hidden-pill-values' %>
      <%= pill_tabs('faculty', Department.faculties.collect {|f| [f.id, f.abbreviation ]}, 'faculty') %>
    </div>
    <div class="col col-lg-7">
      <%= select_tag 'speciality',
           options_from_collection_for_select(Speciality.all, :id, :full_name, params[:speciality]),
           prompt: 'все специальности', class: 'ajax-speciality-all form-control' %>
    </div>
  </div>
  <div class="row">
    <div class="col col-lg-2 pull-right">
      <button type="submit" class="btn btn-info">
        <span class="glyphicon glyphicon-search"></span>
      </button>

      <%= link_to finance_payment_types_path, class: 'btn btn-danger pull-right' do %>
        <span class="glyphicon glyphicon-remove"></span>
      <% end %>
    </div>
    <div class="col col-lg-5">
      <%= hidden_field_tag :form, params[:form], class: 'hidden-pill-values' %>
      <%= pill_tabs('form', [['101', 'очная'], ['102', 'очно-заочная'], ['103', 'заочная']], 'form') %>
    </div>
    <div class="col col-lg-3">
      <%= select_tag 'year', options_for_select(@years, params[:year]), prompt: 'все годы', class: 'form-control' %>
    </div>
  </div>
<% end %>