<%= form_tag nil, method: :get, class: 'filter-block', id: 'filterforprices' do %>
  <div class="row">
    <div class="col col-lg-2 pull-right">
      <button type="submit" class="btn btn-info">
        <span class="glyphicon glyphicon-search"></span>
      </button>

      <%= link_to finance_payment_types_path, class: 'btn btn-danger pull-right' do %>
        <span class="glyphicon glyphicon-remove"></span>
      <% end %>
    </div>
    <div class='col col-lg-7'>
      <%= hidden_field_tag :faculty %>
      <%= pill_tabs('faculty', Department.faculties.collect {|f| [f.id, f.abbreviation ]}, 'faculty', class: 'ajax-faculty') %>
    </div>
    <div class="col col-lg-3">
      <%= text_field_tag 'speciality_name', params[:speciality], placeholder: 'Специальность', class: 'form-control' %>
    </div>
  </div>
  <div class="row">
    <div class="col col-lg-7">
      <%= hidden_field_tag :form %>
      <%= pill_tabs('form', [['101', 'очная'], ['102', 'очно-заочная'], ['103', 'заочная'],
                             ['105', 'дистанционная']], 'form', class: 'ajax-form') %>
    </div>
    <div class="col col-lg-3">
      <%= text_field_tag 'year', params[:year], placeholder: 'Год поступления', class: 'form-control' %>
    </div>
  </div>
<% end %>