<div class="page-header">
  <h1>Стоимость обучения в МГУП имени Ивана Федорова</h1>
</div>

<%= render 'filter' %>

<% if @payment_types.any? %>
<%= link_to 'Распечатать',
            finance_payment_types_path(params.merge({ format: :pdf })),
            target: :blank, class: 'btn btn-success btn-lg' %>

<table class="table table-hover">
  <thead>
  <tr>
    <th>Факультет</th>
    <th>Направление, специальность</th>
    <th>Год поступления</th>
    <th>Форма обучения</th>
    <th>Курс</th>
    <th>Год</th>
    <th>Стоимость за год</th>
    <th>Общая стоимость</th>
  </tr>
  </thead>
  <tbody id="for_payment_types">
    <% @payment_types.each do |price| %>
      <tr>
        <td><%= price.speciality.faculty.abbreviation %></td>
        <td><%= price.speciality.name %><br><%= price.speciality.code %></td>
        <td><%= price.year %></td>
        <td><%= price.form_of_study %></td>
        <% i = 1 %>
        <td>
          <% price.sum[:by_year].each do %>
            <%= i %><br>
            <% i += 1 %>
          <% end %>
        </td>
        <td>
          <% price.sum[:by_year].each_with_index do |x, index| %>
            <%= price.year + index %><br>
          <% end %>
        </td>
        <td class="nowrap">
          <% price.sum[:by_year].each do |year, sum| %>
            <%= number_to_currency(sum) %><br>
          <% end %>
        </td>
        <td class="nowrap"><strong><%= number_to_currency(price.sum[:total]) %></strong></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
  <p class="lead">Информации по стоимости обучения не было найдено, попробуйте изменить параметры поиска</p>
<% end %>
