<!DOCTYPE html>
<html>
<head>
  <title>Matrix</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application-print', media: 'print', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
  <a id="matrixHQ" class="navbar-brand" href="<%= root_url %>">
    <strong>Матрица</strong>
  </a>

  <%= render_navigation context: :auth, renderer: :navbar, expand_all: true %>
</div>

<div class="container">
  <div class="row">
    <div id="page_sidebar" class="col-sm-3 hidden-print">
      <%= render_navigation context: :sidebar, expand_all: true %>
    </div>
    <div id="page_content" class="col-sm-9">
      <%= render_navigation renderer: :breadcrumbs, context: :sidebar %>
      <%= yield %>
    </div>
  </div>
</div>
</body>
</html>
