<!DOCTYPE html>
<html>
<head>
  <title>Matrix</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script type="text/javascript" src="//yandex.st/share/share.js"
          charset="utf-8"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-322600-25', 'mgup.ru');
  ga('require', 'displayfeatures');
  ga('send', 'pageview');
</script>
<div class="navbar navbar-inverse navbar-fixed-top">
  <a id="matrixHQ" class="navbar-brand" href="<%= root_url %>">
    <strong>Матрица.МГУП</strong>
  </a>

  <%= render_navigation context: :auth, renderer: :navbar, expand_all: true %>
</div>

<div class="container">
  <div class="row">
    <div id="page_sidebar" class="col-sm-3 hidden-print">
      <%= link_to '#', class: 'btn btn-block btn-warning btn-lg', id: 'trip' do %>
        <span class='glyphicon glyphicon-comment'></span> Помощь
      <% end %>
      <br>
      <%= render_navigation context: :sidebar, expand_all: true %>
    </div>
    <div class="col-sm-9">
      <%= yield %>
    </div>
  </div>
  <div id="return_up only-screen">
    <span class='glyphicon glyphicon-chevron-down'> </span>
  </div>
</div>

<div id="footer" class="footer">
  <div class="container">
    <h3>Контактная информация: Отдел информационных систем <a href="mailto:ois@mgup.ru">ois@mgup.ru</a> </h3>
    <div class="row">
      <div class="col-sm-3">Виталий Шляга <a href="mailto:vshlyaga@acm.org">vshlyaga@acm.org</a></div>
      <div class="col-sm-3">Анна Воронкина <a href="mailto:vau2007@rambler.ru">vau2007@rambler.ru</a></div>
      <div class="col-sm-3">Григорий Шишкин <a href="mailto:fallmist42@gmail.com">fallmist42@gmail.com</a></div>
      <div class="col-sm-3">каб. 1320 <strong style="color: rgb(42, 100, 150);">+7 499 976-43-09</strong></div>
    </div>
  </div>
</div>

</body>
</html>
