<!DOCTYPE html>
<html class="login-bg">
<head>
  <title>MatrixHq</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
  <a class="navbar-brand" href="<%= root_url %>">
    <strong>Матрица</strong>
  </a>
</div>

<div class="container">
  <%= yield %>
</div>

</body>
</html>
